<template>
     <v-dialog
      v-model="dialog"
      max-width="600"
    >
      <v-card>
        <v-app-bar>
            <v-icon small class="pa-1">mdi-map-marker</v-icon> 
            <h4>Qu'est-ce que le rayon de diffusion ?</h4>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="dialog=false"><v-icon>mdi-close</v-icon></v-btn>
        </v-app-bar>

        <!-- <v-card-title class="headline">
            Qu'est-ce que le rayon de diffusion ?
        </v-card-title> -->

        <v-card-text><br>
          <v-icon small>mdi-information-outline</v-icon> 
          Le rayon de diffusion permet de définir la zone géographique (en bleu) qui recevra votre message. 
          L'ensemble des membres localisés dans cette zone recevront ce message, 
          tandis que ceux qui sont à l'extérieur n'y auront pas accès.
        </v-card-text>

        <v-card-text>
          <v-icon small>mdi-information-outline</v-icon> 
          Votre position géographique principale (définie dans vos paramètres) 
          est utilisée par défaut pour définir le centre de la zone de diffusion.
        </v-card-text>
        
        <v-card-text class="secondary--text">
          <v-icon color="secondary" small>mdi-information-outline</v-icon> 
          Avant de publier votre message, vous avez la possibilité de déplacer le centre de la zone si vous le souhaitez.
        </v-card-text>

       <v-card-title class="headline">
            <small>Limite de diffusion</small>
        </v-card-title>
        <v-card-text>
          <v-icon small>mdi-information-outline</v-icon> 
          Vous pouvez utiliser jusqu'à 1000 kilomètres par jour, répartis sur tous vos messages de la journée. 
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>


          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Fermer la fenêtre
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: ['show'],
    data () {
      return {
        dialog: false,
      }
    },
    mounted: function(){
        this.dialog = false
    },
    watch: {
        show: {
            // the callback will be called immediately after the start of the observation
            immediate: true, 
            handler (val, oldVal) {
                console.log("watch preSelectUid", val, oldVal)
                if(val != null)
                    this.dialog = true
                
            }
        },
    }
  }
</script>
