<template>
     <v-dialog
      v-model="dialog"
      max-width="600"
    >
      <v-card>
        <v-app-bar>
            <v-icon small class="pa-1">mdi-map-marker</v-icon> 
            <h4>A propos de la vidéo "Qu'allons-nous faire ?"...</h4>
            <v-spacer></v-spacer>
            <v-btn class="mr-3" icon @click="dialog=false"><v-icon>mdi-close</v-icon></v-btn>
        </v-app-bar>

        <!-- <v-card-title class="headline">
            Qu'est-ce que le rayon de diffusion ?
        </v-card-title> -->

        <v-card-text><br>
          <v-icon small>mdi-information-outline</v-icon> 
          Cette vidéo est l'oeuvre de la chaine Youtube 
          <a target="_blank" href="https://www.youtube.com/channel/UCyZvhM3scPMcemgiNSv4UtA">Cerveau non disponible</a>
          <br><br>
          Les auteurs de cette vidéo n'ont aucun lien avec le réseau Plaanet, et pourtant, 
          cette vidéo exprime avec brio sa plus profonde raison d'être, ainsi que son objectif.
          
          <br><br>
          Qu'allons-nous faire du reste de nos vies ?<br><br>
          Nous pouvons en décider collectivement, si nous parvenons à nous organiser pour prendre en compte l'avis du plus grand nombre,
          et construire ensemble des réponses communes.

          <br><br>
          Pour faire simple : sont invités sur Plaanet tous ceux qui se reconnaissent dans cette vidéo et qui souhaitent pouvoir discuter les uns avec les autres..
        
          <br><br>
          A travers les outils de géo-communication de la plateforme, il devient possible d'entrer en contact avec des gens qui vivent
          près de chez-vous, pour discuter, réfléchir, et agir localement.
        
        <br><br>
          Alors, qu'allons-nous faire du reste de nos vies ?
        
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>


          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Fermer la fenêtre
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
  export default {
    props: ['show'],
    data () {
      return {
        dialog: false,
      }
    },
    mounted: function(){
        this.dialog = false
    },
    watch: {
        show: {
            // the callback will be called immediately after the start of the observation
            immediate: true, 
            handler (val, oldVal) {
                console.log("watch preSelectUid", val, oldVal)
                if(val != null)
                    this.dialog = true
                
            }
        },
    }
  }
</script>
