<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Plaanet</title>
    <meta name="description" content="Le réseau qui diffuse vos messages partout sur la Plaanet">
    <meta property="og:title" content="Plaanet - Réseau social rebelle">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Le réseau qui diffuse vos messages partout sur la Plaanet">
    <meta property="og:url" content="https://plaanet.io">
    <meta property="og:image" content="https://plaanet.io/logo-earth.png">
    <meta property="og:site_name" content="Plaanet - Réseau social rebelle">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Nexxo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <style>
    .v-application{
      font-family: 'Raleway', sans-serif;
      font-weight: 800 !important;
      letter-spacing: unset !important;
    }
  </style>
</html>
