<template>
<div>


  <v-row class="d-flex" v-if="instance == null">
    <v-col class="mx-auto" style="max-width:400px;">
      <v-card class="pa-5 text-center">
        <img alt="Plaanet" src="../../assets/nexxo-logo.png" height=80 style="position: absolute;margin-left: -13px;margin-top: -12px;">
        <v-btn style="border-width:3px;" :loading="true" fab outlined color="white"><v-icon>mdi-close</v-icon></v-btn><br><br>
        <h3 class="font-konkretika">Chargement des données</h3>
      </v-card>
    </v-col>
  </v-row>

  <v-row class="d-flex" v-if="instance != null">

    <l-map ref="nodeMap"  :zoom="zoom"  
            :maxZoom="11" :minZoom="3" :center="mapCenter"  
            id="map-container" class="admin-map" 
            style="width:100%;height:350px;margin-top:-8px;" 
        >
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <l-marker v-for="(instance, i) in network" 
                  :key='i' color="red" :icon="getIcon(instance)"
                  :lat-lng="[instance.position.coordinates[1], instance.position.coordinates[0]]">
            <l-popup class="" open="true">
              <h1 class="mb-2 white--text">
                  <v-icon color="white" small>mdi-spider-web</v-icon> 
                  {{ instance.name }} - <small>{{ instance.city }} {{ instance.state }}</small>
              </h1>
              <span class="white--text">{{ instance.url }}:{{ instance.port }}</span>
              
              <br><br><hr>

              <v-row class="d-flex">
                <v-col cols="12" md="4" sm="4" class="text-center">
                  <span style="font-size:20px;">
                    {{ instance.nbUsers }}
                  </span> <v-icon small>mdi-account-network</v-icon>
                  <br>Local users
                </v-col>

                <v-col cols="12" md="4" sm="4" class="text-center">
                  <span style="font-size:20px;">
                    {{ instance.nbPosts }}
                  </span> <v-icon small>mdi-newspaper-variant-multiple</v-icon>
                  <br>Local posts
                </v-col>

                <v-col cols="12" md="4" sm="4" class="text-center mb-3">
                  <span style="font-size:20px;">
                    {{ instance.nbNotifs }}
                  </span> <v-icon small>mdi-bell</v-icon>
                  <br>Local notifs
                </v-col>
              </v-row>
            </l-popup>
        </l-marker>
    </l-map>

    <div style="position:absolute; top:15px; right:10px;" class="text-center"
         v-if="contextIsAdmin">
      <v-btn large  class="white--text" color="ml-5 mr-3 blue darken-1 mb-2" 
            title="Check node activity"
            @click="checkActivity()" >
        <v-icon>mdi-check</v-icon> 
        <span class="d-none d-sm-inline">Check activity</span>
      </v-btn>
      <!-- <v-btn large class="white--text" 
            color="ml-3 mr-3 secondary darken-2 mb-2" 
            title="Update instance informations"
            @click="getInstanceInfo()">
        <v-icon>mdi-refresh</v-icon> 
        <span class="d-none d-sm-inline">Update infos</span>
      </v-btn> -->
      <!-- only for dev : créer un jeu de données pour tester le graphique -->
      <!-- <v-btn v-if="true" large  class="white--text" 
            color="ml-3 blue darken-4 mb-2" 
            title="Simulate new state history"
            @click="simulateHistory()">
        <v-icon>mdi-auto-fix</v-icon> 
        <span class="d-none d-sm-inline">New history</span>
      </v-btn> -->
    </div>

    <v-col cols="12" md="12" sm="12" class="pa-0">
      <v-alert border="bottom" colored-border 
               color="blue" elevation="2" class="pa-0 pb-5">
        <v-row class="d-flex">
          <v-col cols="6" md="3" sm="6" class="text-center">
            <span style="font-size:50px;">
              {{ nbUserGlobal }}
            </span> <br><v-icon>mdi-account-group</v-icon>
            Total users
          </v-col>

          <v-col cols="6" md="3" sm="6" class="text-center">
            <span style="font-size:50px;">
              {{ nbPostGlobal }}
            </span> <br><v-icon>mdi-newspaper-variant-multiple</v-icon>
            Total posts
          </v-col>

          <v-col cols="6" md="3" sm="6" class="text-center">
            <span style="font-size:50px;">
              {{ nbNotifGlobal }}
            </span> <br><v-icon>mdi-bell</v-icon>
            Total notifs
          </v-col>

          <v-col cols="6" md="3" sm="6" class="text-center">
            <span style="font-size:50px;">
              {{ nbInstanceActive }}
            </span> <br><v-icon>mdi-spider-web</v-icon>
            Active nodes
          </v-col>

        </v-row>
      </v-alert>
    </v-col>

  </v-row>

  <v-row class="d-flex" v-if="instance != null">

    <v-col cols="12" md="4" sm="4" class="text-center">
      <v-alert height="" border="top" colored-border class="text-center"
              :color="instance.isActive ? 'yellow' : 'red'" elevation="2">
          <small class="yellow--text">Instance locale</small>
          <h1><v-icon>mdi-spider-web</v-icon> {{ instance.name }}</h1>
          {{ instance.city }} {{ instance.state }}<br>
          <small>{{ instance.url + ":" + instance.port }} - {{ instance.env }}</small>
      </v-alert>
    </v-col>

    <v-col cols="12" md="8" sm="8" class="text-center">
      <v-alert border="top" colored-border class="pt-5"
              :color="instance.isActive ? 'yellow' : 'red'" elevation="2">
          <v-row class="d-flex mt-2 mb-2">
            <v-col cols="6" md="3" sm="6" class="text-center">
              <span style="font-size:35px;">
                {{ instance.nbUsers }}
              </span> <v-icon color="yellow">mdi-account-network</v-icon>
              <br>Users
            </v-col>


            <v-col cols="6" md="3" sm="6" class="text-center">
              <span style="font-size:35px;">
                {{ instance.nbPosts }}
              </span> <v-icon color="green">mdi-newspaper-variant-multiple</v-icon>
              <br>Posts
            </v-col>


            <v-col cols="6" md="3" sm="6" class="text-center">
              <span style="font-size:35px;">
                {{ instance.nbNotifs }}
              </span> <v-icon color="red">mdi-bell</v-icon>
              <br>Notifs
            </v-col>

            <v-col cols="6" md="3" sm="6" class="text-center">
              <span style="font-size:35px;">
                {{ countConnected }}
              </span> <v-icon>mdi-account</v-icon>
              <br>Connected
            </v-col>
          </v-row>
          
      </v-alert>
    </v-col>

    <v-col cols="12" md="12" sm="12" class="text-center">
      <v-alert  class="px-0" colored-border style="overflow-x:hidden;"
               color="secondary" elevation="2" height="380">
          <small><v-icon small>mdi-clock</v-icon><br>State history</small>
          <Chart :height="300" :width="100"/>
      </v-alert>
    </v-col>

  </v-row>
        
  <v-row class="d-flex px-4" v-if="instance != null">
    <v-col cols="12" md="12" sm="12" class="pa-0">
      <v-alert border="top" colored-border color="blue" 
              style="overflow-x:hidden;"
              elevation="2" class="px-0 pb-0">

      <v-layout row wrap justify-end class="px-1 mt-2 mx-3">
        <small v-if="instance.dateInfoUpdated != null" class="grey--text pa-1">
          Mis à jour : {{ instance.dateInfoUpdated.substr(0,10) }} -
           {{ instance.dateInfoUpdated.substr(11,8) }} -
        </small>
        <time-ago v-if="instance!=null && instance.dateInfoUpdated != null" :datetime="instance.dateInfoUpdated"
                  :refresh="60" :key="instanceUp" long :locale="$vuetify.lang.current">
        </time-ago>
        <v-btn small rounded  class="white--text" color="ml-5 mr-5 blue darken-1 mb-2" 
              title="Check node activity"
              @click="checkActivity()"
               v-if="contextIsAdmin" >
          <v-icon small>mdi-check</v-icon> 
          <span class="d-none d-sm-inline">Check activity</span>
        </v-btn>
        <!-- <v-btn small rounded class="white--text" 
              color="ml-2 secondary darken-2 mb-2" 
              title="Update instance informations"
              @click="getInstanceInfo()">
          <v-icon small>mdi-refresh</v-icon> 
          <span class="d-none d-sm-inline">Update infos</span>
        </v-btn> -->
      </v-layout>

      <v-data-table
          v-model="selected"
          :headers="headers"
          :items="network"
          :single-select="singleSelect"
          item-key="name"
          class="elevation-1 nodetable"
      >
        <template v-slot:item.url="{ item }">
          {{ item.url + ':' + item.port }}
        </template>

        <template v-slot:item.isActive="{ item }">
          <v-chip dark color="transparent">
            <v-icon :color="item.isActive ? isLocalInstance(item) ? 'yellow' : 'blue' : 'red'" small>
              mdi-spider-web
            </v-icon> 
          </v-chip>
        </template>


        <template v-slot:item.admins="{ item }">
          <v-btn :color="'transparent'" x-small
                 title="Afficher la liste des administrateurs"
                 @click="showAdmins(item)">
            <v-icon x-small>mdi-account-cowboy-hat</v-icon>
          </v-btn> 
        </template>

      
        <template v-slot:item.lockBy="{ item }">
          <v-chip v-if="!isLocalInstance(item)" 
                :color="item.lockBy ? 'red' : 'transparent'" x-small
                title="Cette instance bloque vos requêtes">
            <v-icon v-if="item.lockBy" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockBy" x-small>mdi-lock-open</v-icon>
          </v-chip> 
        </template>
        <template v-slot:item.lockOut="{ item }">
          <v-btn v-if="!isLocalInstance(item) && contextIsAdmin" 
                :color="item.lockOut ? 'red' : 'transparent'" x-small
                title="Ne plus faire de requête vers cette instance"
                @click="lockInOut('out', item)">
            <v-icon v-if="item.lockOut" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockOut" x-small>mdi-lock-open</v-icon>
          </v-btn> 
          <v-chip v-if="!isLocalInstance(item) && !contextIsAdmin" 
                :color="item.lockOut ? 'red' : 'transparent'" x-small
                title="Ne plus faire de requête vers cette instance">
            <v-icon v-if="item.lockOut" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockOut" x-small>mdi-lock-open</v-icon>
          </v-chip> 
        </template>
        <template v-slot:item.lockIn="{ item }">
          <v-btn v-if="!isLocalInstance(item) && contextIsAdmin"
                :color="item.lockIn ? 'red' : 'transparent'" x-small
                title="Ne plus répondre aux requêtes de cette instance"
                @click="lockInOut('in', item)">
            <v-icon v-if="item.lockIn" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockIn" x-small>mdi-lock-open</v-icon>
          </v-btn> 
          <v-chip v-if="!isLocalInstance(item) && !contextIsAdmin"
                :color="item.lockIn ? 'red' : 'transparent'" x-small
                title="Ne plus répondre aux requêtes de cette instance">
            <v-icon v-if="item.lockIn" x-small>mdi-lock</v-icon>
            <v-icon v-if="!item.lockIn" x-small>mdi-lock-open</v-icon>
          </v-chip> 
        </template>
        
      </v-data-table>
      </v-alert>
    </v-col>


    <v-dialog v-model="showModalAdmins" width="400">
      <v-card v-if="currentInstanceModalAdmins != null">
        <v-card-title class="headline">
          <v-icon>mdi-chevron-down</v-icon>
          Admin de l'instance {{ currentInstanceModalAdmins.name }}
        </v-card-title>

        <v-card-text>
          <br>

          <template v-for="(page, i) in currentInstanceModalAdmins.admins">
              <v-card max-width="800" class="mx-auto mt-3" color="rgb(38, 37, 40)" :key="i">
                <v-list color="transparent">
                    <v-list-item>
                        <router-link style="color:white; text-decoration:none;"  :to="'/page/'+page.uid">
                            <img :src="avatarUrl(page.uid)" height="45" class="mr-3">
                        </router-link>

                        <v-list-item-content>
                            <router-link style="color:white; text-decoration:none;" 
                                        :to="'/page/'+page.uid" v-text="page.name">
                            </router-link>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
              </v-card>
          </template>
          
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="showModalAdmins = false">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>

</div>
</template>
<style >


  .admin-map .leaflet-popup-content-wrapper, .admin-map .leaflet-popup-tip {
      color: #FFF!important;
  }
  .admin-map .leaflet-control-attribution{
    display:none!important;
  }
  .nodetable tr:hover{
    background:rgba(0,0,0,0.1)!important;
  }
  div.v-alert__content{
    text-align: center !important;
  }
</style>

<style scoped>
  @import "~leaflet/dist/leaflet.css";

  #map-container{
    position:relative !important;
    top: 0px;
    z-index:0;
    background-color: #1b2f35;
  }
  .leaflet-tile{
    opacity: 0.6 !important;
  }

  .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.2;
    min-width:250px;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(40, 40, 40, 0.92)!important;
    box-shadow: rgba(79, 78, 78, 0.92)!important;
    color:white
  }
  .leaflet-container{
    font-family: 'Raleway', sans-serif;
    font-weight: 800 !important;
    letter-spacing: unset !important;
  }
  .v-data-table.nodetable{
    background-color: transparent!important;
  }
</style>

<script>

import axios from 'axios'
import router from '../../router/router'

import io from 'socket.io-client';

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

import Chart from '@/components/admin/Chart.vue'

import '@/assets/css/main.css'
import core from '../../plugins/core.js'

import config from '../../config/default'
import TimeAgo from 'vue2-timeago'

console.log("url socket ?", localStorage.getItem("url"))
var socket = null
if(localStorage.getItem("url") != null) 
  socket = io(localStorage.getItem("url") + ":" + localStorage.getItem("portSocket")) //8080");
else
  socket = io(config.root_node.url + ":" + config.root_node.socketPort)
  
export default { 
  name: 'admin-dashboard',
  props: ['context'],
  components: {
    LMap, LTileLayer, LMarker, LPopup, Chart, TimeAgo
  },
  data: () => ({
    network: [],
    instance: null,
    instanceUp: 0,
    rebootInstanceName: '',
    nbUsers: 0,
    nbPosts: 0,
    nbUserToCreate: 10,
    UDWtimer: null,
    lineChart: null,
    nbUserGlobal: 0,
    nbPostGlobal: 0,
    nbNotifGlobal: 0,
    countConnected: 0,
    
    nbInstanceActive: 0,
    apiEnv: 'dev',
    selected: [],
    rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        minName: v => v.length >= 3 || 'Min 3 characters',
    },

    singleSelect: false,
    headers: [
      { text: 'URL', value: 'url' },
      {
        text: 'Name',
        align: 'left',
        value: 'name',
      },
      { text: 'City', value: 'city' },
      //{ text: 'Port', value: 'port' },
      { text: 'Users', value: 'nbUsers' },
      { text: 'Posts', value: 'nbPosts' },
      { text: 'Notifs', value: 'nbNotifs' },
      { text: 'Is active', value: 'isActive' },
      { text: 'Admins', value: 'admins' },

      { text: 'lockBy',  value: 'lockBy' },
      { text: 'lockIn',  value: 'lockIn' },
      { text: 'lockOut', value: 'lockOut' },
      // { text: 'MML', value: 'moneyMassLocal' },
      // { text: 'UDV', value: 'UDValue' },
    ],
    /* MAP */
    showMap: false,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    //url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
    attribution:'', //&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",

    history: [],
    currentInstanceModalAdmins: null,
    showModalAdmins: false
  }),
  async mounted(){

      const baseUrl = localStorage.getItem("baseUrl")
      console.log("BASEURL", baseUrl)
      axios.defaults.baseURL = baseUrl != null ? baseUrl : ""
      
      //init icon map
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
      
      socket.on('count-connected', (data) => {
          console.log("you receive count connected", data)
          this.countConnected = data.count
      })
      socket.emit('get-count')

      if(this.contextIsAdmin == true)
        this.readInstanceInfo()
      else{
        this.readInstanceInfo()
      }
     
      
  },
  methods: {
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    async getInstanceInfo(){
        try{ 
            await axios.get('/admin/update-network')
                        .then(res => {
                            //console.log("INFO INSTANCE ?", instance.data)
                            this.network = res.data.network
                            this.calculateGlobalValues()
                        }).catch(res => {
                          console.log(res)
                          router.push('/stream');
                        })
        }catch(e){
            console.log("error /admin/instance-info", e)
            router.push('/user/stream');
        }
    },
    async readInstanceInfo(){
        try{ 
            await axios.get('/instance/get-network')
                        .then(res => {
                            //console.log("INFO INSTANCE ?", instance.data)
                            this.network = res.data.network
                            this.calculateGlobalValues()
                        }).catch(res => {
                          console.log(res)
                          router.push('/stream');
                        })
        }catch(e){
            console.log("error /admin/instance-info", e)
            router.push('/user/stream');
        }
    },
    
    async checkActivity(){
        try{ 
            await axios.get('/admin/check-instance-activity')
                            .then(res => {
                                console.log("check-instance-activity res ?", res.data)
                                this.network = res.data.network
                                this.calculateGlobalValues()
                            }).catch(res => {
                              console.log('error check-instance-activity res ?', res)
                              //router.push('/status');
                            })
        }catch(e){
            console.log("error /admin/instance-info", e)
            router.push('/user/stream');
        }
    },

    async getHistory() {
        try{ 
          await axios.get('/admin/get-state-history')
                      .then(res => {
                          console.log("get-state-history res ?", res.data)
                          this.history = res.data.history
                      }).catch(res => {
                        console.log('error get-state-history ?', res)
                      })
        }catch(e){
            console.log("error /admin/get-state-history", e)
            router.push('/user/stream');
        }
    },

    async simulateHistory() {
        try{ 
          await axios.post('/admin/simulate-state-history')
                      .then(res => {
                          console.log("simulate-state-history res ?", res.data)
                          this.$root.$emit('refreshChart')
                      }).catch(res => {
                        console.log('error simulate-state-history ?', res)
                      })
        }catch(e){
            console.log("error /admin/simulate-state-history", e)
            router.push('/user/stream');
        }
    },

    
    async addUsersDev(){
        try{
            await axios.post('/admin/add-users-dev',
                            { nbUsers: this.nbUserToCreate })
                            .then(res => {
                                console.log("ADD USERS DEV ?", res.data)
                            })
        }catch(e){
            router.push('/stream');
        }
    },

    async lockInOut(typeInOut, instance){
        try{
            await axios.post('/admin/lock-instance',
                            { typeInOut: typeInOut,
                              name: instance.name,
                              url: instance.url,
                              port: instance.port })
                            .then(res => {
                                this.network.forEach((ins, i) => {
                                  if(ins.name == instance.name && ins.url == instance.url && ins.port == instance.port){ 
                                    this.network[i].lockIn = res.data.instance.lockIn
                                    this.network[i].lockOut = res.data.instance.lockOut
                                  }
                                })
                            })
        }catch(e){
            router.push('/stream');
        }
    },

    showAdmins(item){
      this.showModalAdmins = true
      this.currentInstanceModalAdmins = item 
    },   

    getIcon(item) {
      let color = 'blue'
      if(item.url + ':' + item.port == localStorage.getItem("baseUrl")) color = 'gold'
      if(item.isActive === false) color = 'red'
      
      return new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-'+color+'.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });
    },

    isLocalInstance(instance){
      return (instance.url + ':' + instance.port) == localStorage.getItem("baseUrl")
    },

    calculateGlobalValues(){
      this.nbUserGlobal = 0
      this.nbPostGlobal = 0
      this.nbNotifGlobal = 0
      this.nbInstanceActive = 0

      this.instanceUp++
      this.network.forEach(i => {
        console.log("calculateGlobalValues", i.nbUsers, i.nbPosts, i.nbNotifs)
        if(i.url + ':' + i.port == localStorage.getItem("baseUrl")){
          this.instance = i
        }
        if(i.nbUsers == null) i.nbUsers = 0
        if(i.nbPosts == null) i.nbPosts = 0
        if(i.nbNotifs == null) i.nbNotifs = 0

        if(i.isActive) this.nbInstanceActive++
        if(i.isActive) this.nbUserGlobal += i.nbUsers
        if(i.isActive) this.nbPostGlobal += i.nbPosts
        if(i.isActive) this.nbNotifGlobal += i.nbNotifs
      })
    }
  },

  computed: {
      contextIsAdmin : function(){
        return this.context !=null && this.context.user != null && this.context.user.isAdmin
      }

  },
}
</script>
