

  .leaflet-popup-close-button{
    margin: 10px;
  }
  #map-container{
    position: fixed;
    top: 57px;
    bottom: 60px;
    left:0px;
    right:0px;
    /* width:100%; */
    z-index:0;
    background-color: #1b2f35;
  }
  .leaflet-tile{
    opacity: 0.4 !important;
  }
  .container{
    width: 100%;
    margin: 0;
    max-width: unset;
  }
  #slider-radius{

  }
  .leaflet-control-zoom{
    display: none;
  }

  .v-input__slider .v-input__slot:hover{
    background-color:rgba(37, 113, 121, 0.77);
    padding: 0 10px 0 10px;
    border-radius: 70px;
  }
  #formEditPost{
    position: absolute;
    top: 0px;
    /* bottom: 0px; */
    width: 100%;
    background-color:rgba(34, 34, 34, 0.98);
    border-radius:0px
  }
  .main #stream{
    position: absolute;
    top: 0px;
    /* bottom: 0px; */
    width: 100%;
    min-height:100%;
    background-color:rgba(34, 34, 34, 0.91);
    border-radius:0px
  }
  .main #stream .card-container{
    max-width: 600px;
    margin:auto;
  }
  .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.2;
    min-width:250px;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(40, 40, 40, 0.82)!important;
    box-shadow: rgba(79, 78, 78, 0.82)!important;
    color:white
  }

  
  .marker-cluster-small div,
  .marker-cluster-medium div,
  .marker-cluster-big div {
      background-color: rgba(72, 183, 233, 0.8);
      font-weight:800;
      font-size:15px;
      text-align: center !important;
  }
  .marker-cluster-small {
      background-color:rgb(39, 66, 106, 0.4);
  }
  .marker-cluster-medium {
      background-color:rgb(39, 66, 106,0.6);
  }
  .marker-cluster-big {
      background-color:rgb(39, 66, 106, 1);
  }

  #toolbar-place{
    width:100%; 
    height:52px!important; 
    position:absolute; 
    bottom:0px;
    z-index:0
  }
  #toolbar-place-list{
    position:absolute; 
    bottom:48px; 
    width:100%; 
    max-height:200px; 
    border-radius:0px;
    border-bottom: 1px solid #8c8989;
  }
  #toolbar-content{
    width:100%; 
    margin: -12px 0px 0 0px; 
    height:60px; 
    /* padding-top:5px;  */
    position:absolute; 
    z-index:10
  }
  #btn-map-show-stream{
    width:100%; 
    position:absolute; 
    top:0px; 
    opacity:0.9; 
    background-color: #0d4f54;
    border-radius:0
  }
  .metaLinkItem{
    background: rgba(0,0,0,0.2)!important;
    margin-bottom:15px;
  }

  #slider-radius-meters{
    position:absolute; 
    left:20px; 
    right:20px; 
    bottom:75px
  }
  #slider-radius{
    position:absolute; 
    left:20px; 
    right:20px; 
    bottom:40px
  }
  .v-application .darkblock--text{
    color:white!important;
  } 

  /* .marker-cluster{
  }

  .marker-cluster div{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .marker-cluster span {
      line-height: 23px;
      font-size: 13px;
  } */

@media (min-width: 1264px){
   .left-drawer-open #map-container, .nav-footer{
    left: 255px;
    width: unset;
  }
  .nav-footer{
    left: unset!important;
    width: unset!important;
    right:0px!important;
  }
}

@media (max-width: 600px){
  #toolbar-place{
    height:52px!important; 
    position:fixed; 
    bottom:0px;
    z-index:0
  }
  #slider-radius-meters{
    position:fixed; 
  }
  #slider-radius{
    position:fixed; 
  }
  #toolbar-place-list{
    position:fixed; 
  }

}