.post-shared .v-card{
    background-color:#303131!important;
    border-radius: 0px !important;
    box-shadow:none!important;
}
.share-box textarea{
    margin-top:10px!important;
}
.postCard .v-image .v-responsive__content{
    width:unset!important;
}

.postCard .v-card__actions .v-btn.v-btn {
    padding: 4px;
    height: unset !important;
    min-width: 36px !important;
}

.link-to-page{
    text-decoration:none !important;
    text-transform:unset !important;
    font-size:1.1em !important; 
    padding:2px!important;
    height: 22px !important;   
}
.link-to-page::before{
    background-color: transparent !important;
}
.postCard a{
    text-decoration: none !important;
}
.lbl-comment{
    padding: 10px !important;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom:25px
}
.lbl-comment .tools-comments .v-btn{
    background-color: rgb(61, 61, 61);
}
.lbl-name-comment{
    font-size:12px;
    max-width: 80%;
}

.lbl-text-comment{
    font-size:14px;
    font-weight:200;
    margin-bottom:0px!important;
    padding-right:10px;
} 
.avatar-comment{
    margin: 5px 10px 0 0 !important;
}
.v-text-field--outlined fieldset{
    border-color: #5e5e5e;
}
.row-comment{
    margin:0px;
    padding: 0px 0px 0px 10px;
    background-color:rgba(0, 0, 0, 0.18);
}
.row-comment .v-list--three-line{
    background-color: transparent!important;
}
.row-comment .v-list--three-line .v-list-item{
    min-height:unset!important;
}
.input-comment textarea{
    height:34px!important;
    font-size:13px;
}
.input-comment .v-label{
    font-size:13px!important;
    top:10px!important;
}
.input-comment .v-input__slot{
    min-height: 40px!important;
}
.input-comment.focus textarea{
    height:unset!important
}
.toolbar-emojis{
    background-color: rgba(0,0,0,0.2);
    border-radius: 40px;
    padding:3px;
    margin-top:10px;
}

.post-text-stream{
    max-height:200px;
    overflow: hidden;
}
.post-text-stream a{
    font-size:0.9em;
}
.post-text-stream.maptxt{
    display:none
}
.post-text-stream.subtxt{
    display:inline-block
}
.post-text-stream.alltxt{
    display:none
}

.singlePost .post-text-stream.alltxt{
    display:inline-block;
    margin-top:10px;
    max-height:unset;
}
.singlePost .post-text-stream.subtxt{
    display:none
}


.leaflet-popup-content-wrapper .post-text-stream{
    display:inline-block
}
.leaflet-popup-content-wrapper .post-text-stream.subtxt{
    display:none
}
.leaflet-popup-content-wrapper .post-text-stream.alltxt{
    display:none
}

.leaflet-popup-content-wrapper #input-comment{
    display:none
}
.leaflet-popup-content-wrapper .row-comment{
    display: none;
}
.leaflet-popup-content-wrapper .popup-action-post,
.leaflet-popup-content-wrapper .popup-action-post-top{
    display: none;
}


/* .leaflet-popup-content-wrapper .v-card__actions{
    display: none
} */

.btn-read-onmap{
    display: none;
}

.leaflet-popup-content-wrapper .btn-read-onmap{
    display: inline-block;
}
.main-link-title{
    font-size:0.9em;
    line-height:1.2em;
    font-weight:bold;
    background-color:rgba(14, 21, 21, 0.8);
    word-break: break-word;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 10px;
}
.main-link-site-name{
    font-size:0.7em;
    font-weight:200;
    margin-bottom:2px;
}
.span-hashtag{
    color:#2fb1df
}
.v-time-ago__text {
    font-family: inherit !important;
    font-size: 12px !important;
    cursor: unset !important;
    color: #5D586C!important;
    margin-left:5px;
}

/* COMMENT */
.lbl-comment .v-list{
    padding:7px 0 7px 7px !important;
}
.lbl-comment.new-com{
    background-color:rgb(38, 37, 40) !important
}
.btn-emojis{
   min-width: 40px;
}

.post-card{
    max-width: 550px; 
    margin:auto; 
    margin-bottom:10px; 
    padding:10px 0 0 0; 
    margin-top:30px; 
    background-color:rgb(38, 37, 40)!important;
}
.post-card .post-card{
    margin-top:10px;
}
.post-card .post-card .btn-read-onmap{
    display: none;
}


.post-card.notread{
    border: 2px solid rgba(48, 102, 87, 0.5);
}