<template>
<div>
    <v-col class="d-none d-sm-flex "></v-col>
        <v-card color="#242424">
            <v-col class="pa-2 pl-5 pt-6 pb-0">
                <small class="">
                    <v-icon x-small>mdi-send</v-icon> 
                    Envoyer un message privé
                </small>
            </v-col>
            <v-col cols="12">
                <v-toolbar color="transparent" elevation="0" v-if="!hideReceiver">
                    <v-icon class="mr-2">mdi-account-multiple</v-icon>
                    <v-overflow-btn
                        multiple chips :deletable-chips="true"
                        label="Envoyer à..."
                        style="margin-top:33px!important;" 
                        class="my-2" solo
                        v-model="postReceivers"
                        :items="myPages"
                        item-value="uid"
                        item-text="name"
                        inner-icon="account-multiple"
                    ></v-overflow-btn>
                </v-toolbar>
            </v-col>


            <v-col cols="12" class="pt-0 mt-3">
                <v-toolbar color="transparent" elevation="0">
                    <v-icon style="margin-top:-30px;" class="mr-2">mdi-head-dots-horizontal-outline</v-icon>
                    <v-text-field outlined label="À propos ?..." v-model="postTitle" ></v-text-field>
                 </v-toolbar>
                <v-textarea 
                    :counter="postText.length > 1980" 
                    auto-grow solo
                    label="Votre message..."        
                    :rules="rulesTxtareaEditPost"
                    v-model="postText"
                    @change="extractMeta"
                ></v-textarea>


                <v-row flex>
                    <v-card color="transparent" style="width:100%; box-shadow:none;" 
                            class="pa-0 pr-4 mb-0 d-flex align-end flex-column">
                        <small>Autoriser l'ajout de destinataires ?</small>
                        <v-switch v-model="sharable" hide-details color="primary" class="ma-0 mb-5"></v-switch>
                    </v-card>
                </v-row>


                <v-col class="mt-0 pa-0 mb-5" v-if="showTags">
                    <v-card>
                        <v-col class="">
                        <!-- <h4>#hashtags</h4> -->
                        <h5>#hashtags suggestions</h5>
                        <v-col class="pa-0 mt-2">
                            <template v-for="(tag, i) in hashtagList">
                            <v-chip @click="addTagNewPost(tag.tag)" small 
                                    :color="postText.indexOf(tag.tag) > -1 ? 'blue' : ''"
                                    :key="i" class="mr-2 mt-2">
                                {{ tag.tag }}
                            </v-chip>
                            </template>
                            </v-col>
                        </v-col>
                    </v-card>
                </v-col>



                <v-col class="pa-0" v-show="showInputImage">
                    <v-file-input ref="fileInput" id="fileInput"
                    label="Add an image" 
                    outlined dense accept="image/*"
                    prepend-icon="mdi-image-plus"
                    v-model="postImage"
                    ></v-file-input>
                    <v-img :src="urlToImage" :v-show="urlToImage!=''"></v-img>
                </v-col>


                    
                <!-- link metadata preview -->
                <v-col flex class="ma-0">
                    <MetaLinks :embedMetaLinks="embedMetaLinks" :clearable="true"></MetaLinks>          
                </v-col>

                <v-row flex v-if="postTextError!=''">
                    <v-col  col="12" class="text-right" style="padding-top:0"> 
                        <v-chip color="red">{{ postTextError }}</v-chip>
                    </v-col>
                </v-row>

                <v-row flex>
                    <v-col col="4" class="text-center" style="padding-top:0"> 
                        <v-btn icon large @click="selectImage">
                            <v-icon>mdi-image-plus</v-icon>
                        </v-btn><br>
                        <small>Image</small>
                    </v-col>
                    <v-col col="4" class="text-center" style="padding-top:0"> 
                        <v-btn icon large @click="showTags=!showTags">
                            <v-icon>mdi-tag-plus</v-icon>
                        </v-btn><br>
                        <small>#tags</small>
                    </v-col>
                    <v-col col="4" class="text-center" style="padding-top:0"> 
                        <v-btn icon large color="red" @click="back">
                            <v-icon>mdi-cancel</v-icon>
                        </v-btn><br>
                        <small>Cancel</small>
                    </v-col>
                    <v-col col="4" class="text-center" style="padding-top:0"> 
                        <v-btn icon large @click="sendPost" color="green" :disabled="postText == ''">
                            <v-icon>mdi-send</v-icon>
                        </v-btn><br>
                        <small>Send</small>
                    </v-col>
                </v-row>
                <v-row flex>
                    <v-col col="12"> 
                    <br><br>
                    </v-col>
                </v-row>

            </v-col>

        </v-card>
</div>
</template>

<style>
    .v-select__slot{
        height:unset!important;
    }
    .v-overflow-btn .v-input__control::before {
        height: 0px;
    }
</style>

<script>


import axios from 'axios'
import core from '../../plugins/core.js'
import router from '../../router/router'
import MetaLinks from '@/components/MetaLinks.vue'
//import Comment from '@/components/Comment.vue'

export default {
  name: 'FormPrivate',
  components: { MetaLinks },
  props: [ 'preSelectUid', 'forceContacts', 'defaultUserPage', 'hideReceiver'],
  data:() => ({
      userPage: {},
      avatarUrl: '',
      postReceivers: [],
      myPages: [],
      rulesTxtareaEditPost: [v => v.length <= 2000 || 'Max 2000 characters'],
      postText: '',
      postTitle: '',
      sharable: true,
      searchContentStr: '',
      embedMetaLinks: [],
      showInputImage: false,
      urlToImage: '',
      postImage: null,
      showTags: false,
      postTagText: "",
      postTextError: "",
      hashtagList: [
        { tag: '#info', count: 2 },
        { tag: '#annonce', count: 4 },
        { tag: '#question', count: 2 },
        { tag: '#sondage', count: 2 },
        { tag: '#proposition', count: 2 },
        { tag: '#action', count: 4 },
        { tag: '#manifestation', count: 4 },
        { tag: '#mobilisation', count: 4 },
        { tag: '#assemblée', count: 2 },
      ]
  }),
  mounted: function(){
      this.$root.$off('setReceiver').$on('setReceiver', (receiverUid) => { 
          console.log("setReceiver", receiverUid)
        this.postReceivers = [receiverUid]
      })

     this.updateDataProfile()
  },
  methods: {

    selectImage : function(){
        this.showInputImage=!this.showInputImage
        console.log("this.$refs.fileInput", this.$refs.fileInput)
        if(this.showInputImage)
            document.getElementById('fileInput').click()
        else{
            this.postImage = null
        }
    },

    showFormMsg(bool){
        this.$root.$emit('showFormMsg', bool);
    },
    
    async updateDataProfile(){
      if(this.defaultUserPage != null) {
          this.userPage = this.defaultUserPage
          return
      }
      try{
        axios.post('/page/profil', { pageUid: localStorage.getItem("user_page_uid") })
            .then( res => {
                console.log('/page/profil', res.data)
              if(res.data.error == false){
                this.userPage = res.data.page
                this.avatarUrl = core.avatarUrl(this.userPage.uid)        
                this.myPages = res.data.page.contacts
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    addTagNewPost : function(tag){
        let pos = this.postText.indexOf(tag)
        if(pos > -1){ //tag exist in text
            this.postText = this.postText.replace(tag, '').trim()
        }else{ //tag not exist in text
            this.postText += ' ' + tag
        }
    },


    sendPost: async function(){
        
        console.log('sendPost', this.postReceivers.length)
        if(this.postReceivers.length == 0){
            this.postTextError = "Merci de sélectionner au moins un destinataire !"
            return
        }

        console.log('/upload/image-post', this.postImage)
        let imageName = null
        if(this.postImage != null){
            const imgData = new FormData()
            imgData.append('image-post', this.postImage, this.postImage.name)
            console.log('send image', imgData)
            const resImg = await axios.post('/upload/image-post', imgData)
            imageName = resImg.data.imageName
            console.log('/upload/image-post', resImg)
        }

        let finalReceivers = []
        this.userPage.contacts.forEach((page) => {       
            this.postReceivers.forEach((page2) => {
                if(page.uid == page2) finalReceivers.push({ uid : page.uid, name: page.name })
            })
        })

        const res = await axios.post('/publication/send-post-private', 
                                        {   text: this.postText, 
                                            title: this.postTitle,
                                            imageName: imageName,
                                            receivers: finalReceivers,
                                            postSignedUid: this.postSignedUid,
                                            sharable: this.sharable,
                                            embedMetaLinks: this.embedMetaLinks
                                        })

        if(res.data.error == true){
            console.log("error /publication/send-post", res.data)
            this.postTextError = "Sorry, an error occured"
        }else{
            console.log("success /publication/send-post", res.data)
            router.push('/private');
            //this.$root.$emit('loadStream');
            //this.showFormMsg(false)
        }
        
        
        console.log("res /publication/send-post", res.data)

    },
    
    extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
            const res = await axios.post('/publication/extract-meta', 
                                        { link: link })
            console.log("request for", link, i, res)
            this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
    },

    removeMetaLink: function(i){
    this.embedMetaLinks.splice(i, 1)
    },

     back: function(){ router.back() },
  },

  watch: {
    preSelectUid: {
        // the callback will be called immediately after the start of the observation
        immediate: true, 
        handler (val, oldVal) {
            console.log("watch preSelectUid", val, oldVal)
            if(val != null)
                this.postReceivers = [val]
            
        }
    },
    forceContacts: {
        // the callback will be called immediately after the start of the observation
        immediate: true, 
        handler (val, oldVal) {
            console.log("watch forceContacts", val, oldVal)
            if(val != null){
                this.myPages = val
                this.userPage.contacts = val
                this.hideReceiver = true
            }
            
        }
    }
  },
  computed: {
      
  },
  
}
</script>