<template>

<v-row id="profil">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>


        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

          <v-list-item-title class="headline">
            <small><v-icon>mdi-scissors-cutting</v-icon> Your blacklist</small>
          </v-list-item-title>
          
        </v-list-item-content>

      </v-list-item>
    </v-card>
    
    <br>
    

    <!-- Stream page -->
    <!-- <v-btn block @click="loadStream">Refresh</v-btn> -->
    <v-card max-width="800" class="mx-auto">
      
      <v-list three-line v-if="page.blacklist != null && page.blacklist.length > 0">
        <v-subheader style="height:unset">
            You blacklisted <strong class="pa-1">{{ page.blacklist.length }}</strong> 
            page{{ page.blacklist.length>1?"s":"" }}
        </v-subheader>
         <v-subheader style="height:unset" class="mb-3">
            <small>Click on "enable" to remove a page from your blacklist</small>
        </v-subheader>
        <hr>
        <template v-for="(p, i) in page.blacklist">
            <v-list-item :key="i">
                <router-link style="color:white; text-decoration:none;"  :to="'/page/'+p.uid">
                    <v-list-item-avatar class="mt-6 mr-2">
                                <v-img :src="avatarUrl(p.uid)"></v-img>
                    </v-list-item-avatar> 
                </router-link>

                <v-list-item-content>
                    <router-link style="color:white; text-decoration:none;" 
                                :to="'/page/'+p.uid" v-text="p.name"></router-link>
                </v-list-item-content>
                <v-list-item-content>
                    <v-btn small @click="removeFromBlacklist(p.uid)">
                        <v-icon small>mdi-check</v-icon> enable
                    </v-btn>
                </v-list-item-content>
            </v-list-item>
        </template>
      </v-list>

      <v-list v-if="page.blacklist == null || page.blacklist.length == 0">
          <v-list-item>
          <v-list-item-content>
                <v-list-item-title>
                    <v-icon>mdi-cancel</v-icon> Your blacklist is empty
                </v-list-item-title>
                <v-list-item-subtitle>
                    Use the button <v-icon>mdi-scissors-cutting</v-icon> to add post author to your blacklist,<br>
                    and so, empty your stream of posts from people who don't interest you.
                </v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
     
    </v-card>

  </v-col>

</v-row>
</template>

<style>
  
</style>

<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

// import L from 'leaflet';
// import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

// import Cropper from '@/components/Cropper.vue'
//import Post from '@/components/Post.vue'

export default {
  name: 'auth',
  components: {  },
  data: () => ({
    user: { name: '' },
    page: { name: '' },
    
    stream: [],
    streamLoading: false,
    showStream: true
    
    
  }),
  async mounted(){
    this.page.name = localStorage.getItem("user_name") != null ? 
                         localStorage.getItem("user_name") : 
                         ", you are not loggin"
    
    this.page.uid = localStorage.getItem("user_page_uid")
    this.updateDataProfile()

    
      
  },
  methods: {
    
    async updateDataProfile(){
      try{
        axios.post('/page/profil', { pageUid: this.page.uid })
            .then( res => {
              if(res.data.error == false){
                this.user = res.data.user
                this.page = res.data.page
                //this.loadStream()
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
   
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 500)
    },

    removeFromBlacklist: async function(pageUid){
        console.log("removeFromBlacklist")
        const res = await axios.post('/page/remove-from-blacklist', { 
                                        pageUid: pageUid
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            //this.postObj = null
            let pos = -1
            this.page.blacklist.forEach((p, i)=>{
                if(p.uid == pageUid) pos = i
            })
            if(pos > -1) this.page.blacklist.splice(pos, 1)
        }
        console.log("res /publication/delete-post", res.data)
    },

    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }

  },
  computed: {
    
    avatarUrlCMPT : function(){
      console.log("avatarUrl", this.avatarUrl)
      return this.avatarUrl
    },
    iName: function(){
      return core.iName(this.page.uid)
    }
    
    
  }
}
</script>
