<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" md="8" sm="8" class="mx-auto">

    <Header></Header>     

    <v-card class="mx-auto mt-4">
      <v-col class="text-center">
        <div  class="text-center">
          <h2>Boot a new node</h2>
          <v-card-subtitle  class="text-center">
                  You have a new Plaanet API running somewhere ?<br>
                  Let's enter the network in 30 seconds !
                  <br><br><hr>
            </v-card-subtitle>
        </div>

        <v-form @submit.prevent="bootNode">
          <h4 class="text-center"><v-icon>mdi-wallet</v-icon><br>API informations</h4><br>
          <v-text-field filled v-model="nodeName" id="name" label="Name"></v-text-field>
          <v-text-field filled v-model="nodeUrl" id="url" label="API URL"></v-text-field>
          <v-text-field filled v-model="nodePort" id="port" label="API PORT"></v-text-field>
          <v-text-field filled v-model="nodePortSocket" id="port" label="SOCKET PORT"></v-text-field>
          <hr><br>
          <h4 class="text-center"><v-icon>mdi-monitor-cellphone</v-icon><br>Do you also host any Plaanet client ?</h4><br>
          <v-text-field filled v-model="clientUrl" id="clientUrl" label="Client URL"></v-text-field>
          <v-text-field filled v-model="clientPort" id="clientPort" label="Client PORT"></v-text-field>
          <hr><br>
          <h4 class="text-center"><v-icon>mdi-map-marker</v-icon><br>Geolocation</h4><br>
          <small class="text-center">
            In order to improve the network performances, <br>
            thanks to give the approximate geographical position of your node.
          </small>
          <br><br>
          <v-text-field filled v-model="nodeCity" id="city" label="City" @change="searchCityPos"></v-text-field>
          <v-text-field filled v-model="nodeState" id="state" label="State" @change="searchCityPos"></v-text-field>
        </v-form>

        <l-map ref="nodeMap"  :zoom="zoom"  :maxZoom="11" :center="mapCenter"  
               style="width:100%;height:300px; margin-bottom:15px" 
               v-if="nodeLatLng.lat == null && showMap == true">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker v-for="(city, i) in citySuggests" :key='i' 
                      :lat-lng="[city.lat, city.lon]" 
                      draggable @dragend="nodeDragend">
              <l-popup class="text-center" open="true">
                <br><h3>{{ city.display_name }}</h3><br>
                <v-btn color="blue" style="width:100%" @click="selectPosition(city.lat, city.lon)">
                    <v-icon>mdi-check</v-icon> Use this position
                </v-btn>
              </l-popup>
            </l-marker>
        </l-map>

        <v-alert type="success" v-if="nodeLatLng.lat != null">
          Node location ok<br>
          <small>lat : {{ nodeLatLng.lat }}</small><br>
          <small>lng : {{ nodeLatLng.lng }}</small>
        </v-alert>
        <v-alert type="success" v-if="nodeLatLng.lat != null && nodeName!='' && nodeUrl!='' && nodePort != ''">
          You are ready to boot !
        </v-alert>
          
    <v-flex xs12>
    </v-flex>
    
        <div v-if="nodeExists!=null">
          <v-alert v-if="nodeExists == true" type="success">This node exists !</v-alert>
          <v-alert v-if="nodeExists == false" type="error">Sorry, this node is unreachable !</v-alert>
        </div>
        <div v-if="nodeInited!=null">
          <v-alert v-if="nodeInited == false" type="success">Initialisation !</v-alert>
          <v-alert v-if="nodeInited == true" type="error">But this node is already intited</v-alert>
        </div>

        <v-btn :disabled="nodeLatLng.lat == null" class="white--text" 
              color="orange lighten-1"  @click="bootNode" style="min-width:100%">
          <v-icon>mdi-check</v-icon> Boot
        </v-btn>
      </v-col>
    </v-card>
  </v-col>
</v-row>

</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
  .leaflet-popup-close-button{
    margin: 10px;
  }
</style>

<script>

import axios from 'axios'
import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

import Header from '@/components/home/Header.vue'

export default {
  name: 'home',
  components: { Header, LMap, LTileLayer, LMarker, LPopup },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    instance: null,
    network: [],
    instanceInit: null,
    nodeUrl: 'http://192.168.1.45',
    nodePort: '3000',
    nodePortSocket: '8081',
    nodeName: '',
    nodeCity: '',
    nodeState: '',
    nodeLatLng: { lat: null, lng: null },
    nodeExists: null,
    nodeInited: null,
    citySuggests: [],
    showMap: false,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",
    clientUrl: '',
    clientPort:''
  }),
  async mounted(){
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
  
  },
  methods: {
    nodeDragend(e){ 
      e.target.openPopup()
      //let marker = this.$refs.nodeMarker.mapObject
      //this.nodePosition = marker.getLatLng()
    },
    selectPosition(lat, lng){
      this.nodeLatLng.lat = lat
      this.nodeLatLng.lng = lng
      this.showMap = false
    },
    searchCityPos(){
      try{
         this.nodeLatLng.lat = null
         this.nodeLatLng.lng = null
         let query = this.nodeCity
         if(this.nodeState != "") query += "," + this.nodeState
         axios.get('https://nominatim.openstreetmap.org/search?q=' + query + "&format=json&addressdetails=1")
              .then( res => {
                  this.citySuggests = [] //res.data
                  this.showMap = true
                  if(res.data.length == 0) return

                  console.log("res nominatim", this.nodeCity, this.citySuggests)
                  res.data.forEach(el => {
                    if(this.citySuggests.length == 0)
                    if(el.type == "city" || el.type == "administrative" || el.type == "postcode"){
                       this.citySuggests.push(el)
                       this.mapCenter = L.latLng(el.lat, el.lon)
                       this.zoom = 10
                      console.log(el.address.country_code.toLowerCase(), this.nodeState.toLowerCase())
                      return
                    }
                  });
              }).catch(res =>{
                console.log("error 1 nominatim", res)
              })
      }catch(e){
        console.log("error 2 nominatim", e)
      }
    },
    bootNode(){ 
      //must create 2dsphere index in mongodb after first node initialisation
      //db.instances.createIndex( { "coordinates" : "2dsphere" } )
      try{
         //try to contact the node at url:port given by user
         let baseUrl = this.nodeUrl + ":" + this.nodePort
         axios.defaults.baseURL = baseUrl
         axios.get('/instance/exists')
              .then( res => {
                  console.log("res /instance/exists", res.data)
                  this.nodeExists = !res.data.error
                  //if this new node exists
                  if(this.nodeExists){
                    this.nodeInited = res.data.instance
                    if(this.nodeInited == false){ this.initNode() //start real node initialization
                    }else{
                      //x
                    }
                  }else{
                    this.nodeInited = null
                    console.log("inited ?", this.nodeInited)
                  }
                  //if(this.nodeInited == false)
              }).catch(res =>{
                console.log("error 1 /instance/exists", res)
                this.nodeExists = false
                this.nodeInited = null
              })
      }catch(e){
        console.log("error 2 /instance/exists", e)
        this.nodeExists = false
        this.nodeInited = null
        //router.push('/');
      }
    },
    initNode(){
      try{
          //a node cant be initialized again
          if(this.nodeInited != false) return
          
          //try to contact the node at url:port given by user
          let baseUrl = this.nodeUrl + ":" + this.nodePort
          axios.defaults.baseURL = baseUrl
          axios.post('/instance/init', {
              name: this.nodeName,
              url: this.nodeUrl,
              port: this.nodePort,
              portSocket: this.nodePortSocket,
              city: this.nodeCity,
              state: this.nodeState,
              clientUrl: this.clientUrl,
              clientPort: this.clientPort,
              lat: this.nodeLatLng.lat,
              lng: this.nodeLatLng.lng
          })
              .then( res => {
                  console.log("res /instance/init", res.data)
                  if(!res.data.error){
                    router.push('/')
                  }else{
                    console.log("inited ?", this.nodeInited)
                  }
              }).catch(res =>{
                console.log("error 1 /instance/init", res)
              })
      }catch(e){
        console.log("error 2 /instance/init", e)
        //router.push('/');
      }
    },
    async forgetAll(){
      await localStorage.setItem("baseUrl", "")
      await localStorage.setItem("url", "")
      await localStorage.setItem("port", "")
    }
  },
  computed: {
      showBootInstance: function(){
          return (this.user != null && this.user.isAdmin) || this.instance == false
      },
  },
}
</script>
