<template>
<div>
<Header></Header>

<v-row class="d-flex">

  <v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto" style="max-width:600px;">
    

    <v-col cols="12" class="mx-auto text-center">

      <v-col cols="12" class="pa-0 mx-auto text-center" style="background-color:#231f20;">
        <br><hr>
        <br>
        <h1 class="font-konkretika">
          <!-- Station rebelle internationale -->
          La charte
        </h1>
        <small>Toute inscription est soumise à l'approbation de la charte suivante</small><br><br><hr><br>
        <h2 class="font-konkretika">CECI N'EST PAS UNE FORMALITÉ</h2><br>
        <v-chip color="error">MERCI DE LIRE LA CHARTE</v-chip>
        <br>
        <br>
        <h4 class="text-left error--text">
          La charte constitue le socle de valeurs communes à tous les membres du réseau.
          Merci de vous assurer que vous êtes en accord avec ce qui est énoncé avant de signer.
        </h4>
        <br>
        <h5 class="text-left grey--text">
          Merci de prendre aussi connaissance du 
          <router-link class="error--text" to="/manifest">manifeste</router-link>.
        </h5>
        <!-- <h4 class="text-left">La charte définit les différents points communs qui caractérisent l'ensemble des membres du réseau</h4> -->
        <br><hr><br>
        <h5 class="text-left">
            1<v-icon small>mdi-chevron-right</v-icon> 
            Étant donnée l'ampleur de l'effondrement du système économique mondialisé, 
            lié à la récente crise sanitaire, ainsi qu'à la mauvaise gestion politique de ces dernières décénies, 
            et étant données les conséquences tragiques que cet effondrement impliquera pour chaque individu sur cette planète, 
            je considère qu’il est de notre devoir de réagir au plus vite, pour tenter de négocier au mieux notre chute, 
            devenue désormais inévitable.
            <br><br>
            2<v-icon small>mdi-chevron-right</v-icon> 
            Étant donnée l’incompétence et la mauvaise volonté de nos gouvernements, à traiter la situation convenablement, 
            c'est à dire dans l'intérêt de tous,  je considère qu’il n’est plus possible de continuer à leur accorder notre confiance, 
            tant les mesures qu’ils nous imposent par la force sont inappropriées, 
            et tant ils ont bafoué nos droits et méprisé notre existence.
            <br><br>
            3<v-icon small>mdi-chevron-right</v-icon> 
            Étant donnée la situation insurrectionnelle dans laquelle est plongée la France, depuis le 17 novembre 2018, 
            et face à la répression implacable mise en œuvre par le pouvoir en place, 
            il me semble qu’il n’est plus possible de faire autrement que de cesser de les reconnaître comme nos représentants, 
            parce qu’ils ne sont tout simplement plus dignes de l’être. 
            <br><br>
            D'autre part, étant donnée l’ampleur de "la crise" au niveau planétaire, 
            et la violence utilisée par tous les gouvernements confrontés aux mouvements de contestations à travers le monde, 
            je reconnais la rébellion comme légitime, partout où les gouvernements violent les droits du peuple.
            <br><br>
            4<v-icon small>mdi-chevron-right</v-icon> 
            J'ai conscience que les régimes politiques actuels qui se prétendent démocratiques ne le sont pas, 
            dans la mesure où nous avons seulement le droit de déléguer notre pouvoir politique, 
            mais jamais de l'exercer par nous-mêmes.
            <br><br>
            Je considère que l’absence de démocratie est l’une des causes principales de notre situation catastrophique, 
            et je souhaite participer à la mise en place d’une nouvelle structure démocratique, pour et par le peuple, 
            afin que nous soyons en capacité de réellement décider ensembles des mesures à prendre pour nous sortir de cette situation périlleuse.
            <br><br>
            5<v-icon small>mdi-chevron-right</v-icon> 
            En conséquence, je considère qu’il est de mon devoir de participer à ce qu'il convient maintenant d'appeler la rébellion, 
            à ma propre échelle, dans le pays où je vis, dans la ville où j'habite.  
            D'une part pour tenter de mettre un terme au régime illégitime auquel je suis confronté, 
            et d'autre part pour essayer de construire ensemble, par nos propres moyens, les conditions d'un monde viable pour les générations à venir.
            <br><br>
            6<v-icon small>mdi-chevron-right</v-icon> 
            Je sais que l’union fait la force, et je souhaite rejoindre le réseau Plaanet afin de me relier à tout ceux qui, comme moi, 
            ont décidé de faire front commun pour sauver notre avenir à tous.
            <br><br>
            7<v-icon small>mdi-chevron-right</v-icon> 
            Je souhaite entrer en contact avec tous ceux qui se reconnaitront dans cette charte,
             afin de discuter de la situation, en débattre, donner mon avis, proposer des solutions, partager des informations, etc. 
             Et cela malgré les divergences d’opinions que je pourrais rencontrer chez mes interlocuteurs. 
            <br><br>
            8<v-icon small>mdi-chevron-right</v-icon> 
            Je m’engage à les respecter toutes et tous, et à user de mon intelligence pour faire avancer les discussions de la meilleure des façons.

          <br><br>
          <br>
        </h5>

        <br>
        <v-btn color="primary" block @click="signeCharte"><v-icon>mdi-check</v-icon> Je signe la charte</v-btn><br>
        <v-chip color="transparent" class="pa-4" large text-color="primary">
            <small>Vous serez ensuite redirigé<br>vers le formulaire d'inscription</small>
        </v-chip>
      <br><br><br>
      </v-col>
    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style></style>

<script>

//import axios from 'axios'
import router from '../router/router'
import Header from '@/components/home/Header.vue'

//import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { Header },
  data:() => ({
    
  }),
  async mounted(){
      
  },
  methods: {
    signeCharte : function(){
      localStorage.setItem("signedCharte", true)
      router.push("/register")
    }
  },
}
</script>
