<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto" style="max-width:600px;">

    <Header></Header>

    <v-col cols="12" class="mx-auto text-center">
     
      <br>
        
      <v-card class="mx-auto main-card">
        <v-col cols="12" class="text-center">
        <v-col cols="12" class="text-left">
          <h3>
            <v-icon>mdi-chevron-down</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.clearConnexionData') }}
          </h3><br>
          <small>
            En cliquant sur ce bouton, vous effacerez l'ensemble des données enregistrées localement
            sur votre navigateur ou votre smartphone.<br><br>
            Seules les données de connexion, nécessaire à l'application pour accéder aux différents
            serveurs du réseau seront effacées. 
            Vos publications, notifications, commentaires, messages privés, etc, NE SERONT PAS EFFACÉS.
            
            <br><br>
            En effaçant les données de connexion, vous retrouverez l'état initial de votre application,
            et vous pourrez l'utiliser à nouveau comme si c'était la première fois.
            <br><br>
            Vous choisirez un nouveau serveur, sur lequel vous pourrez créer un nouveau compte,
            ou vous reconnecter à un compte qui vous appartient déjà sur le même serveur. 
            <br><br>
            Cette opération ne présente aucun risque de perte au niveau des données publiées sur le réseau.
          </small>
        </v-col><br>
            <v-btn @click="clearLocalStorage" color="orange">
              <v-icon>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.home.clearConnexionDataBtn') }}
            </v-btn><br><br>
        </v-col>
          
      </v-card>

    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
 
  .intro{
    padding:40px;
    font-weight:200;
    border: 1px solid #595959;
    border-radius:20px;
    font-size:0.9em;
  }
  .v-content__wrap{
    background-size: cover;
    background: fixed url('../assets/crysys/bg-crysys-empty.png') top center !important;
    background-color: black;
  }
  .main-card{
    background-color:rgba(30, 27, 28, 0.87) !important;
  }

  .v-window__container .display-1{
    line-height: 1.3em;
    font-weight:200;
    font-size:2.1em!important; 
    text-align:center!important;
    padding: 15px 40px;
  }

  .v-card__subtitle{
     color:white!important;
  }

</style>

<script>

//import axios from 'axios'
import router from '../router/router'

import Header from '@/components/home/Header.vue'
//import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { Header },
  data:() => ({
    
    
  }),
  async mounted(){
    
  },
  methods: {
    async clearLocalStorage(){
      console.log("clearLocalStorage")
      let rls = ["baseUrl", "iLocation", "iname", "network", "port", "portSocket", "url", "signedCharte"]
      rls.forEach((item)=>{
        localStorage.removeItem(item)
      })
      router.push("select-node")
    },
   
  },
}
</script>
