<template>

<v-row id="profil" v-if="page.contacts != null">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>

        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

          <v-list-item-title class="headline">
            <small>
              <v-icon>mdi-clipboard-account</v-icon>
              Vous avez  <strong class="pa-1">{{ page.contacts.length }}</strong> 
              contact{{ page.contacts.length>1?"s":"" }}
            </small>
          </v-list-item-title>
          
        </v-list-item-content>

      </v-list-item>
    </v-card>
    
    <br>
    
    <template v-if="page.contacts != null && page.contacts.length > 0">
      <template v-for="(p, i) in page.contacts">
          <PageCard :page="p" :key="i" :context="context"></PageCard>
      </template>
    </template>

    <v-card max-width="800" class="mx-auto">
    
      <v-list v-if="page.contacts == null || page.contacts.length < 0">
          <v-list-item>
          <v-list-item-content>
                <v-list-item-title>
                    <v-icon>mdi-cancel</v-icon> Your contacts list is empty
                </v-list-item-title>
                <v-list-item-subtitle>
                    Use the button <v-icon>mdi-clipboard-account</v-icon> to add a member to your contacts.<br>
                    Find this button on each profil page
                </v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
    
    </v-card>

  </v-col>

</v-row>
</template>


<script>

import router from '../router/router'
import core from '../plugins/core.js'
import PageCard from '@/components/page/PageCard.vue'


export default {
  name: 'contacts',
  components: { PageCard },
  props: [ 'context' ],
  data: () => ({
    user: {},
    page: {}, 
    activeList: []   
  }),
  async mounted(){
    if(this.context != null){
      this.user = this.context.user
      this.page = this.context.userPage
    }else{
      router.push('/login');
    }
  },
  methods: {
    avatarUrl: function(pageUid){ return core.avatarUrl(pageUid) }
  },
  computed: {
  }
}
</script>
