<template>
<v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto pa-0" style="max-width:750px;">

<br>
<h2 class="mb-3 text-center font-konkretika">Bienvenue sur Plaanet !</h2>
<p class="text-center">
    <small>Prenons quelques secondes pour faire connaissance...</small>
</p>

<v-btn block color="primary darken-3" @click="e1++">Suivant<v-icon small>mdi-arrow-right</v-icon></v-btn><br>

<v-stepper v-model="e1"  v-if="userPage!=null">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" editable step="1">Position principale</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" editable step="2">#Hashags</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3" :complete="e1 > 3" editable>Premier message</v-stepper-step>
      
    </v-stepper-header>


    <v-stepper-items v-if="userPage != null">

      <v-stepper-content step="1" class="pa-2 pt-5">
        <h3 class="text-center">
          <v-icon>mdi-map-marker</v-icon> Position principale
        </h3>        
        
          <br>
          <small>
          <small class="pa-4 text-center">
           > Par défaut, votre position principale a été initialisée sur la position du serveur que vous avez choisi.
         
         Définissez la position qu vous convient le mieux en saisissant votre ville,
         et en déplaçant l'icône sur la carte pour un placement plus précis.
          </small>
          </small>
          <br><br>
        <FormPosition :userPage="userPage" :showMap="true"></FormPosition>
      </v-stepper-content>

      <v-stepper-content step="2">
        <h3 class="text-center">
          <v-icon>mdi-pound-box</v-icon> hashtags
        </h3>        
        <FormTags :page="userPage"></FormTags>
      </v-stepper-content>


      <v-stepper-content step="3">
        <h3 class="text-center">
          <v-icon>mdi-newspaper-variant-multiple</v-icon> Publier votre premier message
        </h3>        
        <FormFirstMsg :page="userPage"></FormFirstMsg>
      </v-stepper-content>

      <v-stepper-content step="4">
        <h3 class="text-center primary--text">
          <v-icon color="primary">mdi-thumb-up</v-icon> C'est terminé !
        </h3>        
        <h5 class="text-center primary--text">
          Accéder à votre compte en cliquant sur le bouton ci-dessous<br>
          <v-icon color="primary">mdi-chevron-down</v-icon>
        </h5>
        
        
      </v-stepper-content>
    </v-stepper-items>
</v-stepper>

  <br>

  <v-btn block @click="endFirstStep" :color="e1 == 4 ? 'secondary darken-3' : 'secondary darken-3'">
    <v-icon small>mdi-account</v-icon> accéder à mon compte 
    <v-icon small>mdi-chevron-right</v-icon>
  </v-btn>
  
  <br><br>
  
</v-col>
</template>

<style></style>

<script>

import axios from 'axios'
import router from '../router/router'
//import core from '../plugins/core.js'

import FormTags from '@/components/page/FormTags.vue'
import FormPosition from '@/components/page/FormPosition.vue'
import FormFirstMsg from '@/components/page/FormFirstMsg.vue'

export default {
  name: 'empty',
  components: { FormTags, FormPosition, FormFirstMsg },
  data: () => ({
    e1: 1,
    user: null,
    userPage: null,
  }),
  async mounted(){

    if(localStorage.getItem("firstStep")!=localStorage.getItem("user_id")){
      //router.push('/stream');
    }
    
    this.updateDataProfile()

    this.$root.$off('nextFirstStep').$on('nextFirstStep', () => { 
        console.log('nextFirstStep FS', this.e1)
        this.e1 = parseInt(this.e1) + 1
        console.log('nextFirstStep FS', this.e1)
    })

  },
  methods: {
    
    async updateDataProfile(){
        console.log("local", localStorage.getItem("user_page_uid"))
      try{
        axios.post('/page/profil', { pageUid: localStorage.getItem("user_page_uid") })
            .then( res => {
              if(res.data.error == false){
                this.user = res.data.user
                console.log("res.data.user", res.data, res.data.user)
                this.userPage = res.data.page
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    endFirstStep : function(){
      localStorage.removeItem("firstStep")
      router.push('/stream');
    }

  },
  computed: {
    
    
  }
}
</script>
