<template>

<v-row> 
    <v-col style="max-width:600px; margin:auto; padding:0;">  
        <FormPrivate :preSelectUid="sendToUid" :hideReceiver="false"></FormPrivate>
    </v-col>
</v-row>


</template>

<style>
    .container{
        padding-top:0px!important;
    }
    .main-row,
    #contact-drawer{
        height:100%;
    }
    

</style>

<script>

import axios from 'axios'
//import router from '../router/router'

//import L from 'leaflet';
//import {LMap, LTileLayer, LMarker, LCircle, LPopup} from 'vue2-leaflet'
//import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
//import CTP from 'circle-to-polygon';
//import Stream from '@/components/Stream.vue'
//import Post from '@/components/Post.vue'
import FormPrivate from '@/components/private/FormPrivate.vue'
import core from '../plugins/core.js'

//import GetUrls from 'get-urls'

export default {
  name: 'home',
  components: { FormPrivate },
  data:() => ({
    
    showTags: false,
    sendToUid: null,
    hashtagList: []
  }),
  async mounted(){
      

      this.sendToUid = this.$route.params.uid
      console.log("sendToUid", this.sendToUid)

      if(this.sendToUid != null){
        this.showFormMsg = true
      }
  },
  methods: {
      
      removeUid : function(arr, uid){
        console.log("removeUid", arr, uid)
        let pos = arr.indexOf(uid)
        arr.splice(pos, 1)
        return arr
      },
      
    addTagNewPost : function(tag){
        let pos = this.searchContentStr.indexOf(tag)
        if(pos > -1){ //tag exist in text
            this.searchContentStr = this.searchContentStr.replace(tag, '')
        }else{ //tag not exist in text
            this.searchContentStr += ' ' + tag
        }
    },

      setReceiver: async function(receiverUid){
        this.showFormMsg = true
        this.drawerContact = false
        this.$root.$emit('setReceiver', receiverUid);
      },
      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          console.log("request for", link, i, res)
          this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },
      
      avatarUrlF: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(pageUid){
        return core.iName(pageUid)
      }
      
  },
  computed: {
      
  },
}
</script>
