<template>
<div>
<Header :isHome="true"></Header>
<v-row class="d-flex" id="home">

  <v-col cols="12" lg="10"  md="12" sm="12" class="mx-auto" style="max-width:600px;">
    
    <v-col cols="12" class="mx-auto text-center">
    
      <v-col cols="12" class="pa-0 mx-auto text-center" style="background-color:#231f20;">
        

        <hr><br>
        <!-- <h3 class="font-konkretika">
          <!- - Station rebelle internationale  - ->
          {{ $vuetify.lang.t('$vuetify.home.geocom') }}
          <br>
          {{ $vuetify.lang.t('$vuetify.home.servingRebellion') }}
          
        </h3> -->

        <h3 class="font-konkretika">
          Le réseau qui diffuse vos messages<br>
          partout sur la Plaanet
        </h3>

        
        <template v-if="isOnNetwork">
          
          <br><hr><br>  

          
          <v-col cols="12" lg="6"  md="8" sm="10" class="mx-auto">
              <v-text-field outlined  style="text-align: center;" v-model="name"
                              :label="$vuetify.lang.t('$vuetify.home.connectAccount')" 
                              :placeholder="$vuetify.lang.t('$vuetify.home.pseudoFormLogin')"></v-text-field>

              <v-text-field outlined v-model="password" id="password" 
                      :label="$vuetify.lang.t('$vuetify.main.password')"
                      :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showpwd ? 'text' : 'password'"
                      @click:append="showpwd = !showpwd"
                      @change="login"
              ></v-text-field>

              <v-card-subtitle v-if="resMsg != ''" :class="resColor">{{ resMsg }}</v-card-subtitle>

              <v-btn @click="login" block color="primary">
                  <v-icon>mdi-login</v-icon> 
                  {{ $vuetify.lang.t('$vuetify.main.login') }}
              </v-btn>
              <br>
              <v-btn to="/register" block color="secondary">
                  <v-icon class="mr-1">mdi-account-plus</v-icon> 
                  {{ $vuetify.lang.t('$vuetify.main.register') }}
              </v-btn> 
          </v-col>
    
          <br>

          <small><small>
            <v-icon small>mdi-check</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.youAreConnected') }}
          </small></small>

          <h3>
              <v-icon>mdi-spider-web</v-icon>
              {{ currentNodeName }}
          </h3>

          <br>
          <v-btn v-if="isOnNetwork" block to="/select-node">
            <v-icon>mdi-spider-web</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.switchServer') }}
          </v-btn>
        </template>

        <br><hr><br><br>

        <v-btn  v-if="!isOnNetwork" color="teal" title="Inscription"  block to="/charter">
          <v-icon>mdi-account-plus</v-icon> 
          {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }}
        </v-btn>

        <br>
        <!-- 
          <v-btn color="light-blue darken-3"  block to="/manifest">
            <v-icon>mdi-book</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.theManifest') }}
          </v-btn>

          <br>

          <v-btn color="light-blue darken-3"  block to="/charter">
            <v-icon>mdi-shield-star-outline</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.theCharter') }}
          </v-btn>

          <br><br><hr><br> -->

          <!-- <v-btn color="light-blue darken-4"  block to="/geocom">
            <v-icon>mdi-map-marker-radius-outline</v-icon> 
            {{ $vuetify.lang.t('$vuetify.home.geoComInfo') }} ?
          </v-btn>

          <br v-if="!isOnNetwork"> 
        -->

        <img src="../assets/home/plaanet-main.png" style="max-width:100%; max-height:300px;border-radius:50%;">

        <br>

        <br>


        <!-- <br><br> -->
        <!-- <small>L'objectif du réseau ?</small> -->
        
        <!-- 
        <v-carousel height="500px" style="padding-bottom:50px;"
                  hide-delimiter-background interval="5000" cycle
                  show-arrows-on-hover  >
          
          <v-carousel-item v-for="(slide, i) in slides" :key="i">
            <v-sheet height="180" color="transparent">
              <v-row align="center" justify="center">
                <div class="display-5 pt-5" style="text-align:center!important;"><br>
                  <v-icon x-large color="white" style="margin-top:0px;font-size:1.6em">mdi-{{ slide.icon }}</v-icon>
                  <br><span class="font-konkretika">{{ slide.text }}</span>
                  <v-chip small style="margin-bottom:20px;margin-right:-55px;" class="ml-2 pl-2" color="secondary">
                    <v-icon small>mdi-check</v-icon> Activée
                  </v-chip><br>
                  <small>{{ slide.txt1 }}<br>
                  {{ slide.txt2 }}</small>
                  <template v-if="i==2">
                    <v-btn text small class="mt-2" color="secondary" to="/info-nodes">
                            en savoir plus
                    </v-btn>
                  </template>
                  <br>
                  <img v-if="slide.image!=''" class="mt-2 mr-2"  alt="" :src="'/'+ slide.image"
                      style="" height=200>
                  <img v-if="slide.image1!=''" class="mt-2 mr-2"  alt="" :src="'/'+ slide.image1"
                      style="border:1px solid #4d4949!important;border-radius:10px;" height=250>
                  <img v-if="slide.image2!=''" class="mt-2"  alt="" :src="'/'+ slide.image2"
                      style="border:1px solid #4d4949!important;border-radius:10px;" height=250>
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
                   
        </v-carousel> -->


        <!-- <br>
        <br>
        <br> -->
        
        <!-- <small>Pourquoi ?</small>

        <h3 class="font-konkretika">
          Parce que 
          pour s'organiser localement<br>
          il faut pouvoir communiquer localement

        </h3> -->

        <br><br>

        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6zglYx0zdmw" frameborder="0" 
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <a target="_blank" href="https://www.youtube.com/watch?v=6zglYx0zdmw"><small>https://www.youtube.com/watch?v=6zglYx0zdmw</small></a>

        <br><br>
        <v-btn fab @click="showModalVideoHome=!showModalVideoHome"><v-icon>mdi-information</v-icon></v-btn>
        <br><br>

        <ModalVideoHome :show="showModalVideoHome"></ModalVideoHome>


        <br><hr><br> 

        <h3 class="font-konkretika">
          Créons ensemble un contact permanent<br>entre tous les rebelles de la planète
        </h3>
        
        <br><hr><br>  

        <br>

        <!-- <p class="text-center font-konkretika">
              Plaanet peut être considéré comme un réseau social, 
              basé sur le principe de la communication locale.
        </p> -->
        <h2 class="font-konkretika">Comment ça marche ?</h2>
        
        <br>
        <v-carousel ref="carousel" style="padding-bottom:0px;font-size:0.8em;" class="carousel-geocom"
                  hide-delimiter-background :interval="6000" 
                  show-arrows :cycle="readCarousel">
          
          <v-carousel-item>
            <p class="text-center">
              Chaque membre est libre de publier du contenu,<br>texte, image, lien, pdf.
            </p>
            <img src="../assets/home/form-post.png" style="width:100%;border:1px solid #4d4949!important;border-radius:10px;">
          </v-carousel-item>
        
          <v-carousel-item>
            <p class="text-center">
              Ce contenu est partagé avec les autres membres<br>en fonction de leurs positions géographiques.
            </p>
            <img src="../assets/home/plaanet-stream.png" style="width:100%;border:1px solid #4d4949!important;border-radius:10px;">
          </v-carousel-item>
        
          <v-carousel-item>
            <p class="text-center">
              La zone de diffusion est définie par l'utilisateur au moment d'envoyer le message.
              Elle peut être située n'importe où sur la planète.
            </p>
            <img src="../assets/home/multiscope2.png" style="width:48%;border:1px solid #4d4949!important;border-radius:10px;" class="mr-1">
            <img src="../assets/home/multiscope3.png" style="width:48%;border:1px solid #4d4949!important;border-radius:10px;" class="mr-1">
          </v-carousel-item>
        
        </v-carousel>

        <br><hr><br>

        <v-btn fab small :color="readCarousel ? 'secondary' : 'primary darken-3'" @click="readCarousel=!readCarousel; $refs.carousel.next()">
          <v-icon>mdi-play</v-icon>
        </v-btn>

        <v-btn fab small class="ml-3" v-if="readCarousel" :color="!readCarousel ? 'secondary' : 'primary darken-3'" 
              @click="readCarousel=false">
          <v-icon>mdi-stop</v-icon>
        </v-btn>
        <!-- <p class="text-left">
          Plaanet peut être considéré comme un réseau de communication<br>
          basé sur le principe de la communication locale.
          <br><br>
          Chaque membre est libre de publier du contenu, texte, image, lien, pdf.
          <br><br>
          <img src="../assets/home/form-post.png" style="width:100%;border:1px solid #4d4949!important;border-radius:10px;">
          <br><br>
          Ce contenu sera alors partagé avec les autres membres en fonction de leurs positions géographiques,
          et de la zone de diffusion du message.
          <br><br>
          <img src="../assets/home/plaanet-stream.png" style="width:100%;border:1px solid #4d4949!important;border-radius:10px;">
          <br><br>
          La zone de diffusion est définie par l'utilisateur au moment d'envoyer le message.
          Elle peut être située n'importe où sur la Plaanet.
          <br><br>
          <img src="../assets/home/multiscope2.png" style="width:49%;border:1px solid #4d4949!important;border-radius:10px;" class="mr-1">
          <img src="../assets/home/multiscope3.png" style="width:49%;border:1px solid #4d4949!important;border-radius:10px;" class="mr-1">
          <br><br>
        </p> -->
        <br><br><br><br>
        <h4 class="font-konkretika">
          La possibilité de communiquer localement déculpera notre capacité à organiser la rébellion, partout en même temps,
          <br>
          tout en préservant l'autonomie de chaque territoire.
        </h4><br>
        <!-- <p class="text-left">
          <br><br>
          Pour compléter cette option de communication locale, il est aussi possible d'échanger des messages privés.
          <br><br>
          Pour cela vous devrez constituer votre liste de contacts en y ajoutant les membres 
          que vous connaissez ou que vous appréciez sur le réseau. Vous pourrez alors leur envoyer des messages à tout moment.
          <br><br>
        </p> -->
          <br>
        <v-row>

          <v-col cols="12" sm="6">
            <v-card  class="mx-auto" color="light-blue darken-3">
              <router-link to="/manifest">
                <v-card-text class=" white--text text-center">
                  <v-icon>mdi-book</v-icon><br>
                  {{ $vuetify.lang.t('$vuetify.home.theManifest') }}
                </v-card-text>
              </router-link>
            </v-card>
          </v-col>
          <v-col cols="12" sm="6">
            <v-card  class="mx-auto" color="light-blue darken-3">
              <router-link to="/charter">
                <v-card-text class=" white--text text-center">
                  <v-icon>mdi-shield-star-outline</v-icon><br>
                  {{ $vuetify.lang.t('$vuetify.home.theCharter') }}
                </v-card-text>
              </router-link>
            </v-card>
          </v-col>


          <v-col cols="12" sm="6">
            <v-card  class="mx-auto" color="primary darken-3">
              <router-link to="/info-nodes">
                <v-card-text class=" white--text text-center">
                  <v-icon>mdi-spider-web</v-icon><br>
                  Réseau décentralisé
                </v-card-text>
              </router-link>
            </v-card>
          </v-col>
          <v-col cols="12" sm="6">
            <v-card  class="mx-auto" color="primary darken-2">
              <router-link to="/info-system">
                <v-card-text class=" white--text text-center">
                  <v-icon>mdi-information</v-icon><br>
                  Infos
                </v-card-text>
              </router-link>
            </v-card>
          </v-col>
        </v-row>

        <br><br>

          <h4 class="font-konkretika">
            {{ $vuetify.lang.t('$vuetify.home.joinRebellion') }}
          </h4>
          <v-icon>mdi-chevron-down</v-icon>
          <v-btn color="teal"  block to="/charter">
            <v-icon>mdi-account-plus</v-icon> S'inscrire
          </v-btn>

        <br><br>

          <v-btn fab large color="primary darken-4"   to="/status">
            <v-icon>mdi-chart-line</v-icon> 
          </v-btn><br>

          <h4 class="mt-2 font-konkretika">Consulter l'état du réseau</h4>


        <br><br><br><hr><br>

        <v-row>
          <v-col cols="4" class="text-center">
              <a target="_blank" href="https://fr.wikipedia.org/wiki/Open_source">
                <img src="../assets/opensource.png" style="width:50%"><br>
              </a>
          </v-col>
          <v-col cols="4" class="text-center mt-5">
              <a target="_blank" href="https://gitlab.com/plaanet/plaanet-api/-/blob/master/LICENSE">
                <img src="../assets/freesoftware.png" style="width:60%">
              </a>
          </v-col>
          <v-col cols="4" class="text-center">
              <a target="_blank" href="https://gitlab.com/plaanet">
                <img src="../assets/gitlab.png" style="width:60%">
              </a>
          </v-col>


          <v-col cols="12" sm="12" class="text-center"><hr><br>
              <a target="_blank" href="https://discord.gg/CbMBUKy">
                <img src="../assets/discord-Logo.png" style="width:100px">
              </a><br>
            <span class="font-konkretika">Rejoindre le serveur Discord</span>
          </v-col>

        </v-row>

        
        <br><br><br><br><br><br>
      </v-col>
       
           
    </v-col>

  </v-col>


  <v-footer absolute elevation="0" color="#231f20" class="pa-1 app-footer" v-if="!isLogin">
      <v-col  class="text-left pa-1" cols="6" >
        <v-btn small text :color="isOnNetwork ? 'secondary' : 'red'" to="/select-node">
          <v-icon x-small>mdi-spider-web</v-icon> 
          {{ isOnNetwork ? currentNodeName : '' }}
        </v-btn>
        <v-btn small text color="yellow darken-3" to="/clear-local-storage">
          <v-icon x-small>mdi-briefcase-remove</v-icon> 
          {{ $vuetify.lang.t('$vuetify.home.clear') }}
          
        </v-btn>
      </v-col>
      <v-col  class="text-right pa-1" cols="6" >
        <v-btn small text color="secondary" to="/boot-node">
          {{ $vuetify.lang.t('$vuetify.home.bootNode') }}
          
        </v-btn>
      </v-col>
  </v-footer>


</v-row>
</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
  
  .main-card{
    background-color:rgba(30, 27, 28, 0.87) !important;
  }

  .v-window__container .display-1{
    line-height: 1.3em;
    font-weight:200;
    font-size:2.1em!important; 
    text-align:center!important;
    padding: 15px 40px;
  }

  .v-card__subtitle{
     color:white!important;
  }

  .carousel-geocom p{
    min-height:80px;
    /* height:100px; */
    font-size:1.2em;
  }

  .carousel-geocom .v-window__prev, 
  .carousel-geocom .v-window__next {
    background: rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    /* top: calc(0% + 90px); */
  }

</style>

<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

import Header from '@/components/home/Header.vue'
import ModalVideoHome from '@/components/main-layout/modals/ModalVideoHome.vue'

export default {
  name: 'home',
  components: { Header, ModalVideoHome },
  data:() => ({
    rebootInstanceName: '',
    user: null,
    instance: null,
    isOnNetwork: false,
    network: [],
    networkInited: false,
    currentNodeName: '',
    showMoreInfoNode: false,
    showEnterNetwork: false,
    cityFindNode: '',
    loadPlaces: false,
    name: '',
    password: '',
    showpwd: false,
    places: [],
    isLogin: false,
    resMsg: '',
    resColor: 'green',
    local: 'fr',
    showModalVideoHome: false,
    readCarousel: false,

    slides: [{ text: "Géo-communication", 
                icon: "map-marker-radius-outline",
                image: "",
                image1: "geocom1.png",
                image2: "geocom2.png",
                txt1: "Envoyez des messages autour de chez-vous,",
                txt2: "et recevez tous les messages locaux en temps réel"    },

             /*{ text: "Messagerie privée", 
                icon: "comment",
                image: "",
                image1: "private1.png",
                image2: "private2.png",
                txt1: "Discutez aussi en privé, à 2 ou à plusieurs, ",
                txt2: "entre personnes de confiance, et en toute confidentialité." },

             { text: "Décentralisation", 
                icon: "spider-web",
                image: "centralize_distributed.png",
                image1: "",
                image2: "",
                txt1: "Plaanet est un réseau décentralisé",
                txt2: ""  },*/
    ],
  }),
  async mounted(){
      
      if(localStorage.getItem("iname") != null){
        this.isOnNetwork = true
        this.currentNodeName = localStorage.getItem("iname")
      }
                    
      this.updateDataInstance()
      
      //if(localStorage.getItem("user_name") != null)
      //  router.push('/map');
        
  },
  methods: {
    
    
    async updateDataInstance(){    
      try{
        axios.get('/instance/exists')
              .then( res => {
                  console.log("res /instance/exists", res)
                  //var user = res.data.user
                  this.instance = res.data.instance
                  if(localStorage.getItem("user_name") != null)
                    router.push('/map');
              })
      }catch(e){
        console.log("error /instance/exists", e)
        this.instance = false
        //router.push('/logout');
      }
    },
    async rebootInstance(){
      try{
        axios.get('/instance/init?name='+this.rebootInstanceName,)
              .then(res => {
                  console.log("success from /instance/init?name="+this.rebootInstanceName, res.data.instance)
                  this.instance = res.data.instance
                  localStorage.setItem('access_token', res.data.admin_access_token)
                  setTimeout(function(){ 
                    router.push('/admin') 
                  }, 1500)
              })
      }catch(e){
          router.push('/admin');
      }
    },
    
    async login(){

      try{
        console.log("try to login", this.name, this.password)
        const res = await axios.post('/auth/login', 
                                      { name: this.name, password: this.password })
        
        console.log("res " + "/auth/login", res)

        if(res.data.error == false){
          console.log("USER LOGIN WITH SUCCES", res.data, res)
          localStorage.setItem("access_token", res.data.token)
          localStorage.setItem("user_name", res.data.user.name)
          localStorage.setItem("user_id", res.data.user._id)
          localStorage.setItem("user_page_uid", res.data.userPageUid)
          localStorage.setItem("currentPosition",  
                                JSON.stringify({lat: res.data.user.pages[0].coordinates[1], 
                                                lng: res.data.user.pages[0].coordinates[0] }))

          localStorage.setItem("avatarUrl", this.avatarUrl(res.data.userPageUid))
          localStorage.setItem("user_pages", JSON.stringify(res.data.user.pages))
                
          this.$root.$emit('isLoginEvent', true, res.data.user);
          this.$root.$emit('login');

          if(localStorage.getItem("firstStep") == res.data.user._id)
            router.push('/first-step')
          else
            router.push('/map');
        }else{
          console.log("USER LOGIN ERROR", res.data.errorMsg)
          this.resColor = "red--text"
          this.resMsg = res.data.errorMsg
        }
      }catch(e){
        console.log("USER LOGIN ERROR", e)
          this.resColor = "red--text"
          this.resMsg = "Your server seems to be offline (unreachable)"
      }
    },

    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 1)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
  },
  computed: {
      
  },
}
</script>
