<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto" style="max-width:600px;">
    
    <Header></Header>

    <v-col cols="12" class="mx-auto text-center">
      <br>
      <h2 class="font-konkretika">Plaanet est un réseau décentralisé</h2>
      <v-col cols="12" class="mx-auto text-center">
        <CarouselInfoNodes></CarouselInfoNodes>
      </v-col>

    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
 
</style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import Header from '@/components/home/Header.vue'
import CarouselInfoNodes from '@/components/home/CarouselInfoNodes.vue'

//import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { Header, CarouselInfoNodes },
  data:() => ({
    
  }),
  async mounted(){
      
  },
  methods: {
    
  },
}
</script>
