<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" lg="10"  md="10" sm="10" class="mx-auto" style="max-width:600px;background-color:#231f20;">
    
    <Header></Header>

    <v-col cols="12" class="mx-auto">
    
      <v-col cols="12" class="mx-auto">
        <h3 class="font-konkretika">1 - Géo-communication</h3>
        <p>
            <br>
          - Chaque utilateur est associé à une position géographique (latitude, longitude) 
          qu'il définit lui-même (pas de tracking en temps réel)<br><br>
          - Grâce à ces coordonnées géographiques, il devient possible de diffuser des messages de façon géographique, 
          en définissant une zone de diffusion pour chaque message (hors messages privés)<br><br>
          - Seuls les utilisateurs situés à l'intérieur de la zone de diffusion reçoivent le message. <br><br>
          - Si l'auteur du message l'autorise, les lecteurs peuvent partager le message, et ainsi le faire "voyager".<br><br>
          - A chaque partage, la zone de diffusion augmente et le message se déplace.<br><br>
          - De cette façon, seuls les messages qui méritent d'être connus de tous seront diffusés plus largement, 
            au fil des partages des uns et des autres.
          <br><br>
          - Les limites : 
          <ul>
            <li>Rayon de diffusion : max 600km (200km)</li>
            <li>Nb de km maximum par jour : 1000km (500km)</li>
          </ul>
          <br><br>
            - Pourquoi des limites ?
               <ul>
                   <li>Pour donner de la valeur aux messages.</li>
                   <li>Pour que chaque message soit publié avec mesure et précision</li>
                   <li>Pour créer de véritable échanges locaux (moins de 200km aux alentours de chez-soi)</li>
               </ul>
            <br><br><br>
        </p>

        <h3 class="font-konkretika">2 - Messages privés</h3>
        <p><br>
          Pour compléter ces options de communication locale, il est aussi possible d'échanger des messages privés.
          <br><br>
          Pour cela vous devrez constituer votre liste de contacts en y ajoutant les membres 
          que vous connaissez ou que vous appréciez sur le réseau. Vous pourrez alors leur envoyer des messages à tout moment.
          <br><br>


          <br><br>

            <i>A COMPLÉTER</i>
        </p>
      </v-col>

    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
 
</style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import Header from '@/components/home/Header.vue'

//import core from '../plugins/core.js'

export default {
  name: 'info-system',
  components: { Header },
  data:() => ({
    
  }),
  async mounted(){
      
  },
  methods: {
    
  },
}
</script>
