<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto" style="max-width:600px;">
    
    <Header></Header>

    <v-col cols="12" class="mx-auto text-center">
            
      <v-col cols="12" class="pa-0 mx-auto text-center" style="background-color:#231f20;">
      <v-col cols="12" lg="7"  md="12" sm="12" class="mx-auto pa-0 mt-0" style="background-color:#231f20;">
        
        <v-carousel height="500px" style="padding-bottom:50px;"
                  hide-delimiter-background interval="5000" cycle
                  show-arrows-on-hover  >
          
          <v-carousel-item v-for="(slide, i) in slides" :key="i">
            <v-sheet height="180" color="transparent">
              <v-row align="center" justify="center">
                <div class="display-5 pt-5" style="text-align:center!important;"><br>
                  <v-icon x-large color="white" style="margin-top:0px;font-size:1.6em">mdi-{{ slide.icon }}</v-icon>
                  <br><span class="font-konkretika">{{ slide.text }}</span>
                  <v-chip small style="margin-bottom:20px;margin-right:-55px;" class="ml-2 pl-2" color="secondary">
                    <v-icon small>mdi-check</v-icon> Activée
                  </v-chip><br>
                  <small>{{ slide.txt1 }}<br>
                  {{ slide.txt2 }}</small>
                  <template v-if="i==2">
                    <v-btn text small class="mt-2" color="secondary" to="/info-nodes">
                            en savoir plus
                    </v-btn>
                  </template>
                  <br>
                  <img v-if="slide.image!=''" class="mt-2 mr-2"  alt="" :src="'/'+ slide.image"
                      style="" height=200>
                  <img v-if="slide.image1!=''" class="mt-2 mr-2"  alt="" :src="'/'+ slide.image1"
                      style="border:1px solid #4d4949!important;border-radius:10px;" height=250>
                  <img v-if="slide.image2!=''" class="mt-2"  alt="" :src="'/'+ slide.image2"
                      style="border:1px solid #4d4949!important;border-radius:10px;" height=250>
                </div>
              </v-row>
            </v-sheet>
          </v-carousel-item>
          
         
        </v-carousel>
        <br>
      </v-col>
      </v-col>
    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style>
 
  .intro{
    padding:40px;
    font-weight:200;
    border: 1px solid #595959;
    border-radius:20px;
    font-size:0.9em;
  }
  .v-content__wrap{
    background-size: cover;
    background: fixed url('../assets/crysys/bg-crysys-empty.png') top center !important;
    background-color: black;
  }
  .main-card{
    background-color:rgba(30, 27, 28, 0.87) !important;
  }

  .v-window__container .display-1{
    line-height: 1.3em;
    font-weight:200;
    font-size:2.1em!important; 
    text-align:center!important;
    padding: 15px 40px;
  }

  .v-card__subtitle{
     color:white!important;
  }

</style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import Header from '@/components/home/Header.vue'

export default {
  name: 'home',
  components: { Header },
  data:() => ({
    slides: [{ text: "Géo-communication", 
                icon: "map-marker-radius-outline",
                image: "",
                image1: "geocom1.png",
                image2: "geocom2.png",
                txt1: "Envoyez des messages autour de chez-vous,",
                txt2: "et recevez tous les messages locaux en temps réel"    },

             { text: "Messagerie privée", 
                icon: "comment",
                image: "",
                image1: "private1.png",
                image2: "private2.png",
                txt1: "Discutez aussi en privé, à 2 ou à plusieurs, ",
                txt2: "entre personnes de confiance, et en toute confidentialité." },

             { text: "Décentralisation", 
                icon: "spider-web",
                image: "centralize_distributed.png",
                image1: "",
                image2: "",
                txt1: "Plaanet est un réseau décentralisé",
                txt2: ""  },
    ],
  }),
  async mounted(){
      
  },
  methods: {
  },
}
</script>
