<template>

<div>
<Header></Header>
    
  <v-col cols="12" lg="4"  md="8" sm="8" class="mx-auto text-center">
    
    <v-card class="mx-auto pa-0" color="secondary">
      <v-col cols="12" class="pa-0">      
        <v-card-title class="pa-2">
        <v-btn icon class="mr-1" to="/select-node">
          <v-icon>mdi-spider-web</v-icon>
        </v-btn> 

        <v-icon>mdi-check</v-icon> 
        {{ $vuetify.lang.t('$vuetify.main.Server') }}  

        <v-chip color="ml-3 secondary darken-2">
          {{ currentNodeName }}, <small class="ml-1"> {{ currentNodeLocation }}</small>
        </v-chip>
         </v-card-title> 
      </v-col>
    </v-card>
    <br>

  <v-card class="mx-auto main-card" style="border: 2px solid #26a69a;">

    <v-col cols="12">
      <v-card-title><small>
        <v-icon class="mr-1">mdi-login</v-icon> 
        {{ $vuetify.lang.t('$vuetify.login.connectToAccount') }}
      </small></v-card-title> 
      
      <v-form @submit.prevent="login">
        <v-text-field outlined v-model="name" id="name" 
                      :label="$vuetify.lang.t('$vuetify.home.pseudoFormLogin')">
        </v-text-field>
        <v-text-field outlined v-model="password" id="password" 
                      :label="$vuetify.lang.t('$vuetify.main.password')"
                      :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showpwd ? 'text' : 'password'"
                      @click:append="showpwd = !showpwd"
                      @change="login"
        ></v-text-field>
        <br>
        <v-btn class="white--text" color="secondary" @click="login" style="min-width:100%">
          <v-icon>mdi-login</v-icon> {{ $vuetify.lang.t('$vuetify.main.login') }}
        </v-btn>
      </v-form>
      <v-card-subtitle v-if="resMsg != ''" :class="resColor">{{ resMsg }}</v-card-subtitle>
    </v-col>
      
  </v-card>

  </v-col>

</div>
</template>

<script>

import router from '../router/router'
import axios from 'axios'
import core from '../plugins/core.js'
import Header from '@/components/home/Header.vue'

export default {
  name: 'login',
  components: { Header
  },
  data: () => ({
    email: '',
    name: '',
    password: '',
    resColor: '',
    resMsg: '',
    currentNodeName: '',
    currentNodeLocation: '',
    showpwd: false
  }),

  async mounted(){        
      if(localStorage.getItem("iname") != null){
        this.currentNodeName = localStorage.getItem("iname")
        this.currentNodeLocation = localStorage.getItem("iLocation")
      }else{
        router.push('/');
      }
  },
  methods: {
    async login(){

      try{
        console.log("try to login", this.name, this.password)
        const res = await axios.post('/auth/login', 
                                      { name: this.name, 
                                        password: this.password })
        
        console.log("res " + "/auth/login", res)

        if(res.data.error == false){
          console.log("USER LOGIN WITH SUCCES", res.data, res)
          localStorage.setItem("access_token", res.data.token)
          localStorage.setItem("user_name", res.data.user.name)
          localStorage.setItem("user_id", res.data.user._id)
          localStorage.setItem("user_page_uid", res.data.userPageUid)
          localStorage.setItem("currentPosition",  
                                JSON.stringify({lat: res.data.user.pages[0].coordinates[1], 
                                                lng: res.data.user.pages[0].coordinates[0] }))

          localStorage.setItem("avatarUrl", this.avatarUrl(res.data.userPageUid))
          localStorage.setItem("user_pages", JSON.stringify(res.data.user.pages))
                
          this.$root.$emit('isLoginEvent', true, res.data.user);
          this.$root.$emit('login');

          if(localStorage.getItem("firstStep") == res.data.user._id)
            router.push('/first-step')
          else
            router.push('/map');
        }else{
          console.log("USER LOGIN ERROR", res.data.errorMsg)
          this.resColor = "red--text"
          this.resMsg = res.data.errorMsg
        }
      }catch(e){
        console.log("USER LOGIN ERROR", e)
          this.resColor = "red--text"
          this.resMsg = "Votre serveur est inaccessible (unreachable)"
      }
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }
  }
}
</script>
