<template>
<div>
<v-row class="d-flex main" id="scroll-target" 
      v-if="context != null"
      :class="leftDrawerOpen ? 'left-drawer-open' : ''">

  <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" :center="mapCenter"  
          id="map-container" v-if="nodeLatLng.lat == null && showMap == true">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      
      <l-marker ref="rootMarker" :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                :draggable="draggable" @drag="rootMarkerDrag()" 
                @dragend="rootMarkerDragend()" 
                :icon="markerIconRoot" id="myMarker">

        <l-popup class="">
          <div v-show="popupKey == 'send1'">

            <h4 class="text-center white--text">
              {{ $vuetify.lang.t('$vuetify.map.selectReceptionZone') }}<br>
              {{ $vuetify.lang.t('$vuetify.map.clickToSend') }}
            </h4><br>
            
            <h3 class="text-center white--text">
              {{ totalUserPages }} {{ $vuetify.lang.t('$vuetify.map.peopleAffected') }}
            </h3><br>
            
            
            
            <v-alert elevation="2">
              {{ postText.substr(0, 100) }}...
            </v-alert>
            <v-alert border="left" v-if="postTextError!=''" 
                    colored-border color="red" elevation="2">
              <small>{{ postTextError }}</small>
            </v-alert>
            <v-bottom-navigation :height="70" 
                style="margin-bottom:15px; border-radius:5px; "
                grow color="white"
            >
                <v-btn @click="$root.$emit('showFormEditPost', true);">
                    <span>{{ $vuetify.lang.t('$vuetify.main.Edit') }}</span>
                    <v-icon color="blue">mdi-tooltip-edit</v-icon>
                </v-btn>
                <v-btn @click="sendPost">
                    <span>{{ $vuetify.lang.t('$vuetify.map.Send') }}</span>
                    <v-icon color="green">mdi-send</v-icon>
                </v-btn>
                <v-btn @click="closeFormEditPost">
                    <span>{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</span>
                    <v-icon color="red">mdi-cancel</v-icon>
                </v-btn>
            </v-bottom-navigation>


          </div>
          <div v-show="popupKey == 'send2'">
            <v-alert border="left" colored-border color="blue" elevation="2">
              {{ $vuetify.lang.t('$vuetify.map.SendingYourMessage') }}...<br>
              {{ $vuetify.lang.t('$vuetify.map.PleaseWait') }}
            </v-alert>
          </div>
        
          <div v-show="popupKey == 'stream1'">
            <v-bottom-navigation :height="70" 
                style="margin-bottom:15px; border-radius:5px; "
                grow color="darkblock"
            >
                <v-btn @click="$root.$emit('showStream');">
                    <span>{{ $vuetify.lang.t('$vuetify.menu.Home') }}</span>
                    <v-icon>mdi-home</v-icon>
                </v-btn>
                <v-btn @click="$root.$emit('showFormEditPost', true);">
                    <span>{{ $vuetify.lang.t('$vuetify.stream.sendPost') }}</span>
                    <v-icon>mdi-tooltip-edit</v-icon>
                </v-btn>
                <v-btn :to="'/page/'+postSignedUid+'/editpos'">
                    <span>{{ $vuetify.lang.t('$vuetify.stream.position') }}</span>
                    <v-icon>mdi-map-marker</v-icon>
                </v-btn>
            </v-bottom-navigation>
          </div>
        </l-popup>

      </l-marker>
      
      <l-circle :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                :radius="rootCircle.radius"
                color="rgba(18, 191, 200, 0.1)"
                fill-color="rgba(18, 191, 200)"
                :fill-opacity=".35" ref="rootCircle" v-if="!scopePrivate"></l-circle>

      <l-circle :lat-lng="[scopeCircle.lat, scopeCircle.lng]" 
                :radius="scopeCircle.radius"
                color="rgba(0, 0, 0, 0.1)"
                fill-color="rgba(0, 0, 0)"
                v-if="showScopeCircle"
                :fill-opacity=".35" ref="scopeCircle"></l-circle>

      <v-marker-cluster ref="markerCluster" :options="clusterOptions"></v-marker-cluster>
      
  </l-map>

  
  <v-expand-transition>
    <v-btn id="btn-map-show-stream" @click="$root.$emit('showStream')" v-if="mapMode=='stream'" :loading="streamLoading"
            v-show="!showToolbarContent && !showFormEdit && !showStream"  dense>
        {{ stream.length }} {{ $vuetify.lang.t('$vuetify.stream.results') }} 
        <v-icon class="ml-2" small>mdi-arrow-up</v-icon>
    </v-btn>
    <v-btn id="btn-map-show-stream" @click="$root.$emit('showStream')" v-if="mapMode=='page'" :loading="streamLoading"
            v-show="!showToolbarContent && !showFormEdit && !showStream"  dense>
        {{ mapPages.length }} {{ $vuetify.lang.t('$vuetify.stream.results') }} 
        <v-icon class="ml-2" small>mdi-arrow-up</v-icon>
    </v-btn>
  </v-expand-transition>


  <v-toolbar v-show="showToolbarPlace && showMap" id="toolbar-place" bottom dense>  
      <v-text-field :loading="loadPlaces"
        hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchAPlace')+'...'"
        prepend-icon="mdi-map-search-outline"
        single-line @change="searchPlace" v-model="searchPlaceStr"
      ></v-text-field>
    
      <v-btn icon @click="showSlider=!showSlider">
        <v-icon>mdi-bullseye</v-icon>
      </v-btn>

      <v-btn icon @click="goToMainPosition">
        <v-icon>mdi-target-account</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
  </v-toolbar>

  <v-toolbar v-show="!showToolbarPlace && showMap && !showStream" id="toolbar-place" bottom dense>  
      <v-text-field :loading="streamLoading"
        hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchAPage')+'...'"
        prepend-icon="mdi-certificate-outline"
        single-line @change="setMapMode('page')" v-model="searchPageStr"
      ></v-text-field>
    
      <v-btn x-small fab class="ml-2" 
            :color="mapMode == 'page' ? 'primary' : 'secondary'" 
            @click="mapPageType=null; setMapMode('page')">
            <v-icon small>mdi-cloud-search-outline</v-icon> 
            <!-- {{ $vuetify.lang.t('$vuetify.stream.searchUser') }} -->
      </v-btn>

      <template v-for="type in ['user', 'group', 'event', 'assembly']">
        <v-btn small icon class="ml-1" :key="type" :title="$vuetify.lang.t('$vuetify.pageType.'+type)"
              :color="mapPageType == type ? 'primary lighten-2' : 'primary darken-1'" 
              @click="mapPageType=type; setMapMode('page')">
              <v-icon small>mdi-{{ iconPageType(type) }}</v-icon> 
        </v-btn>
      </template>

      <v-btn x-small fab class="ml-2 mr-3" 
            :color="mapMode == 'stream' ? 'primary' : 'secondary'" 
            @click="setMapMode('stream')">
            <v-icon small>mdi-newspaper-variant-multiple</v-icon> 
            <!-- {{ $vuetify.lang.t('$vuetify.stream.newsstream') }} -->
      </v-btn>
  </v-toolbar>

  <div id="slider-radius-meters" v-show="!showStream">
    <v-slider v-model="rootRadiusMeters" @change="updateRadius"
              v-show="rootRadius == 0 && showSlider"
              color="secondary" :label="rootRadiusMeters+' m'" inverse-label
              max=1000 min=30
    >
      <template v-slot:prepend>
        <v-icon @click="decrementM">mdi-minus</v-icon>
      </template>

      <template v-slot:append>
        <v-icon @click="incrementM">mdi-plus</v-icon>
      </template>
    </v-slider>
  </div>
  
  <div id="slider-radius" v-show="!showStream">
    <v-slider v-model="rootRadius" @change="updateRadius"
              v-show="showSlider" color="primary"  :label="rootRadius+' km'" 
              inverse-label 
              :max='kmCurrentMax'
    >
      <template v-slot:prepend>
        <v-icon @click="decrement">mdi-minus</v-icon>
      </template>

      <template v-slot:append>
        <v-icon @click="increment">mdi-plus</v-icon>
      </template>
    </v-slider>
  </div>

  <v-expand-transition>
    <v-list v-show="places.length > 0" dense id="toolbar-place-list">
      <!-- <v-subheader>PLACES</v-subheader> -->
      <v-list-item-group  color="primary" > 
        <v-list-item
          v-for="(place, i) in places"
          :key="i"
          @click="updateRootLocation(place.lat, place.lng, place.city)"
        >
          <v-list-item-icon>
            <v-icon>mdi-map-marker</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="place.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-expand-transition>


  <v-expand-transition>
    <v-card id="formEditPost" v-show="showFormEdit" 
            class="mx-auto" 
            style="padding: 0 0 70px 0; bottom:0px; right:0px; 
                   overflow-y: auto; overflow-x: hidden; max-width:500px;">
   
      <v-col v-show="!scopePrivate">
        <v-chip color="transparent" small text-color="primary" elevation="2">
          <small>{{ $vuetify.lang.t('$vuetify.stream.limit') }} : {{ kmLimitByDay }} {{ $vuetify.lang.t('$vuetify.stream.kmByDay') }}</small>
        </v-chip> 
        <v-chip color="transparent" small text-color="secondary" elevation="2">
          <small :title="$vuetify.lang.t('$vuetify.stream.youAlreadyUsed') + ' ' + (kmLimitByDay - kmMax) + ' km ' + $vuetify.lang.t('$vuetify.stream.today')">
           {{ $vuetify.lang.t('$vuetify.stream.used') }} : {{ kmLimitByDay - kmMax }} km
          </small>
        </v-chip> 
        <v-chip :color="kmMax > 100 ? 'green' : kmMax > 0 ? 'orange darken-2' : 'red'" 
                 small elevation="2" style="float:right;" v-show="!scopePrivate">
          <small :title="$vuetify.lang.t('$vuetify.stream.remainingTitle') + ' ' + kmMax + ' km ' + $vuetify.lang.t('$vuetify.stream.today')">
           {{ $vuetify.lang.t('$vuetify.stream.remaining') }} : {{ kmMax }} km
          </small>
        </v-chip> 
      </v-col>

      <v-col cols="12" v-if="kmMax <= 0">
        <v-alert border="left" colored-border color="red" elevation="2">
          <small>{{ $vuetify.lang.t('$vuetify.stream.msgUsedAllKm') }}</small>
        </v-alert>
      </v-col>


      <v-col class="mt-3">
        <v-label>
          <small>
            <v-btn icon @click="showModalScopeGeo=!showModalScopeGeo">
              <v-icon small>mdi-information-outline</v-icon>
            </v-btn>
            <v-icon class="ml-1" small>mdi-map-marker-radius-outline</v-icon>
            Rayon de diffusion
            
          </small>
        </v-label>
          <v-slider class="ml-1" v-model="rootRadius" @change="updateRadius"
                  v-show="showSlider" color="primary"  :label="rootRadius+' km'" 
                  inverse-label
                  :max='kmCurrentMax'
        >
          <template v-slot:prepend>
            <v-icon @click="decrement">mdi-minus</v-icon>
          </template>

          <template v-slot:append>
            <v-icon @click="increment">mdi-plus</v-icon>
          </template>
        </v-slider>
      </v-col>

      <modalScopeGeo :show="showModalScopeGeo"></modalScopeGeo>


      <v-col cols="12" class="pb-0 pt-0" v-if="kmMax > 0">
        <v-label>
          <small><v-icon small>mdi-chevron-down</v-icon>{{ $vuetify.lang.t('$vuetify.stream.PublishAs') }}...</small>
        </v-label>
        <v-overflow-btn
          class="my-2" solo chips
          v-model="postSignedUid"
          :items="myPages"
          item-value="uid"
          item-text="name"
          target="#dropdown-example-1"
          @change="changeCenterSendPost"
        ></v-overflow-btn>
        
        <v-textarea
           solo
          :label="$vuetify.lang.t('$vuetify.stream.YourMessage')"     
          :counter="true"    
          :rules="rulesTxtareaEditPost"
          v-model="postText"
          @change="extractMeta"
        ></v-textarea>

      </v-col>

      <v-col class="mt-0" v-if="showTags">
        <v-card>
          <v-col class="">
            <!-- <h4>#hashtags</h4> -->
            <v-col class="pa-0 mt-2">
              <h5 class="mb-1">{{ $vuetify.lang.t('$vuetify.stream.hashtagSuggestions') }}</h5>
              <template v-for="(tag, i) in hashtagList">
                <v-chip @click="addTagNewPost(tag.tag)" small 
                        :color="postText.indexOf(tag.tag) > -1 ? 'blue' : ''"
                        :key="i" class="mr-2 mt-2">
                    {{ tag.tag }}
                </v-chip>
              </template>
              </v-col>
          </v-col>
        </v-card>
      </v-col>
      
      <!-- link metadata preview -->
      <v-col flex class="pa-0" v-if="embedMetaLinks.length > 0">
          <MetaLinks :embedMetaLinks="embedMetaLinks" :clearable="true"></MetaLinks>          
      </v-col>


      <v-col class="pt-0">
        <v-file-input v-show="showInputImage"
          label="Joindre une image" ref="fileInput" id="fileInput"
          outlined accept="image/*"
          prepend-icon="mdi-camera"
          v-model="postImage"
        ></v-file-input>
        <v-img :src="urlToImage" :v-show="urlToImage!=''"></v-img>
      </v-col> 

      <v-col class="pt-0">
        <v-file-input v-show="showInputPdf"
          label="Ajouter un PDF" ref="pdfInput" id="pdfInput"
          outlined accept=".pdf"
          prepend-icon="mdi-file"
          v-model="postPDF"
        ></v-file-input>
      </v-col> 



      <v-col class="pa-0">
        <v-card color="transparent" style="width:100%; box-shadow:none;" 
                class="pa-0 pr-4 mb-0 d-flex align-end flex-column">
            <small>{{ $vuetify.lang.t('$vuetify.stream.enableShare') }} ?</small>
            <v-switch v-model="postSharable" color="primary" class="ma-0 mb-0"></v-switch>
        </v-card>
      </v-col>


      <hr style="border-color:#02020226;margin-bottom:15px;">
      <v-row flex>
        <v-col class="text-center" style="padding-top:0"> 
          <v-btn icon large @click="selectImage">
            <v-icon>mdi-image-plus</v-icon>
          </v-btn><br>
          <small>{{ $vuetify.lang.t('$vuetify.stream.addPicture') }}</small>
        </v-col>
        <!-- <v-col col="4" class="text-center" style="padding-top:0"> 
          <v-btn icon large @click="showTags=!showTags">
            <v-icon>mdi-tag-plus</v-icon>
          </v-btn><br>
          <small>#tags</small>
        </v-col> -->
        <v-col col="4" class="text-center" style="padding-top:0"> 
          <v-btn icon large @click="selectPDF">
            <v-icon>mdi-file-plus</v-icon>
          </v-btn><br>
          <small>PDF</small>
        </v-col>
        <v-col class="text-center" style="padding-top:0"> 
          <v-btn icon large @click="closeFormEditPost" color="red">
            <v-icon>mdi-cancel</v-icon>
          </v-btn><br>
          <small>{{ $vuetify.lang.t('$vuetify.main.Cancel') }}</small>
        </v-col>
        <v-col class="text-center" style="padding-top:0"> 
          <v-btn icon large @click="firstStepSend" color="green" :disabled="postText == ''">
            <v-icon>mdi-checkbox-marked-circle-outline</v-icon>
          </v-btn><br>
          <small>{{ $vuetify.lang.t('$vuetify.main.Validate') }}</small>
        </v-col>
      </v-row>
      <v-row flex>
        <v-col col="12"> 
          <br><br>
        </v-col>
      </v-row>

    </v-card>
  </v-expand-transition>

  <v-expand-transition>
    <Stream v-show="showStream" :stream="stream" :mapMode="mapMode" :mapPages="mapPages"
           :streamLoading="streamLoading" :pageNumber="pageNumber" :totalUserPages="totalUserPages"
           :endOfStream="endOfStream" :isPrivate="false" :context="context"></Stream>
  </v-expand-transition>
  
 
</v-row>

<div v-show="false" v-if="pageMapPopup!=null" id="bar-popup-map-pages">
  
  <v-list-item>
    <v-list-item-avatar height="46" width="46"
        :class="'mr-3 btn-poppage-to-page-'+pageMapPopup.uid">
      <v-img :src="avatarUrl(pageMapPopup.uid)"></v-img>
    </v-list-item-avatar>
    
    <v-list-item-content>

      <v-list-item-title class="headline" style="line-height: 1.3rem;">
        <a href="javascript:" text 
          style="color:white;text-transform:none;font-size:0.7em!important;text-decoration:none;white-space:normal;display:inline;" 
              :class="'pa-0 btn-poppage-to-page-'+pageMapPopup.uid">@{{ pageMapPopup.name }}</a>
      </v-list-item-title>
      
      <v-list-item-subtitle v-show="pageMapPopup.address==null &&  pageMapPopup.city==null">
        <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small>
        <small><v-icon x-small>mdi-map-marker</v-icon> {{ $vuetify.lang.t('$vuetify.map.notLocated') }}</small>
      </v-list-item-subtitle>

      <v-list-item-subtitle v-show="pageMapPopup.address!=null ||  pageMapPopup.city!=null">
        <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName(pageMapPopup.uid) }}</small>
        <v-icon x-small style="margin-left:-5px;">mdi-map-marker</v-icon>{{ pageMapPopup.address }} {{ pageMapPopup.city }}
      </v-list-item-subtitle>

    </v-list-item-content>
  </v-list-item>

  <v-bottom-navigation :height="70" 
      style="margin-bottom:15px; border-radius:5px; "
      grow color="primary"
  >

      <v-btn :class="'btn-poppage-to-page-'+pageMapPopup.uid">
          <span>{{ $vuetify.lang.t('$vuetify.map.seePage') }}</span>
          <v-icon>mdi-account</v-icon>
      </v-btn>


      <v-btn :class="'btn-send-private-'+pageMapPopup.uid">
          <span>{{ $vuetify.lang.t('$vuetify.map.privateMsg') }}</span>
          <v-icon>mdi-send</v-icon>
      </v-btn>
  </v-bottom-navigation>
</div>


<v-bottom-navigation fixed :height="44" v-show="showStream" 
                      small grow style="background-color:#171717;" 
                      class="nav-footer">

    <v-btn x-small icon @click="$root.$emit('showMap')">
        <v-icon>mdi-map-marker</v-icon>
    </v-btn>

    <v-btn x-small icon @click="scrollTop">
        <v-icon>mdi-chevron-double-up</v-icon>
    </v-btn>

    <v-btn x-small icon @click="initSearchUser">
        <v-icon>mdi-account-search</v-icon>
    </v-btn>

    <v-btn x-small icon @click="$root.$emit('get-count')" 
          :title="countConnected + ' utilisateur(s) connecté(s) sur serveur :'+iName(context.userPage.uid)">
         <span>{{ countConnected }} <v-icon small>mdi-account</v-icon></span>
    </v-btn>
    
</v-bottom-navigation>

</div>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
</style>

<script>

import axios from 'axios'
import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LCircle, LPopup} from 'vue2-leaflet'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
import CTP from 'circle-to-polygon';

import Stream from '@/components/Stream.vue'
import MetaLinks from '@/components/MetaLinks.vue'
import ModalScopeGeo from '@/components/main-layout/modals/ModalScopeGeo.vue'

import core from '../plugins/core.js'

import '@/assets/css/main.css';
//import GetUrls from 'get-urls'

export default {
  name: 'home',
  props: ['context', 'countConnected'],
  components: { MetaLinks, Stream, ModalScopeGeo, LMap, 
                LTileLayer, LMarker, LCircle, LPopup, 
                'v-marker-cluster' : Vue2LeafletMarkerCluster },
  data:() => ({
      showMap: true,
      showSlider: true,
      showToolbarContent: false,
      showToolbarPlace: false,
      nodeLatLng: { lat: null, lng: null },
      zoom:5,
      mainPosition: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
      },
      mapCenter: L.latLng(46.16685851396646, -1.1697435379028323),
      //url:'//{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', //http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
      
      popupOpen: false,
      markers: null,
      collapseMapToolbar: true,
      draggable: false,
      rootMarker: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
        popupHtml: "",
        city: ""
      },
      scopeCircle: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
        radius: 300000
      },
      rootCircle: {
        radius: 100000
      },
      rootRadius: 100,
      rootRadiusMeters: 900,
      kmCurrentMax: 600,
      kmMax: 600,
      kmLimit: 600,
      kmLimitByDay: 1000,
      showFormEdit: false,
      rulesTxtareaEditPost: [v => v.length <= 5000 || 'Max 5000 caractères'],
      postText: "",
      postTextError: '',
      postTagText: "",
      postPDF: null,
      postSignedUid: "",
      postSharable: true,
      popupKey: "send1",
      showStream: true,
      stream: [],
      streamLoading: false,
      showScopeCircle: false,
      clusterOptions: { showCoverageOnHover: false, maxClusterRadius: 30 },
      places: [],
      placeSelected: {},
      searchPlaceStr: '',
      loadPlaces: false,
      searchContentStr: '',
      searchPageStr: '',
      embedMetaLinks: [],
      showInputImage: false,
      showInputPdf: false,
      urlToImage: '',
      postImage: null,
      streamOrigine: 'local',
      myPages: [],
      scopeType: 'localised',
      scopePrivate: false,
      mapMode: 'stream',
      mapPages: [],
      totalUserPages: 0,
      pageMapPopup: {},
      sharedPostUid: null,
      mapPageType: '',
      leftDrawerOpen: true,
      showModalScopeGeo: false,
      showTags: false,
      pageNumber: 1,
      endOfStream: false,
      hashtagList: [
        { tag: '#info', count: 2 },
        { tag: '#annonce', count: 4 },
        { tag: '#question', count: 2 },
        { tag: '#sondage', count: 2 },
        { tag: '#proposition', count: 2 },
        { tag: '#action', count: 4 },
        { tag: '#manifestation', count: 4 },
        { tag: '#mobilisation', count: 4 },
        { tag: '#assemblée', count: 2 },
      ]
  }),
  async mounted(){
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
      
      core.initRand()
     
      this.$root.$off('showFormEditPost').$on('showFormEditPost', (bool) => { 
        console.log('showFormEditPost 2', bool)
        this.showStream = false
        this.draggable = true
        this.showFormEdit = bool;
        this.mapMode = "send"
        this.popupKey = "send1";
        this.showToolbarContent = false
        this.showToolbarPlace = true
        this.mapPageType = "user"
        this.loadPages()
        this.initKmMax()
      })

      this.$root.$off('showMap').$on('showMap', (bool) => { 
        console.log('showMap 2', bool)
        this.showFormEdit = false;
        this.showStream = false
        this.showToolbarContent = false 
        //this.showToolbarPlace = true
        this.popupKey = "stream1"
        this.$refs.rootMarker.mapObject.openPopup()
      })

      this.$root.$off('showStream').$on('showStream', (bool) => { 
        console.log('showStream 2', bool)
        this.showFormEdit = false;
        this.showStream = true
        this.showToolbarContent = false
        this.showToolbarPlace = false
        this.popupKey = "stream1"
        this.$refs.rootMarker.mapObject.closePopup()
      })

      this.$root.$off('showToolbarContent').$on('showToolbarContent', (bool) => { 
        console.log('showToolbarContent 2')
        this.showToolbarContent = bool;
      })

      this.$root.$off('loadStream').$on('loadStream', (streamOrigin, search) => { 
        console.log('loadStream in main.js')
        this.searchContentStr = search
        this.streamOrigin = streamOrigin
        this.mapMode = "stream"
        this.pageNumber = 1
        this.loadStream()
      })

      this.$root.$off('loadNextStream').$on('loadNextStream', (streamOrigin, search) => { 
        console.log('loadNextStream in main.js')
        this.searchContentStr = search
        this.streamOrigin = streamOrigin
        this.mapMode = "stream"
        this.pageNumber++
        this.loadStream()
      })

      this.$root.$off('loadPages').$on('loadPages', (type, search) => { 
        console.log('loadPages in main.js')
        this.searchPageStr = search
        this.mapMode = "page"
        this.mapPageType = type
        this.pageNumber = 1
        this.loadPages()
      })

      this.$root.$off('loadNextPages').$on('loadNextPages', (type, search) => { 
        console.log('loadNextPages in main.js')
        this.searchPageStr = search
        this.mapPageType = type
        this.pageNumber++
        this.loadPages()
      })

      this.$root.$off('updateRadius').$on('updateRadius', (radius) => { 
        console.log('updateRadius in main.js')
        this.rootRadius = radius
        this.updateRadius()
      })

      
      this.$root.$off('sharePost').$on('sharePost', (postUid, postText) => { 
        console.log('sharePost in main.js', postUid)
        this.sharedPostUid = postUid
        this.postText = postText
        this.firstStepSend()
      })


      this.$root.$on('toggleLeftDrawer', (bool) => { 
        console.log('toggleLeftDrawer', bool)
        this.leftDrawerOpen = bool;
      })


      this.$root.$off('receiveNotifComment').$on('receiveNotifComment', (notif) => { 
        notif.whatObj.new = true
        this.stream.forEach((post) => {
          if(post.uid == notif.aboutObj.uid){
            notif.whatObj.author = notif.authors[0]
            console.log("notif.whatObj.parentCommentId", notif.whatObj.parentCommentId)
            if(notif.whatObj.parentCommentId == null){
              notif.whatObj.answers = []
              post.comments.push(notif.whatObj)
            }else{
              post.comments.forEach((com) => { 
                console.log("post.comments.forEach", com._id, notif.whatObj.parentCommentId)
                if(com._id == notif.whatObj.parentCommentId){
                  notif.whatObj.answers = []
                  com.answers.push(notif.whatObj)
                }
              }) 
            }
          }
        })
      })

      this.$root.$off('receiveLike').$on('receiveLike', (notif) => { 
        let p = notif.whatObj.posAdded
        this.stream.forEach((post) => {
          if(post.uid == notif.whatObj.uid){
            if(p > -1){
              if(notif.verb=="LIKES") post.likes.splice(p, 1)
              if(notif.verb=="DISLIKES") post.dislikes.splice(p, 1)
            }else{
              if(notif.verb=="LIKES") post.likes.push(notif.authors[0].uid)
              if(notif.verb=="DISLIKES") post.dislikes.push(notif.authors[0].uid)
            }
            this.$root.$emit('updatePostObj', post.uid);
          }
        })
      })

      this.$root.$off('newViewer').$on('newViewer', (notif) => { 
        let p = notif.whatObj.posAdded
        console.log("newViewer posAdded", p)
        this.stream.forEach((post) => {
          console.log("newViewer", post.uid, notif.whatObj.uid)
          if(post.uid == notif.whatObj.uid){
            if(p > -1){
              let uidNewR = notif.authors[notif.authors.length-1]
              post.viewers = this.removeUid(post.viewers, uidNewR.uid)
            }else{
              //let uidNewR = notif.authors[notif.authors.length-1]
              //post.viewers.push(uidNewR.uid)
              //console.log("newViewer set", uidNewR.uid)
            }
            this.$root.$emit('updatePostObj', post.uid);
          }
        })
      })

      this.$root.$off('receiveEmoji').$on('receiveEmoji', (notif) => { 
        this.stream.forEach((post) => {
          if(post.uid == notif.aboutObj.uid){
            notif.whatObj.author = notif.authors[0]
            if(notif.whatObj.parentCommentId == null){
              post.comments.forEach((com) => { 
                if(com._id == notif.whatObj.uid){
                  let found = false
                  com.emojis.forEach((emo) => { 
                    if(emo.name == notif.whatObj.emoji){
                      found = true
                      if(notif.whatObj.posAdded > -1)
                        emo.users.splice(notif.whatObj.posAdded, notif.whatObj.posAdded+1)
                      else
                        emo.users.push(notif.whatObj.author.uid)
                    }
                  })
                  if(found == false){
                    com.emojis.push({ name: notif.whatObj.emoji, users: [notif.whatObj.author.uid]})
                  }
                }
              })
            }else{
              post.comments.forEach((com1) => { 
                com1.answers.forEach((com) => { 
                  if(com._id == notif.whatObj.uid){
                    let found = false
                    com.emojis.forEach((emo) => { 
                      if(emo.name == notif.whatObj.emoji){
                        found = true
                        if(notif.whatObj.posAdded > -1)
                          emo.users.splice(notif.whatObj.posAdded, notif.whatObj.posAdded+1)
                        else
                          emo.users.push(notif.whatObj.author.uid)
                      }
                    })
                    if(found == false){
                      com.emojis.push({ name: notif.whatObj.emoji, users: [notif.whatObj.author.uid]})
                    }
                  }
                })
              })
            }
          }
        })
      })

      this.initMainPosition()
      //this.goToMainPosition()
  },
  methods: {
      removeUid : function(arr, uid){
        console.log("removeUid", arr, uid)
        let pos = arr.indexOf(uid)
        arr.splice(pos, 1)
        return arr
      },
      
      setMapMode: function(mode){
        this.mapMode = mode
        console.log("setMapMode", mode)
        if(this.mapMode == "stream"){
          this.initMainPosition()
          this.draggable = false
          this.loadStream()
        }
        if(this.mapMode == "send"){
          this.loadPages("user")
        }
        if(this.mapMode == "page"){
          this.draggable = true
          this.loadPages()
        }
      },
      initMainPosition: async function(){
        if(this.context != null){
          //const res = await axios.get('/user/profil')
          console.log("initMainPosition", this.context.userPage.coordinates)
          this.mainPosition.lat = this.context.userPage.coordinates[1]
          this.mainPosition.lng = this.context.userPage.coordinates[0]
          this.myPages = this.context.user.pages
          this.postSignedUid = this.context.userPage.uid

          console.log("initMainPosition", this.mainPosition.lat, this.mainPosition.lng, this.myPages)
          this.goToMainPosition()
        }
        else{
          console.log("error initMainPosition")
          //router.push("/logout")
        }
      },
      initKmMax: async function(){
        const res = await axios.get('/publication/km-limit')
        this.kmMax = res.data.kmRemainToday / 1000
        this.kmCurrentMax = this.kmMax
        if(this.kmCurrentMax > this.kmLimit) this.kmCurrentMax = this.kmLimit
        console.log("initKmMax", this.kmMax, this.kmLimit)
        if(this.kmCurrentMax < this.rootRadius){
          this.rootRadius = this.kmCurrentMax
          this.updateRadius()
        }
          
      },
      rootMarkerDrag: function(){
        this.rootMarker.lat = this.$refs.rootMarker.mapObject._latlng.lat
        this.rootMarker.lng = this.$refs.rootMarker.mapObject._latlng.lng
      },
      rootMarkerDragend: function(){
        this.$refs.rootMarker.mapObject.openPopup()
        this.setMapMode(this.mapMode)
        //this.loadStream() 
        //localStorage.setItem("currentPosition", JSON.stringify({lat: this.rootMarker.lat, lng: this.rootMarker.lng }))
        //localStorage.setItem("currentRadius", this.rootCircle.radius)
      },
      updateRadius: function(){ //(meters to kilometers)
        if(this.rootRadius > 0)
        this.rootCircle.radius = this.rootRadius * 1000 
        else
        this.rootCircle.radius = this.rootRadiusMeters //* 10

        var tCircle = L.circle(L.latLng(this.rootMarker.lat, this.rootMarker.lng), 
                               { radius: this.rootCircle.radius })
        tCircle.addTo(this.$refs.map.mapObject)
        console.log('tCircle', tCircle)
        
        var bounds = tCircle.getBounds()
        this.$refs.map.fitBounds(bounds)
        tCircle.remove()

        console.log("updateRadius")
        
        if(this.mapMode == "stream") this.loadStream()
        if(this.mapMode == "page") this.loadPages()
        if(this.mapMode == "send") this.loadPages()

        this.$root.$emit("changeRadius", this.rootRadius)

        localStorage.setItem("currentPosition", JSON.stringify({lat: this.rootMarker.lat, lng: this.rootMarker.lng }))
        localStorage.setItem("currentRadius", this.rootCircle.radius)

      },
      /*onFileSelected: function(event){
        this.postImage = event.target.files[0]
      },*/
      changeCenterSendPost : function(){
        console.log("changeCenterSendPost", this.postSignedUid, this.myPages)
        this.myPages.forEach((page) => {
          if(page.uid == this.postSignedUid){
            console.log("changeCenterSendPost2", page.name, page.coordinates)
            this.rootMarker.lat = page.coordinates[1]
            this.rootMarker.lng = page.coordinates[0]
            this.$refs.map.mapObject.panTo([page.coordinates[1], page.coordinates[0]])
          }
        })
        console.log("changeCenterSendPost2", this.rootMarker.lat, this.rootMarker.lng)
        
      },

      selectImage : function(){
          this.showInputImage=!this.showInputImage
          console.log("this.$refs.fileInput", this.$refs.fileInput)
          if(this.showInputImage)
              document.getElementById('fileInput').click()
          else{
              this.postImage = null
          }
      },
      selectPDF : function(){
          this.showInputPdf=!this.showInputPdf
          console.log("this.$refs.pdfInput", this.$refs.pdfInput)
          if(this.showInputPdf)
              document.getElementById('pdfInput').click()
          else{
              this.postPDF = null
          }
      },
      
      addTagNewPost : function(tag){
        let pos = this.postText.indexOf(tag)
        if(pos > -1){ //tag exist in text
          this.postText = this.postText.replace(tag, '')
        }else{ //tag not exist in text
          this.postText += ' ' + tag
        }
      },
      addTagTextNewPost : function(){
        if(this.postTagText.length < 2) return

        let posH = this.postTagText.indexOf("#")
        if(posH != 0) this.postTagText = "#" + this.postTagText
        this.postText += ' ' + this.postTagText
        this.postTagText = ""
      },
      sendPost: async function(){
        this.popupKey = "send2"

        console.log('/upload/image-post', this.postImage)
        let imageName = null
        if(this.postImage != null){
          const imgData = new FormData()
          imgData.append('image-post', this.postImage, this.postImage.name)
          console.log('send image', imgData)
          const resImg = await axios.post('/upload/image-post', imgData)
          imageName = resImg.data.imageName
          console.log('/upload/image-post', resImg)
        }

        console.log('/upload/pdf-post', this.postPDF)
        let pdfId = null
        if(this.postPDF != null){
          const pdfData = new FormData()

          pdfData.append('accessToken', localStorage.getItem("access_token"))
          pdfData.append('originalName', this.postPDF.name)
          pdfData.append('signedUid', this.postSignedUid)
          pdfData.append('pdf-post', this.postPDF, this.postPDF.name, "TESTXXX")

          console.log('send image', pdfData)
          const resPdf = await axios.post('/upload/pdf-post', pdfData)
          pdfId = resPdf.data.pdfId
          console.log('/upload/pdf-post', resPdf)
        }

        let fromCity = await this.getFromCity()
        const res = await axios.post('/publication/send-post', 
                                      { text: this.postText, 
                                        lat: this.rootMarker.lat, 
                                        lng: this.rootMarker.lng,
                                        radius: this.rootCircle.radius, 
                                        sharable: this.postSharable,
                                        fromCity: fromCity,
                                        imageName: imageName,
                                        pdf: pdfId,
                                        postSignedUid: this.postSignedUid,
                                        scopeGeo: this.getPolygonCircle(),
                                        embedMetaLinks: this.embedMetaLinks,
                                        sharedPostUid: this.sharedPostUid
                                      })
        
        if(res.data.error == true){
          console.log("error /publication/send-post", res.data)
          this.popupKey = "send1"
          this.postTextError = "Sorry, you are trying to send more km than you are allowed to do. Cheating is not a good idea."
        }else{
          this.kmMax = res.data.kmRemainToday / 1000
          this.goToMainPosition()
          this.loadStream()
          this.showStream = true
          this.showToolbarPlace = false
          this.popupKey = "stream1"
          this.mapMode = "stream"
          this.sharedPostUid = null
        }
        this.postText = ""
        this.postSharable = true
        this.embedMetaLinks = []
        this.postImage = null
        
        
        console.log("res /publication/send-post", res.data)

      },
      closeFormEditPost: function(){
        this.goToMainPosition()
        this.$refs.rootMarker.mapObject.closePopup()
        this.showFormEdit=false;
        this.showStream=true
        //this.mapMode = "stream"
        this.showToolbarPlace = false
        this.places = []
        this.pageType = ""
        this.setMapMode("stream")
      },
      loadStream: async function(){
        if(this.pageNumber == 1) this.stream = []
        if(this.endOfStream && this.pageNumber > 1) return

        if(this.draggable){
          this.updateMarkers()
          return 
        } 
        
        this.streamLoading=true
        axios.post('/publication/get-stream', 
                  { search: this.searchContentStr, 
                    lat: this.rootMarker.lat, 
                    lng: this.rootMarker.lng, 
                    radius: this.rootCircle.radius,
                    pageNumber: this.pageNumber,
                    streamOrigin: this.streamOrigin })
            .then((res)=>{

              if(this.pageNumber == 1) this.stream = res.data.stream
              else this.stream = this.stream.concat(res.data.stream)

              this.updateMarkers()
              this.streamLoading = false
              this.showScopeCircle = false

              this.endOfStream = (res.data.stream.length < res.data.nbPerPage)

              setTimeout(()=>{ this.$root.$emit('streamLoaded') }, 1000)

              console.log("res /publication/get-stream", res.data)
            })
            .catch((e)=>{
              console("error /page/get-stream", e)
            })
        
      },
      loadPages : async function(){

        if(this.pageNumber == 1) this.mapPages = []
        if(this.endOfStream && this.pageNumber > 1) return
        
        let params = {  search: this.searchPageStr, 
                        lat: this.rootMarker.lat, 
                        lng: this.rootMarker.lng, 
                        radius: this.rootCircle.radius,
                        pageNumber: this.pageNumber,
                        pageType: this.mapPageType }

        this.streamLoading=true
        const res = await axios.post('/page/get-map-pages', params)
        this.streamLoading=false
        console.log("res /page/get-map", res.data)
        //this.mapPages = res.data.mapPages
        if(this.pageNumber == 1) this.mapPages = res.data.mapPages
        else this.mapPages = this.mapPages.concat(res.data.mapPages)

        this.endOfStream = (res.data.mapPages.length < res.data.nbPerPage)

        this.updateMarkersPages()
        this.streamLoading = false
        this.showScopeCircle = false
        this.$root.$emit('streamLoaded');
        console.log("res /page/get-map", this.mapPages)

        this.streamLoading=true
        axios.post('/page/get-count-pages', params).then((resCount)=>{
          this.streamLoading=false
          console.log("/page/get-count-pages", resCount)
          if(resCount.data.error == false){
            this.totalUserPages = resCount.data.count
          }
        })        
      },

      updateMarkers: function(){ 
          let mks = this.$refs.markerCluster.mapObject
          if(mks != null) mks.clearLayers()
          let icon = this.markerIconMsg()
          this.stream.forEach((post) => {
            if(post.scopeType == 'localised'){
              let marker = L.marker(post.coordinates, { icon: icon })
              marker.bindPopup("<div id='popup"+post._id+"' style='min-width:300px'></div>")
              marker.on('click', () => {
                  document.getElementById("popup" + post._id).innerHTML = 
                    document.getElementById("post" + post._id).outerHTML

                  document.getElementsByClassName("btn-post" + post._id)[0]
                      .addEventListener("click", ()=>{
                        this.openPost(post)
                  })

                  this.scopeCircle.lat = post.coordinates[0]
                  this.scopeCircle.lng = post.coordinates[1]
                  this.scopeCircle.radius = post.radius
                  this.showScopeCircle = true
                  this.$refs.map.mapObject.panTo([this.scopeCircle.lat, this.scopeCircle.lng], { animate:false }) 
                  this.$refs.map.mapObject.panBy([0, -100]);    
          
              })
              mks.addLayer(marker)
            }
          })
      },
      updateMarkersPages: function(){ 
          this.showScopeCircle = false
          let mks = this.$refs.markerCluster.mapObject
          if(mks != null) mks.clearLayers()
          //let cnt = 0
          this.mapPages.forEach((page) => {
            if(page.uid != localStorage.getItem("user_page_uid") && page.coordinates != null){
              //cnt++
              let icon = this.markerIconPage(page.uid)
              //console.log("show page on map", page.name, icon)
              let marker = L.marker([page.coordinates[1], page.coordinates[0]], { icon: icon })
              marker.on('click', () => {
                console.log("click marker", page.uid)
                this.pageMapPopup = page
                setTimeout(()=>{
                  let popup = document.getElementById("bar-popup-map-pages").innerHTML
                  marker.bindPopup("<div id='popup"+page._id+"' style='min-width:300px'>" +
                                      popup +
                                  "</div>")
                  marker.openPopup()
                  document.getElementsByClassName("btn-poppage-to-page-" + page.uid).forEach((el)=>{
                    el.addEventListener("click", ()=>{
                      router.push("/page/"+page.uid)
                    })
                  })
                  document.getElementsByClassName("btn-send-private-" + page.uid).forEach((el)=>{
                    el.addEventListener("click", async ()=>{
                      await this.addToContact(page.uid, page.name)
                      router.push('/private/sendto/'+page.uid)
                    })
                  })
                }, 300)
                
              })
              
              mks.addLayer(marker)
            }
          })
          //this.totalUserPages = cnt
      },

      addToContact : async function(uid, name){
          console.log("addToContact")
          const res = await axios.post('/page/add-to-contacts', { 
                                          pageUid: uid,
                                          pageName: name
                                      })
          
          console.log("res /page/add-to-contact", res.data)
      },

      firstStepSend: function(){
        console.log("this.postText.length", this.postText.length)
        if(this.postText.length <= 0) return
        this.initKmMax()
        this.showFormEdit=false
        this.showStream = false
        this.showToolbarPlace = true
        this.$refs.map.mapObject.panTo([this.rootMarker.lat, this.rootMarker.lng], { animate:false })     
        this.$refs.rootMarker.mapObject.openPopup()
        this.draggable = true
        // let mks = this.$refs.markerCluster.mapObject
        // if(mks != null) mks.clearLayers()
        // this.setMapMode("send")
      },
      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          console.log("request for", link, i, res)
          this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },
      decrementM: function(){
        this.rootRadiusMeters-=100
        this.updateRadius()
      },
      incrementM: function(){
        this.rootRadiusMeters+=100
        this.updateRadius()
      },
      decrement: function(){
        this.rootRadius--
        this.updateRadius()
      },
      increment: function(){
        this.rootRadius++
        this.updateRadius()
      },
      markerIconMsg: function(){
        return L.icon({
            iconUrl: 'markers/icon-popup.png',
            iconSize:     [32, 32], // size of the icon
            iconAnchor:   [16, 32], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -32] // point from which the po
        });
      },
      markerIconPage: function(uid){
        let avatar = core.avatarUrl(uid) //'markers/icon-popup.png'
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [30, 30], // size of the icon
            iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -15] // point from which the po
        });
      },
      getPolygonCircle: function(){
        return CTP([this.rootMarker.lng, this.rootMarker.lat], this.rootCircle.radius, 30)
      },
      getFromCity: async function(){
        //https://nominatim.openstreetmap.org/reverse?
        var query = "lat="+this.rootMarker.lat+"&lon="+this.rootMarker.lng+"&format=json"
        const res = await axios.get('https://nominatim.openstreetmap.org/reverse?'+query)
        
        var attr = ["city", "state", "country"]
        var city = ""
        attr.forEach(function(att){
          let c = res.data.address[att]
          console.log("reverse nominatim1", c)
          if(city == "" && c != "" && c != null) city = c
        })
        console.log("reverse nominatim2", city)
        return city
        
      },
      updateRootLocation: function(lat, lng, city){
        console.log("updateRootLocation")
        this.rootMarker.lat = parseFloat(lat)
        this.rootMarker.lng = parseFloat(lng)
        this.rootMarker.city = city
        this.draggable = true
        this.updateRadius()
        //this.popupKey = "place1"
          
        //this.searchPlaceStr = ""
        setTimeout(() => { this.$refs.rootMarker.mapObject.openPopup(); this.places = [] }, 500)
      },
      searchPlace: async function(){
        try{
         let query = this.searchPlaceStr
         this.loadPlaces = true
         
         axios.get('https://nominatim.openstreetmap.org/search?q=' + query + "&format=json&addressdetails=1")
              .then( res => {
                  this.places = []
                  
                  if(res.data.length == 0) return

                  console.log("res nominatim", this.nodeCity, this.places, res.data)
                  this.loadPlaces = false
                  res.data.forEach(el => {
                    if(this.places.length == 0)
                    if(el.type == "city" 
                    || el.type == "administrative" 
                    || el.type == "postcode"){
                       if(el.address != null && el.address.city != null && el.address.city != "")
                       this.places.push({ text : el.display_name,
                                          lat: el.lat,
                                          lng: el.lon,
                                          city: el.address.city })
                    }
                  });
              }).catch(res =>{
                console.log("error 1 nominatim", res)
              })
        }catch(e){
          console.log("error 2 nominatim", e)
        }
      },
      openPost: function(post) {
          console.log("open post", post)
          this.$root.$emit('openPost', post);
          //router.push('/post/'+postUid);
      },
      goToMainPosition: function(){
        let mainPos = this.mainPosition //localStorage.getItem("currentPosition")
        if(mainPos == null) return 
        this.kmCurrentMax = this.kmLimit
        this.postSignedUid = this.myPages[0].uid
        this.rootMarker.lat = mainPos.lat
        this.rootMarker.lng = mainPos.lng
        this.mapCenter = L.latLng(this.rootMarker.lat, this.rootMarker.lng)
        this.draggable = false
        let radius = localStorage.getItem("currentRadius")
        if(radius != null) this.rootRadius = parseInt(radius)/1000
        this.updateRadius()
      },

      avatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(uid){
      return core.iName(uid)
      },
      scrollTop : function(){
        console.log("scrollTop")
        this.$vuetify.goTo(0)
      },
      initSearchUser : function(){
        this.mapMode = "page"
        this.loadPages()
        //this.$root.$emit('showMap')
      },
      iconPageType: function(type){
        return core.iconPageType(type)
      }
      
  },
  computed: {
      markerIconRoot: function(){
        let avatar = core.avatarUrl(this.context.userPage.uid)
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [60, 60], // size of the icon
            iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -30] // point from which the po
        });
      },
      
      tagExists : function(tag){
        return this.postText.indexOf(tag) > -1 ? true : false
      },
      
  },
}
</script>
