<template>
    <div>
        <Header></Header>

        <v-row class="d-flex">

        <v-col cols="12" xl="6" lg="8"  md="11" sm="11" class="mx-auto">
            

            <v-col cols="12" class="pa-0 mx-auto text-center" style="background-color:#231f20;">
                

                <div id="doc" class="markdown-body container-fluid comment-enabled"
                     style="">
                
                <h1 class="font-konkretika main-title">
                    Le manifeste
                </h1>
                <!-- <h5 class="main-title">
                    <v-icon small>mdi-information</v-icon> Ce texte n'est pas définitif.
                    <br>Toute remarque ou proposition est la bienvenue
                    
                </h5> -->

                <blockquote>
                    <p>
                        Parce que le réseau Plaanet n’est pas seulement un outil de communication, 
                        ce manifeste vise à définir en quoi il peut-être considéré, 
                        aussi et surtout, comme un réseau <strong>REBEL</strong>.
                    </p>
                </blockquote>
                <hr><br>
                <p style="color:#00ddbe!important; font-size:1.1em;" class="text-center">
                    L’objectif premier du réseau, est de soutenir toutes celles et ceux qui luttent pour tenter de reprendre le contrôle de notre <b>destin commun</b>, 
                    en leur permettant de communiquer ensemble <b>localement</b>, pour se rencontrer, discuter, débattre et s'organiser partout où celà est possible.
                </p>
                
                <p>
                    Car, malgré l’apparence de la démocratie sur les plateaux télé, et à l’assemblée Nationale, 
                    rien dans les faits ne donne le moindre pouvoir aux citoyens, en dehors des différentes élections qui rythment 
                    la pseudo “vie politique” de nos pays “démocratiques”.
                </p>                
                <p>
                    Or, cette impossibilité de participer activement à la vie politique nous condamne de fait à la volonté de tous les tyrans, 
                    qui n’ont aucun scrupules à mentir délibéremment sur leur intentions, dans le seul but d’être élus et de pouvoir imposer 
                    leurs propres volontés à tous les autres.
                </p>
                <p>
                    <strong>Nous n’avons donc aucun pouvoir</strong>, ou en tout cas beaucoup trop peu pour pouvoir prétendre “vivre en démocratie”. 
                    Et nous ne sommes plus dirigés (en majorité) que par des menteurs, des tricheurs, des égocentriques, 
                    des incompétents, des provocateurs, et des lâches (liste non-exaustive).<br><br> 
                    Des lâches, qui attendent “qu’on vienne les chercher”, planqués derrière les mûrs des châteaux de la République, payé à nos frais, 
                    et avec à leurs ordres les meilleurs castagneurs du pays.
                </p>

                <!-- <p>Le problème, c’est que la crise démocratique et politique que nous traversons n’est pas la seule qui nous menace en ce moment.</p>
                <p>La crise est démocratique, sanitaire, économique, énergétique et écologique...</p>
                <p><strong>Et vous le savez, tout cela mis bout à bout nous mène tout droit vers un effondrement systémique profond qui a déjà commencé.</strong></p>
               
                <p>
                    Etant donnée l’ampleur de la crise sanitaire qui vient de frapper la planète entière, 
                    et étant données les conséquences que celle-ci va engendrer sur le long terme, notamment au niveau économique et financier, 
                    il n’est plus possible de considérer l’effondrement comme un simple risque, mais comme une probabilité exponentielle, 
                    qui progresse à chaque seconde.
                </p> -->

                <p>
                    Impossible de savoir ce qui se passera précisemment dans les semaines, les mois, et les années qui viennent. 
                    Mais ce qu’on sait, en revanche, c’est que personne ne nous demandera notre avis au moment de prendre les décisions.
                </p>

                <p>Nous sommes donc désormais face à un choix :</p>
                <ul>
                    <li>
                    <p>Soit nous nous soumettons à l’ordre établi, nous laissons les dirigeants décider à notre place sans aucun contrôle démocratique, 
                        et nous finirons alors probablement tous esclaves d’un nouveau système, encore pire qu’avant, et que nous n’aurons pas choisi 
                        (ce qu'ils appellent désormais officiellement "le monde d'après").
                    </p>
                    </li>
                    <li>
                    <p>Soit nous nous rebellons, et nous décidons de saisir cette occasion pour tenter de construire un monde nouveau, 
                        en accord avec notre volonté à tous.
                    </p>
                    </li>
                </ul>

                <p>La rébellion que propose le réseau Plaanet est très simple : c’est une rébellion démocratique.</p>

                <p>Si nous voulons vraiment décider de notre avenir, nous ne devons pas nous contenter de critiquer les décisions politiques prises par nos représentants. 
                    Et nous ne devons pas non plus nous contenter de réclamer des décisions de leur part. 
                    <strong>Nous devons, par-dessus tout, nous organiser ensemble, pour gérer la situation par nos propres moyens, 
                        et décider nous-mêmes des mesures que nous voulons prendre.</strong>
                </p>
                <p style="color:#00ddbe!important">
                    <strong>C’est pourquoi, le réseau Plaanet appelle à la formation d’assemblées citoyennes locales
                    et régulières, partout où celà est possible, afin de constituer les bases de notre future démocratie</strong>.
                    <br> <br>
                    Et parce que ces assemblées auront nécessairement besoin de communiquer entre-elles, 
                    Plaanet pourra être utilisé comme base de communication, pour relier toutes les assemblées et tous les rebelles.
                </p>
                <p>
                    Les récents mouvements sociaux ont démontrés à maintes reprises la capacité des citoyens à s’organiser en assemblées dans le cadre de leurs mouvements. 
                    Il n’y a donc pas d’inquiétude à avoir quand à notre capacité à organiser des débats démocratiques entre citoyens. 
                    Rien ne nous empêche de le faire, sinon notre volonté à tous.
                <p>
                    Dans le souci de respecter la souveraineté de chaque assemblée, le réseau Plaanet ne donnera aucune consigne concernant les mesures à prendre au sein des assemblées.
                    La nature des débats que vous y mènerez ne dépendra que de vous, selon la volonté des citoyens qui y participeront.
                </p>

                <p>De même, les modalités d’organisation et de déroulement de chaque assemblée seront fixées de façon autonome par chaque assemblée.</p>

                <!-- <blockquote> -->
                    <p style="color:#00ddbe!important">
                        L’essenciel dans cette démarche est de LANCER la rébellion démocratique à travers la création d'assemblées citoyennes locales et ouvertes à tous. 
                        Car une fois lancée, rien ne pourra plus nous arrêter.
                    </p>
                <!-- </blockquote> -->
                <p>Le réseau Plaanet 
                    <!-- se contente de proposer <router-link to="/plan">un plan</router-link> de mise en route pour une nouvelle structure démocratique, et -->
                 se constitue comme 
                <u>support de communication</u>, pour assurer un espace d’échange dédié à cette cause commune.</p>
                <p>
                    Cet espace d’échange permettra aux assemblées de communiquer avec les citoyens inscrits sur le réseau. Mais il permettra aussi à 
                    <strong>tous les membres</strong> de <strong>discuter librement entre-eux des sujets qui les intéressent</strong>.
                </p>
                <p style="color:#00ddbe!important">
                    En ce sens, <strong>le réseau Plaanet peut être considéré comme une assemblée virtuelle permanente</strong>, 
                    au sein de laquelle tous les citoyens peuvent venir s’exprimer librement, et participer à <strong>l’intelligence collective</strong>, 
                    pour tenter de <strong>re-penser et ré-organiser ce monde tous ensemble</strong>.
                </p>
                <p>
                    C’est d’ailleurs pour cette raison que l’application toute entière est basée sur un système de communication locale, géographique : 
                    parce que l’auto-organisation est toujours relative à un territoire, donc à un espace géographique délimité.
                </p>
                <p>
                    Sur Plaanet, les habitants de Marseille peuvent discuter entre-eux des problématique liées à leur territoire, 
                    pendant que les Milanais font de même à Milan, et les Pekinois de même à Pekin.
                </p>
                <p>
                    Et en discutant, ils trouveront des solutions, des mesures à prendre, des lois à faire voter, des projets à soutenir, des principes à défendre. 
                    Et ils trouveront aussi comment faire appliquer leurs décisions par tous les moyens, pour que la volonté du peuple ne soit plus jamais piétinée, 
                    comme elle l’a été jusqu’à présent.
                </p>
                    
                <!-- <blockquote> -->
                    <p style="color:#00ddbe!important">
                        Si nous voulons la démocratie, nous allons devoir la faire nous-mêmes !
                    </p>
                <!-- </blockquote> -->
                    
                <p>
                    Car tous les pays qui aujourd’hui se prétendent démocratiques, ne sont en réalités que de médiocres simulacres de démocraties, 
                    où nous n’avons que le droit de choisir nos maîtres, et non de décider par nous-mêmes.
                </p>
                <p>
                    Prenons-en acte, ensemble, ici et maintenant.<br>
                    Et unissons nos forces, pour que la démocratie advienne enfin !
                </p>
                </div>

                <v-col cols="12" class="text-right">
                <v-btn text color="primary" to="/charter">Lire la charte <v-icon>mdi-chevron-right</v-icon> </v-btn>
                </v-col>



                <!-- </p>
                <p>Aussi, voici le plan que nous vous proposons de suivre pour former l’une de ces assemblées dans votre commune. Libre à chacun de l’appliquer, ou non, ou de le modifier à sa convenance.</p>
                <hr><br>
                <h4 id="LE-PLAN-">LE PLAN :</h4><ul><br>
                <li>
                <p>Tout d’abord : décidez de la date à laquelle vous souhaitez organiser votre première assemblée (dans l’idéal, l’assemblée sera ensuite hebdomadaire).</p>
                </li>
                <li>
                <p>Ensuite, rédigez un courrier à votre mairie dans lequel :</p>
                <ul>
                <li>Vous expliquez votre démarche.</li>
                <li>Vous invitez le maire de votre commune, ainsi que tous les élus locaux, à se joindrent à votre assemblée à la date indiquée.</li>
                <li>Vous demandez la mise à disposition d’un local ou d’un espace approprié pour tenir votre assemblée  <br><em>(facultatif : si vous disposez déjà d’un local, vous pouvez ignorer cette étape)</em>.
                <ul>
                <li>En cas de refus, déterminez un lieu sans le consentement du/des élu(s) tout en maintenant leurs invitations, et tenir l’assemblée à l’endroit décidé, sans tenir compte des interdictions s’il y en a.</li>
                </ul><br>
                </li>
                </ul>
                </li>
                <li>
                <p>Dans le cas où les pouvoirs publiques tenteraient d’utiliser la force pour interrompre l’assemblée, protégez l’assemblée autant que possible pour lui permettre de continuer.</p>
                </li>
                <li>
                <p>Dans le cas où il n’est plus possible de tenir l’assemblée dans des conditions raisonnables, susprendre l’assemblée et la reporter à une date ultérieure, dans l’idéal le lendemain, ou le même jour à un autre endroit.</p>
                </li>
                </ul><blockquote>
                <p>De cette façon, ce sont les citoyens à l’initiative de l’assemblée qui contrôlent la situation, pas les pouvoirs publics. Il est fort probable que certaines assemblées soient interrompues. Mais il est aussi fort probable qu’elle ne le soit pas toutes, et même que certaines mairies coopèreront avec bonne volonté.</p>
                </blockquote><ul>
                <li>Dans le cas où l’assemblée peut se tenir dans de bonnes conditions, elle devra alors se charger de remplir sa mission : donner la parole aux citoyens afin de discuter de la situation, débattre, proposer des solutions, et décider des mesures à prendre.</li>
                </ul><blockquote>
                <p>La présence des élus est souhaitable pour que ces échanges soient entendus et que les mesures soient mises en oeuvre plus facilement.</p>
                </blockquote><blockquote>
                <p>Les élus ne seront pas là pour diriger l’assemblée, mais pour y assister, en tant qu’invité, pour ne rien rater du débat politique et démocratique ayant lieu dans l’assemblée. Si l’élu veut rester crédible et garder son titre de “représentant”, il ne pourra faire autrement que suivre vos règles du jeu.</p>
                </blockquote><ul>
                <li>Dans le cas où les élus refuseraient d’appliquer les décisions prises par les citoyens qu’ils sont censés représenter, il faudra alors décider collectivement de la marche à suivre pour parvenir à leur mise en oeuvre malgré la non-coopération des pouvoirs publics.</li>
                </ul><br><hr><br>**********************
                 -->
            </v-col>
        </v-col>
        </v-row>
    </div>
</template>

<style>
.markdown-body{
    background-color: #171516;
    border: 4px dashed #231f20;
    border-radius:1px;
    padding: 30px 40px 50px 40px;
}
.main-title{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dashed #2f2b2c;
}

.markdown-body ul,
.markdown-body p{
    font-size:0.92em;
    font-weight: 500 !important;
}
.markdown-body blockquote{
    margin-top:10px;
    margin-bottom:5px;
    color:#a49595;
    font-size:0.88em;
    font-weight:200;
}

@media (max-width: 600px){

.markdown-body{
    padding: 30px 15px 50px 15px;
}
.markdown-body ul,
.markdown-body p{
    font-size:0.87em;
}
.markdown-body li{
    padding:5px 0px;
}

}
</style>


<script>

import Header from '@/components/home/Header.vue'

export default {
  name: 'manifest',
  components: { Header },
  data:() => ({
   
    
  }),
  async mounted(){
      
     
  },
  methods: {
    
  }
}

</script>