<template>
<div>
<v-row class="d-flex">

  <l-map ref="map"  :zoom="zoom"  :maxZoom="18" :minZoom="3" :center="mapCenter"  
          id="map-container" v-if="nodeLatLng.lat == null && showMap == true">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      
      <l-marker ref="rootMarker" :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                :draggable="draggable" @drag="rootMarkerDrag()" 
                @dragend="rootMarkerDragend()" 
                :icon="markerIconRoot" id="myMarker">

        <l-popup class="">
          <div v-show="popupKey == 'send1'">
          <v-alert elevation="2">
              yo
          </v-alert>
          </div>
        </l-popup>

      </l-marker>
      
      <l-circle :lat-lng="[rootMarker.lat, rootMarker.lng]" 
                :radius="rootCircle.radius"
                color="rgba(18, 191, 200, 0.1)"
                fill-color="rgba(18, 191, 200)"
                :fill-opacity=".35" ref="rootCircle" v-if="!scopePrivate"></l-circle>

      <l-circle :lat-lng="[scopeCircle.lat, scopeCircle.lng]" 
                :radius="scopeCircle.radius"
                color="rgba(0, 0, 0, 0.1)"
                fill-color="rgba(0, 0, 0)"
                v-if="showScopeCircle"
                :fill-opacity=".35" ref="scopeCircle"></l-circle>

      <v-marker-cluster ref="markerCluster" :options="clusterOptions"></v-marker-cluster>
      
  </l-map>

  
  <v-expand-transition>
    <v-btn id="btn-map-show-stream" @click="$root.$emit('showStream')"
            v-show="!showToolbarContent && !showFormEdit && !showStream"  dense>
        {{ stream.length }} résultats
    </v-btn>
  </v-expand-transition>


  <v-toolbar v-show="showToolbarPlace" id="toolbar-place" bottom dense>  
      <v-text-field :loading="loadPlaces"
        hide-details placeholder="search a place..."
        prepend-icon="mdi-map-search-outline"
        single-line @change="searchPlace" v-model="searchPlaceStr"
      ></v-text-field>
    
      <v-btn icon @click="showSlider=!showSlider">
        <v-icon>mdi-bullseye</v-icon>
      </v-btn>

      <v-btn icon @click="goToMainPosition">
        <v-icon>mdi-target-account</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
  </v-toolbar>

  <v-slider v-model="rootRadiusMeters" @change="updateRadius" id="slider-radius-meters"
            v-show="rootRadius == 0 && showSlider" :thumb-size="30"
             thumb-label="always" color="secondary" label="m" inverse-label
            max=1000 min=30 style="position:absolute; left:20px; right:20px; bottom:120px"
  >
    <template v-slot:prepend>
      <v-icon @click="decrementM">mdi-minus</v-icon>
    </template>

    <template v-slot:append>
      <v-icon @click="incrementM">mdi-plus</v-icon>
    </template>
  </v-slider>

  <v-slider v-model="rootRadius" @change="updateRadius" id="slider-radius" 
            v-show="showSlider" thumb-label="always" color="primary"  label="km" 
            :thumb-size="30" inverse-label
            :max='kmCurrentMax' style="position:absolute; left:20px; right:20px; bottom:40px"
  >
    <template v-slot:prepend>
      <v-icon @click="decrement">mdi-minus</v-icon>
    </template>

    <template v-slot:append>
      <v-icon @click="increment">mdi-plus</v-icon>
    </template>
  </v-slider>


  <v-expand-transition>
    <v-list v-show="places.length > 0" dense id="toolbar-place-list">
      <!-- <v-subheader>PLACES</v-subheader> -->
      <v-list-item-group  color="primary" > 
        <v-list-item
          v-for="(place, i) in places"
          :key="i"
          @click="updateRootLocation(place.lat, place.lng, place.city)"
        >
          <v-list-item-icon>
            <v-icon>mdi-map-marker</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="place.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-expand-transition>

  <v-expand-transition>
    <Stream v-show="showStream" :stream="stream" :streamLoading="streamLoading" :isPrivate="false"></Stream>
  </v-expand-transition>
 
</v-row>


</div>
</template>

<style scoped>
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";



  .leaflet-popup-close-button{
    margin: 10px;
  }
  #map-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:0px;
    width:100%;
    z-index:0;
    background-color: #1b2f35;
  }
  .leaflet-tile{
    opacity: 0.6 !important;
  }
  .container{
    width: 100%;
    margin: 0;
    max-width: unset;
  }
  #slider-radius{

  }
  .leaflet-control-zoom{
    display: none;
  }

  .v-input__slider .v-input__slot:hover{
    background-color:rgba(37, 113, 121, 0.77);
    padding: 0 10px 0 10px;
    border-radius: 70px;
  }
  #formEditPost{
    position: absolute;
    top: 0px;
    /* bottom: 0px; */
    width: 100%;
    background-color:rgba(34, 34, 34, 0.98);
    border-radius:0px
  }
  #stream{
    position: absolute;
    top: 0px;
    /* bottom: 0px; */
    width: 100%;
    background-color:rgba(34, 34, 34, 0.96);
    border-radius:0px
  }
  #stream .card-container{
    max-width: 600px;
    margin:auto;
  }
  .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.2;
    min-width:250px;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(79, 78, 78, 0.82)!important;
    box-shadow: rgba(79, 78, 78, 0.82)!important;
    color:white
  }

  
  .marker-cluster-small div,
  .marker-cluster-medium div,
  .marker-cluster-big div {
      background-color: rgba(72, 183, 233, 0.8);
      font-weight:800;
      font-size:15px;
      text-align: center !important;
  }
  .marker-cluster-small {
      background-color:rgb(39, 66, 106, 0.4);
  }
  .marker-cluster-medium {
      background-color:rgb(39, 66, 106,0.6);
  }
  .marker-cluster-big {
      background-color:rgb(39, 66, 106, 1);
  }

  #toolbar-place{
    width:100%; 
    height:60px; 
    position:absolute; 
    z-index:0
  }
  #toolbar-place-list{
    position:absolute; 
    bottom:47px; 
    width:100%; 
    max-height:200px; 
    border-radius:0px
  }
  #toolbar-content{
    width:100%; 
    margin: -12px 0px 0 0px; 
    height:60px; 
    /* padding-top:5px;  */
    position:absolute; 
    z-index:10
  }
  #btn-map-show-stream{
    width:100%; 
    position:absolute; 
    top:0px; 
    z-index:10; 
    opacity:0.7; 
    border-radius:0
  }
  .metaLinkItem{
    background: rgba(0,0,0,0.2)!important;
    margin-bottom:15px;
  }
</style>

<script>

import axios from 'axios'
//import router from '../router/router'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LCircle, LPopup} from 'vue2-leaflet'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'
import CTP from 'circle-to-polygon';
import Stream from '@/components/Stream.vue'
//import Post from '@/components/Post.vue'
//import MetaLinks from '@/components/MetaLinks.vue'
import core from '../plugins/core.js'

//import GetUrls from 'get-urls'

export default {
  name: 'home',
  components: { Stream, LMap, 
                LTileLayer, LMarker, LCircle, LPopup, 
                'v-marker-cluster' : Vue2LeafletMarkerCluster },
  data:() => ({
      showMap: true,
      showSlider: true,
      showToolbarContent: false,
      showToolbarPlace: false,
      nodeLatLng: { lat: null, lng: null },
      zoom:5,
      mainPosition: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
      },
      mapCenter: L.latLng(46.16685851396646, -1.1697435379028323),
      //url:'//{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', //http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
      
      popupOpen: false,
      markers: null,
      collapseMapToolbar: true,
      draggable: false,
      rootMarker: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
        popupHtml: "",
        city: ""
      },
      scopeCircle: {
        lat: 46.16685851396646,
        lng: -1.1697435379028323,
        radius: 300000
      },
      rootCircle: {
        radius: 100000
      },
      rootRadius: 100,
      rootRadiusMeters: 900,
      kmCurrentMax: 500,
      kmMax: 500,
      kmLimit: 500,
      kmLimitByDay: 1000,
      
      popupKey: "send1",
      showStream: true,
      stream: [],
      streamLoading: false,
      showScopeCircle: false,
      clusterOptions: { showCoverageOnHover: false, maxClusterRadius: 30 },
      places: [],
      placeSelected: {},
      searchPlaceStr: '',
      loadPlaces: false,
      searchContentStr: '',
      embedMetaLinks: [],
      showInputImage: false,
      urlToImage: '',
      postImage: null,
      streamOrigine: 'local',
      myPages: [],
      scopeType: 'localised',
      scopePrivate: false
    
  }),
  async mounted(){
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
      
      core.initRand()
     
      this.$root.$off('showMap').$on('showMap', (bool) => { 
        console.log('showMap 2', bool)
        this.showFormEdit = false;
        this.showStream = false
        this.showToolbarContent = false 
        //this.showToolbarPlace = true
        this.popupKey = "stream1"
      })

      this.$root.$off('showStream').$on('showStream', (bool) => { 
        console.log('showStream 2', bool)
        this.showFormEdit = false;
        this.showStream = true
        this.showToolbarContent = false
        this.showToolbarPlace = false
        this.popupKey = "stream1"
      })

      this.$root.$off('showToolbarContent').$on('showToolbarContent', (bool) => { 
        console.log('showToolbarContent 2')
        this.showToolbarContent = bool;
      })

      this.$root.$off('loadStream').$on('loadStream', (streamOrigin, search) => { 
        console.log('loadStream in main.js')
        this.searchContentStr = search
        this.streamOrigin = streamOrigin
        this.loadStream();
      })

      this.myPages = JSON.parse(localStorage.getItem("user_pages"))
      this.postSignedUid = this.myPages[0].uid

      this.initMainPosition()
      //this.goToMainPosition()
  },
  methods: {
      initMainPosition: async function(){
        const res = await axios.get('/user/profil')
        console.log("initMainPosition", res.data.userPage.coordinates)
        this.mainPosition.lat = res.data.userPage.coordinates[1]
        this.mainPosition.lng = res.data.userPage.coordinates[0]
        
        console.log("initMainPosition", this.mainPosition.lat, this.mainPosition.lng)
        
        this.goToMainPosition()
      },
      rootMarkerDrag: function(){
        this.rootMarker.lat = this.$refs.rootMarker.mapObject._latlng.lat
        this.rootMarker.lng = this.$refs.rootMarker.mapObject._latlng.lng
      },
      rootMarkerDragend: function(){
        this.$refs.rootMarker.mapObject.openPopup()
        this.loadStream() 
        //localStorage.setItem("currentPosition", JSON.stringify({lat: this.rootMarker.lat, lng: this.rootMarker.lng }))
        //localStorage.setItem("currentRadius", this.rootCircle.radius)
      },
      updateRadius: function(){ //(meters to kilometers)
        if(this.rootRadius > 0)
        this.rootCircle.radius = this.rootRadius * 1000 
        else
        this.rootCircle.radius = this.rootRadiusMeters //* 10

        var tCircle = L.circle(L.latLng(this.rootMarker.lat, this.rootMarker.lng), 
                               { radius: this.rootCircle.radius })
        tCircle.addTo(this.$refs.map.mapObject)
        console.log('tCircle', tCircle)
        
        var bounds = tCircle.getBounds()
        this.$refs.map.fitBounds(bounds)
        tCircle.remove()
        this.loadStream()

        localStorage.setItem("currentPosition", JSON.stringify({lat: this.rootMarker.lat, lng: this.rootMarker.lng }))
        localStorage.setItem("currentRadius", this.rootCircle.radius)

      },
      /*onFileSelected: function(event){
        this.postImage = event.target.files[0]
      },*/
      changeCenterSendPost : function(){
        this.myPages.forEach((page) => {
          if(page.uid == this.postSignedUid){
            this.rootMarker.lat = page.coordinates[0]
            this.rootMarker.lng = page.coordinates[1]
          }
        })
        
      },
      
      loadStream: async function(pageNumber=1){
        
        this.stream = []
        if(this.draggable){
          this.updateMarkers()
          return 
        } 
        
        this.streamLoading=true
        const res = await axios.post('/publication/get-stream', 
                                      { search: this.searchContentStr, 
                                        lat: this.rootMarker.lat, 
                                        lng: this.rootMarker.lng, 
                                        radius: this.rootCircle.radius,
                                        pageNumber: pageNumber,
                                        streamOrigin: this.streamOrigin })
        
        this.stream = res.data.stream
        this.updateMarkers()
        this.streamLoading = false
        this.showScopeCircle = false
        this.$root.$emit('streamLoaded');
        console.log("res /publication/get-stream", res)
      },
      updateMarkers: function(){ 
          let mks = this.$refs.markerCluster.mapObject
          if(mks != null) mks.clearLayers()
          let icon = this.markerIconMsg()
          this.stream.forEach((post) => {
            let marker = L.marker(post.coordinates, { icon: icon })
            marker.bindPopup("<div id='popup"+post._id+"' style='min-width:300px'></div>")
            marker.on('click', () => {
                document.getElementById("popup" + post._id).innerHTML = 
                  document.getElementById("post" + post._id).outerHTML //+ 
                  //"<a class='v-btn v-btn--block primary v-size--small'>READ</a>"
                //active le click sur le bouton "read"
                document.getElementsByClassName("btn-post" + post._id)[0].addEventListener("click", ()=>{
                  this.openPost(post)
                })

                this.scopeCircle.lat = post.coordinates[0]
                this.scopeCircle.lng = post.coordinates[1]
                this.scopeCircle.radius = post.radius
                this.showScopeCircle = true
                this.$refs.map.mapObject.panTo([this.scopeCircle.lat, this.scopeCircle.lng], { animate:false }) 
                this.$refs.map.mapObject.panBy([0, -100]);    
        
            })
            mks.addLayer(marker)
          })
      },
      
      decrementM: function(){
        this.rootRadiusMeters-=100
        this.updateRadius()
      },
      incrementM: function(){
        this.rootRadiusMeters+=100
        this.updateRadius()
      },
      decrement: function(){
        this.rootRadius--
        this.updateRadius()
      },
      increment: function(){
        this.rootRadius++
        this.updateRadius()
      },
      markerIconMsg: function(){
        return L.icon({
            iconUrl: 'markers/icon-popup.png',
            iconSize:     [32, 32], // size of the icon
            iconAnchor:   [16, 32], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -32] // point from which the po
        });
      },
      getPolygonCircle: function(){
        return CTP([this.rootMarker.lng, this.rootMarker.lat], this.rootCircle.radius, 30)
      },
      getFromCity: async function(){
        //https://nominatim.openstreetmap.org/reverse?
        var query = "lat="+this.rootMarker.lat+"&lon="+this.rootMarker.lng+"&format=json"
        const res = await axios.get('https://nominatim.openstreetmap.org/reverse?'+query)
        
        var attr = ["city", "state", "country"]
        var city = ""
        attr.forEach(function(att){
          let c = res.data.address[att]
          console.log("reverse nominatim1", c)
          if(city == "" && c != "" && c != null) city = c
        })
        console.log("reverse nominatim2", city)
        return city
        
      },
      updateRootLocation: function(lat, lng, city){
        console.log("updateRootLocation")
        this.rootMarker.lat = parseFloat(lat)
        this.rootMarker.lng = parseFloat(lng)
        this.rootMarker.city = city
        this.draggable = true
        this.updateRadius()
        //this.popupKey = "place1"
          
        //this.searchPlaceStr = ""
        setTimeout(() => { this.$refs.rootMarker.mapObject.openPopup(); this.places = [] }, 500)
      },
      searchPlace: async function(){
        try{
         let query = this.searchPlaceStr
         this.loadPlaces = true
         
         axios.get('https://nominatim.openstreetmap.org/search?q=' + query + "&format=json&addressdetails=1")
              .then( res => {
                  this.places = []
                  
                  if(res.data.length == 0) return

                  console.log("res nominatim", this.nodeCity, this.places, res.data)
                  this.loadPlaces = false
                  res.data.forEach(el => {
                    if(this.places.length == 0)
                    if(el.type == "city" 
                    || el.type == "administrative" 
                    || el.type == "postcode"){
                       if(el.address != null && el.address.city != null && el.address.city != "")
                       this.places.push({ text : el.display_name,
                                          lat: el.lat,
                                          lng: el.lon,
                                          city: el.address.city })
                    }
                  });
              }).catch(res =>{
                console.log("error 1 nominatim", res)
              })
        }catch(e){
          console.log("error 2 nominatim", e)
        }
      },
      validateNewPlace: function(){
        this.places=[]
        this.popupKey = "stream1"
        this.draggable = false
        this.savePosition()
        this.loadStream()
      },
      goToMainPosition: function(){
        let mainPos = this.mainPosition //localStorage.getItem("currentPosition")
        if(mainPos == null) return 
        this.kmCurrentMax = this.kmLimit
        this.postSignedUid = this.myPages[0].uid
        this.rootMarker.lat = mainPos.lat
        this.rootMarker.lng = mainPos.lng
        this.mapCenter = L.latLng(this.rootMarker.lat, this.rootMarker.lng)
        this.draggable = false
        let radius = localStorage.getItem("currentRadius")
        if(radius != null) this.rootRadius = parseInt(radius)/1000
        this.updateRadius()
      }
      
  },
  computed: {
      markerIconRoot: function(){
        let avatar = core.avatarUrl(this.postSignedUid)
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [50, 50], // size of the icon
            iconAnchor:   [25, 25], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -25] // point from which the po
        });
      },
      
      
  },
}
</script>
