<template>

<v-row id="profil">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>


        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

          <v-list-item-title class="headline">
            @{{ page.name }}<small>:{{ iName }}</small>
          </v-list-item-title>
          
          <v-list-item-subtitle v-show="page.address==null &&  page.city==null">
            <small><v-icon small>mdi-map-marker</v-icon> not located</small>
          </v-list-item-subtitle>
          <v-list-item-subtitle v-show="page.address!=null ||  page.city!=null">
            <v-icon style="margin-left:-5px;">mdi-map-marker</v-icon>{{ page.address }} {{ page.city }}
          </v-list-item-subtitle>


        </v-list-item-content>

      </v-list-item>
      <v-card-text v-show="page.description != null" v-text="nl2br(page.description)"></v-card-text>

    </v-card>
    
    <br>
    

    <!-- Stream page -->
    <!-- <v-btn block @click="loadStream">Refresh</v-btn> -->
    <div style="max-width:800px" class="mx-auto">
      
        <div v-for="(post, i) in stream" :key="i" >
            <Post :post="post" origin="stream"></Post>
        </div>
        <v-card v-if="stream.length == 0 && !streamLoading">
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="text-center">
                        <v-icon>mdi-cancel</v-icon><br>
                        No message 
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-card>
    </div>
  </v-col>

</v-row>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";

  @keyframes spin {
      from { transform:rotate(0deg); }
      to { transform:rotate(360deg); }
  }

  .spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  #profil .leaflet-popup-close-button{
    margin: 10px;
  }

  #profil .leaflet-popup-content .v-chip__content{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #profil .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.2;
    max-width: 250px;
  }
  #profil .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(79, 78, 78, 0.82);
    box-shadow: rgba(79, 78, 78, 0.82);
    color:white
  }

  #profil .postCard{
    margin-bottom:20px;
  }

  .btn.vodal-confirm-btn{
    display: none;
  }

  .cropper .container{
    padding:0px !important;
  }
  .cropper .vodal-dialog{
    background: #464646;
  }
  .cropper .vodal-cancel-btn, .cropper .vodal-confirm-btn{
    border: unset!important;
  }
  .cropper .vodal-confirm-btn {
      background: #0bccb1;
  }
  .cropper .vodal-cancel-btn {
      color: #000;
  }
</style>
<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

// import L from 'leaflet';
// import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

// import Cropper from '@/components/Cropper.vue'
import Post from '@/components/Post.vue'

export default {
  name: 'auth',
  components: { Post },
  data: () => ({
    user: { name: '' },
    page: { name: '' },
    
    stream: [],
    streamLoading: false,
    showStream: true
    
    
  }),
  async mounted(){
    this.page.name = localStorage.getItem("user_name") != null ? 
                         localStorage.getItem("user_name") : 
                         ", you are not loggin"
    
    this.page.uid = this.$route.params.pageUid
    this.updateDataProfile()

    this.myPages = JSON.parse(localStorage.getItem("user_pages"))
          
  },
  methods: {
    
    async updateDataProfile(){
      try{
        axios.post('/page/profil', { pageUid: this.page.uid })
            .then( res => {
              if(res.data.error == false){
                this.user = res.data.user
                this.page = res.data.page
                this.loadStream()
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
   
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 500)
    },

    loadStream: async function(pageNumber=1){
      this.stream = []
      this.streamLoading=true
      let currentPos = JSON.parse(localStorage.getItem("currentPosition"))
      let radius = localStorage.getItem("currentRadius")
      console.log("try /page/get-stream", res)
      const res = await axios.post('/page/get-stream', 
                                    { search: "", 
                                      lat: currentPos.lat, 
                                      lng: currentPos.lng, 
                                      radius: radius,
                                      pageUid: this.page.uid,
                                      pageNumber: pageNumber })
      
      console.log("ok /page/get-stream", res)
      this.stream = res.data.stream
      this.streamLoading = false
      this.$root.$emit('streamLoaded');
      console.log("res /page/get-stream", res)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }

  },
  computed: {
    
    avatarUrlCMPT : function(){
      console.log("avatarUrl", this.avatarUrl)
      return this.avatarUrl
    },
    iName: function(){
      return core.iName(this.page.uid)
    }
    
    
  }
}
</script>
