<template>

<v-row id="profil" v-if="activeList != null">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>

        <v-list-item-avatar height="60" width="60">
          <v-img :src="avatarUrl(page.uid)"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

          <v-list-item-title class="headline">
            <small>
              <template v-if="type=='my-pages'">
              <v-icon>mdi-certificate-outline</v-icon>
                Vous avez créé <strong class="pa-1">{{ activeList.length }}</strong> 
                page{{ page.contacts.length>1?"s":"" }}
              </template>
              <template v-if="type=='contacts'">
              <v-icon>mdi-clipboard-account</v-icon>
                Vous avez  <strong class="pa-1">{{ activeList.length }}</strong> 
                contact{{ page.contacts.length>1?"s":"" }}
              </template>
              <template v-if="type=='follows'">
              <v-icon>mdi-link-variant</v-icon>
                Vous êtes abonné à  <strong class="pa-1">{{ activeList.length }}</strong> 
                page{{ page.contacts.length>1?"s":"" }}
              </template>
              <template v-if="type=='blacklist'">
              <v-icon>mdi-scissors-cutting</v-icon>
                Vous avez bloqué  <strong class="pa-1">{{ activeList.length }}</strong> 
                page{{ page.contacts.length>1?"s":"" }}
              </template>
            </small>
          </v-list-item-title>
          
        </v-list-item-content>

      </v-list-item>
    </v-card>
    
    <br>
    
    <template v-if="activeList != null && activeList.length > 0">
      <template v-for="(p, i) in activeList">
          <PageCard :page="p" :key="i" :context="context"></PageCard>
      </template>
    </template>

    <v-card max-width="800" class="mx-auto">
    
      <v-list v-if="activeList == null || activeList.length < 0">
          <v-list-item>
          <v-list-item-content>
                <v-list-item-title>
                    <v-icon>mdi-cancel</v-icon> Your contacts list is empty
                </v-list-item-title>
                <v-list-item-subtitle>
                    Use the button <v-icon>mdi-clipboard-account</v-icon> to add a member to your contacts.<br>
                    Find this button on each profil page
                </v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
    
    </v-card>

  </v-col>
  {{ updateList }}
</v-row>
</template>


<script>

import router from '../router/router'
import core from '../plugins/core.js'
import PageCard from '@/components/page/PageCard.vue'


export default {
  name: 'contacts',
  components: { PageCard },
  props: [ 'context' ],
  data: () => ({
    user: {},
    page: {}, 
    activeList: [],
    type: "" 
  }),
  created(){
      this.initList()
  },
  methods: {
    initList: function(){
        if(this.context != null){
        this.user = this.context.user
        this.page = this.context.userPage
            console.log("route", this.$route.params.type)
            if(this.$route.params.type == 'my-pages') this.activeList = this.user.pages
            if(this.$route.params.type == 'contacts') this.activeList = this.page.contacts
            if(this.$route.params.type == 'follows') this.activeList = this.page.follows
            if(this.$route.params.type == 'blacklist') this.activeList = this.page.blacklist

            this.type = this.$route.params.type

        }else{
        router.push('/login');
        }
    },
    avatarUrl: function(pageUid){ return core.avatarUrl(pageUid) }
  },
  computed: {
      updateList : function(){
        if(this.type != this.$route.params.type) this.initList()
        return ""
      }
  }
}
</script>
