<template>

<v-row id="profil">

  <v-col class="pa-0 text-center font-konkretika">
      <v-chip class="mt-3 pl-3" primary--text color="rgba(29, 59, 70, 0.5)" text-color="primary" v-if="isMyProfil">
          <v-icon small class="mr-1">mdi-account-circle</v-icon> <h3>Mon profil</h3>
      </v-chip>
      <v-chip class="mt-3 pl-3" primary--text color="rgba(29, 59, 70, 0.5)" 
              text-color="primary" v-if="!isMyProfil && userPage.type =='user'">
          <v-icon small class="mr-1">mdi-account-circle</v-icon> <h3>Utilisateur</h3>
      </v-chip>
      <v-chip class="mt-3 pl-3" primary--text color="rgba(29, 59, 70, 0.5)" 
              text-color="primary" v-if="!isMyProfil && userPage.type =='group'">
          <v-icon small class="mr-1">mdi-account-group</v-icon> <h3>Groupe</h3>
      </v-chip>
      <v-chip class="mt-3 pl-3" primary--text color="rgba(29, 59, 70, 0.5)" 
              text-color="primary" v-if="!isMyProfil && userPage.type =='event'">
          <v-icon small class="mr-1">mdi-calendar-clock</v-icon> <h3>Évènement</h3>
      </v-chip>
      <v-chip class="mt-3 pl-3" primary--text color="rgba(29, 59, 70, 0.5)" 
              text-color="primary" v-if="!isMyProfil && userPage.type =='assembly'">
          <v-icon small class="mr-1">mdi-hexagon-multiple-outline</v-icon> <h3>Assemblée</h3>
      </v-chip>

      <v-chip v-if="userPage.followers!=null" class="ml-2 mt-3 pl-3" primary--text color="rgba(29, 70, 62, 0.5)"
              text-color="secondary">
          <v-icon small class="mr-1">mdi-link-variant</v-icon><h3>{{ userPage.followers.length }} Abonnés</h3>
      </v-chip>
  </v-col>

  <v-col cols="12" class="text-center pa-0" v-if="userPage.type=='event'">
    <v-card max-width="600" color="primary darken-2" class="pa-4 text-center mx-auto my-2">
      <h1 style="font-weight:200;">
        <v-btn icon @click="showAgenda=!showAgenda"><v-icon >mdi-calendar</v-icon></v-btn>
        {{ eventStartDate }}
      </h1>
    </v-card>

    <v-date-picker style="max-width:600px;" v-model="eventStartDatePicker" v-if="userPage.type=='event' && showAgenda" 
              :locale="$vuetify.lang.current" full-width class="mt-3 mx-auto"
              color="primary"></v-date-picker>
    
  </v-col>
  

  <v-col cols="12" class="py-0">
    <v-card max-width="600" elevation="0" class="mx-auto mt-2" style="border-radius: 4px 4px 0 0;">
      <v-list-item>
        <v-list-item-avatar v-if="avatarUrl != ''" height="60" width="60" @click="startCropper">
          <v-img :src="avatarUrl"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>          
          <v-list-item-title class="headline" style="text-overflow: unset; white-space: normal;">
            @{{ userPage.name }}
          </v-list-item-title>
          
          <v-list-item-subtitle v-show="userPage.address==null && userPage.city==null">
            <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName }}</small>
            <small><v-icon x-small>mdi-map-marker</v-icon> {{ $vuetify.lang.t('$vuetify.map.notLocated') }}</small>
          </v-list-item-subtitle>
          <v-list-item-subtitle v-show="userPage.address!=null ||  userPage.city!=null">
            <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName }}</small>
            <v-icon x-small style="margin-left:-5px;">mdi-map-marker</v-icon>{{ userPage.address }} {{ userPage.city }} 
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-btn  class="mb-2" icon v-if="!isMyPage"
                title="envoyer un message privé"
                @click="sendPrivateMsg(userPage.uid, userPage.name)">
              <v-icon >mdi-send</v-icon>
        </v-btn>

        <v-btn  class="mb-2" icon v-if="isMyPage"
                title="Paramètres de la page" small
                :to="'/settings/'+userPage.uid">
              <v-icon >mdi-cog</v-icon>
        </v-btn>

      </v-list-item>
          

      <Cropper  v-if="isMyPage == true" :pageUid="userPage.uid" class="cropper"></Cropper>

      <v-col class="pt-0 " v-if="userPage.hashtags != null && isMyPage">
          <!-- <v-btn small class="mt-2 mr-2 " rounded
            @click="showFormDesc=false;showFormPosition=false;showFormTags=!showFormTags;">
            <v-icon small>mdi-pound-box</v-icon> tags
          </v-btn> -->

          <template v-if="isMyPage">
            <v-chip v-for="(tag, i) in userPage.hashtags" small
                    @click="showFormTags=true"
                  :key="i" class="mr-2 mt-2">
                    {{ tag }} 
            </v-chip>
          </template>
          <template v-if="!isMyPage">
            <v-chip v-for="(tag, i) in userPage.hashtags" small
                  :key="i" class="mr-2 mt-2">
                    {{ tag }} 
            </v-chip>
          </template>
      </v-col>


      <v-card-text class="pt-0" v-if="userPage.description != null" v-html="completeText(userPage.description)"></v-card-text>

      <template v-if="userPage != null && userPage.coordinates != null && (isMyPage == false || tab != 3)">
        <l-map ref="map"  :zoom="zoom"  :maxZoom="15" :minZoom="3" 
                :center="[userPage.coordinates[1], userPage.coordinates[0]]"  
                id="map-container-page">
          <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            
            <l-marker ref="rootMarker" :lat-lng="[userPage.coordinates[1], userPage.coordinates[0]]" 
                      :draggable="false"
                      :icon="markerIconRoot" id="myMarker"></l-marker>
        </l-map>
      </template>


    </v-card>
    

    <v-col cols="12" class="pa-0">
      <v-flex style="max-width:600px;" class="mx-auto">
        
        <template v-if="isMyPage == true">
          <v-tabs grow background-color="#212121" dark v-model="tab"
                  style="border-top:1px solid rgb(57, 57, 57);border-radius: 0 0 4px 4px;">

                <v-tab @click="tab=0">
                  <v-icon>mdi-newspaper</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.stream.newsstream') }}
                  </span>
                </v-tab>              
                <v-tab @click="tab=1">
                  <v-icon>mdi-pencil</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.createPage.Description') }}
                  </span>
                </v-tab>
                <v-tab @click="tab=2">
                  <v-icon>mdi-pound-box</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.page.tags') }}
                  </span>
                </v-tab>
                <v-tab @click="tab=3; $root.$emit('invalidateSize');">
                  <v-icon>mdi-map-marker</v-icon> 
                  <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.stream.position') }}
                  </span>
                </v-tab>
                <v-tab @click="tab=4;">
                  <v-icon>mdi-file</v-icon> <span class="ml-1 d-none d-sm-flex">
                    {{ $vuetify.lang.t('$vuetify.page.files') }}
                  </span>
                </v-tab>
          </v-tabs>

          
          <v-tabs-items touchless v-model="tab">
            
              <!-- STREAM -->
              <v-tab-item :value="0">
                
                <v-col class="px-0">

                  <v-textarea background-color="#212121"
                              outlined counter 
                              placeholder="Envoyer un message à vos abonnés..."
                              v-model="postText"
                              :rules="rulesTxtareaEditPost"
                              @change="extractMeta"
                              >
                  
                  </v-textarea>
                  <v-row flex>

                    <!-- link metadata preview -->
                    <v-col flex v-if="metaLoading">
                      <small><v-icon small>mdi-dots-horizontal</v-icon> Chargement de l'apperçu du lien</small>
                      <v-skeleton-loader ref="skeleton"
                          :boilerplate="false"
                          type="list-item-avatar-three-line"
                          :tile="false"
                          class="mx-auto mt-2"
                      ></v-skeleton-loader> 
                    </v-col>

                    <v-col flex class="py-0" v-if="embedMetaLinks.length > 0">
                        <MetaLinks :embedMetaLinks="embedMetaLinks" :clearable="true"></MetaLinks>          
                    </v-col>

                    <template v-if="postText.length > 0">
                      <v-col cols="12" class="pa-0 mb-3">
                        <v-card color="transparent" style="width:100%; box-shadow:none;" 
                                class="enableShare pa-0 pl-4 mb-3 d-flex align-end flex-column">
                            <!-- <small>{{ $vuetify.lang.t('$vuetify.stream.enableShare') }} ?</small> -->
                            <v-switch hide-details v-model="postSharable" 
                                      color="primary" class="ma-0 mb-0 mr-3"
                                      :label="$vuetify.lang.t('$vuetify.stream.enableShare')+' ?'">
                            </v-switch>
                        </v-card>
                      </v-col>

                      <v-col cols="12" class="pt-0" v-show="showInputImage">
                        <v-file-input
                          :label="postImage!=null ? 'Image sélectionnée' : 'Joindre une image'" ref="fileInput" id="fileInput"
                          outlined accept="image/*"
                          prepend-icon="mdi-camera"
                          v-model="postImage"
                        ></v-file-input>
                        <v-img :src="urlToImage" :v-show="urlToImage!=''"></v-img>
                      </v-col> 

                      <v-col cols="12" class="pt-0">
                        <v-file-input v-show="showInputPdf"
                          label="Ajouter un PDF" ref="pdfInput" id="pdfInput"
                          outlined accept=".pdf"
                          prepend-icon="mdi-file"
                          v-model="postPDF"
                        ></v-file-input>
                      </v-col> 
                      
                      <v-col class="py-0 mb-4 text-center">
                        <v-btn block outlined color="secondary" @click="selectImage">
                          <v-icon>mdi-image-plus</v-icon> image
                        </v-btn>
                      </v-col>
                      <v-col class="py-0 mb-4 text-center">
                        <v-btn block outlined color="secondary" @click="selectPDF">
                          <v-icon>mdi-file-plus</v-icon> PDF
                        </v-btn>
                      </v-col>
                      <v-col class="py-0 mb-4 text-center">
                        <v-btn block color="green" @click="sendPost">
                          <v-icon>mdi-send</v-icon> Envoyer
                        </v-btn>
                      </v-col>
                    </template>
                  </v-row>
                  <br><hr>
                </v-col>
                <v-col class="text-center mt-3 py-0">
                  <v-btn class="mx-2 mt-0 mb-2" outlined fab dark small 
                      color="white" @click="pageNumber=1; loadStream()" :loading="streamLoading">
                      <v-icon  dark title="actualiser">mdi-refresh</v-icon>
                  </v-btn><br>

                  <small v-if="!streamLoading">{{ stream.length }} publications</small>
                  <small v-if="streamLoading">chargement en cours</small>
                </v-col>
                <div id="streamPage">
                  <div v-for="(post, i) in stream" :key="i" >
                      <Post :post="post" origin="stream"></Post>
                  </div>

                  <EndOfStream :endOfStream="endOfStream" :mapMode="'stream'" :pageNumber="pageNumber" :searchContentStr="''"
                              :streamLoading="streamLoading" :streamLength="stream.length"></EndOfStream>
                </div>
              </v-tab-item>
              <!-- STREAM -->

              <!-- DESCRIPTION -->
              <v-tab-item :value="1" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-pencil</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.FurtherInfo') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <v-col cols="12"><br>
                  <h5>
                    <v-icon>mdi-chevron-right</v-icon> 
                    {{ $vuetify.lang.t('$vuetify.page.DescInfo') }}...
                  </h5>

                  <br>
                  
                  <v-textarea label="Description..." :rules="rulesTxtareaEditPost" outlined v-model="description"></v-textarea>

                  <v-btn block color="blue" @click="saveDesc">
                    <v-icon small>mdi-check</v-icon> {{ $vuetify.lang.t('$vuetify.page.saveDesc') }}
                  </v-btn>
                </v-col>
              </v-tab-item>
              <!-- DESCRIPTION -->

              <!-- TAGS -->
              <v-tab-item :value="2" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-pound-box</v-icon> 
                  <h4>Tags</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FormTags :page="userPage"></FormTags>
              </v-tab-item>
              <!-- TAGS -->

              <!-- POSITION -->
              <v-tab-item :value="3" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-map-marker</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.mainPosition') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FormPosition :userPage="userPage"></FormPosition>
              </v-tab-item>
              <!-- POSITION -->
           
              <!-- FILES -->
              <v-tab-item :value="4" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-file</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.files') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FileList :page="userPage"></FileList>
              </v-tab-item>
              <!-- FILES -->
           
          </v-tabs-items>
        </template>

        <template v-if="isMyPage == false">
          <v-tabs grow background-color="#212121" dark v-model="tab"
                style="border-top:1px solid rgb(57, 57, 57);border-radius: 0 0 4px 4px;">

              <v-tab @click="tab=0"><v-icon small>mdi-newspaper</v-icon> ACTU</v-tab>
              <v-tab v-if="!isFollowing" @click="tab=1">
                <v-icon small>mdi-link-variant</v-icon> 
                <span class="text-sm">{{ $vuetify.lang.t('$vuetify.page.follow') }}</span>
              </v-tab>
              <v-tab v-if="isFollowing" @click="tab=1">
                <v-icon small>mdi-link-variant</v-icon> <v-icon small>mdi-check</v-icon> 
                <span class="text-sm">ABONNÉ</span>
              </v-tab>
              <v-tab @click="tab=2" title="$vuetify.lang.t('$vuetify.page.addToContact')">
                <v-icon small>mdi-clipboard-account</v-icon> <v-icon small>mdi-plus</v-icon> 
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.page.contact') }}</span>
              </v-tab>   
              <v-tab @click="tab=3">
                <v-icon class="mr-1" small>mdi-scissors-cutting</v-icon> 
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.page.blacklist') }}</span>
              </v-tab>
              <v-tab @click="tab=4;">
                <v-icon>mdi-file</v-icon> <span class="ml-1 d-none d-sm-flex">
                  {{ $vuetify.lang.t('$vuetify.page.files') }}
                </span>
              </v-tab>
          </v-tabs>

          <v-tabs-items touchless v-model="tab">
              <!-- STREAM -->
              <v-tab-item :value="0">
                  
                <v-col class="text-center py-0">
                  <v-btn class="mx-2 mt-0 mb-2" outlined fab dark small 
                      color="white" @click="pageNumber=1; loadStream()" :loading="streamLoading">
                      <v-icon  dark title="actualiser">mdi-refresh</v-icon>
                  </v-btn><br>

                  <small v-if="!streamLoading">{{ stream.length }} publications</small>
                  <small v-if="streamLoading">chargement en cours</small>
                </v-col>

                <div id="streamPage">
                  <div v-for="(post, i) in stream" :key="i" >
                      <Post :post="post" origin="stream"></Post>
                  </div>
                  
                  <EndOfStream :endOfStream="endOfStream" :mapMode="'stream'" :pageNumber="pageNumber" :searchContentStr="''"
                              :streamLoading="streamLoading" :streamLength="stream.length"></EndOfStream>
                </div>
              </v-tab-item>
              <!-- STREAM -->

              <!-- FOLLOW -->
              <v-tab-item :value="1">
                <BlockFollows :page="userPage" :context="context"></BlockFollows>
              </v-tab-item>
              <!-- FOLLOW -->

              <!-- CONTACTS -->
              <v-tab-item :value="2">                
                <BlockContact :page="userPage" :context="context"></BlockContact>
              </v-tab-item>
              <!-- CONTACTS -->
              
              <!-- BLACKLIST -->
              <v-tab-item :value="3">
                <BlockBlacklist :page="userPage" :context="context"></BlockBlacklist>
              </v-tab-item>
              <!-- BLACKLIST -->

              <!-- FILES -->
              <v-tab-item :value="4" style="background-color:#212121">
                <v-app-bar>
                  <v-icon small class="pa-1">mdi-file</v-icon> 
                  <h4>{{ $vuetify.lang.t('$vuetify.page.files') }}</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon @click="tab=0"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>

                <FileList :page="userPage"></FileList>
              </v-tab-item>
              <!-- FILES -->
          </v-tabs-items>
        </template>

      </v-flex>
    </v-col>
  </v-col>

  <v-snackbar v-model="showSnackbar" :color="snackColor" right :timeout="1000000" :multi-line="true">
    {{ snackText }}
    <v-btn small icon
          @click="showSnackbar = false">
      <v-icon >mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
  <div v-show="false">{{ updateProfile }}</div>
</v-row>
</template>

<style>
  #profil .postCard{
    margin-bottom:20px;
  }

  .btn.vodal-confirm-btn{
    display: none;
  }

  .cropper .container{
    padding:0px !important;
  }
  .cropper .vodal-dialog{
    background: #464646;
  }
  .cropper .vodal-cancel-btn, .cropper .vodal-confirm-btn{
    border: unset!important;
  }
  .cropper .vodal-confirm-btn {
      background: #0bccb1;
  }
  .cropper .vodal-cancel-btn {
      color: #000;
  }
  .v-slide-group__prev--disabled{
    display:none!important;
  }
  .v-tab{
    min-width:40px;
  }
  .v-tabs-items{
    padding:25px 0;
    background-color:transparent!important;
  }
  .enableShare .v-input__slot{
    padding-right: 55px;
  }
  .enableShare .v-input--switch .v-input--selection-controls__input{
    right: 0;
    position: absolute; 
  }
  #map-container-page{
    height:200px;
    z-index:0;
    background-color: #1b2f35;
  }
  .leaflet-tile{
    opacity: 0.4 !important;
  }
  .leaflet-bottom{
    display:none;
  }
  #stream{
    padding-bottom:400px;
  }
</style>
<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'
import moment from 'moment'


import Cropper from '@/components/Cropper.vue'
import Post from '@/components/Post.vue'
import FormTags from '@/components/page/FormTags.vue'
import FormPosition from '@/components/page/FormPosition.vue'
import MetaLinks from '@/components/MetaLinks.vue'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker} from 'vue2-leaflet'

import BlockFollows from '@/components/page/BlockFollows.vue'
import BlockContact from '@/components/page/BlockContact.vue'
import BlockBlacklist from '@/components/page/BlockBlacklist.vue'
import FileList from '@/components/page/FileList.vue'
import EndOfStream from '@/components/page/EndOfStream.vue'

export default {
  name: 'auth',
  props: ['context'],
  components: { FormTags, FormPosition, Cropper, Post, MetaLinks, 
                LMap, LTileLayer, LMarker, BlockFollows, BlockContact, BlockBlacklist, EndOfStream, FileList },

  data: () => ({
    user: { name: '' },
    page: { name: '' },
    userPage: { name: '' },
    avatarUrl: '',
    showFormDesc: false,
    showFormPosition: true,
    formPosOpacity: 0,
    description: "",
    stream: [],
    streamLoading: false,
    showStream: true,
    endOfStream: false,
    pageNumber: 1,
    myPages: [],
    showCutValidation: false,
    showFollow: false,

    showSnackbar: false,
    snackText: "",
    snackColor: "green",
    showFormTags: false,
    showMap: false,
    showInputPdf: false,


    rulesTxtareaEditPost: [v => (v != null && v.length <= 500) || 'Max 500 caractères'],
    postText: "",
    postTextError: '',
    postTagText: "",
    postSignedUid: "",
    postSharable: true,
    showInputImage: false,
    urlToImage: '',
    postImage: null,
    embedMetaLinks: [],
    postPDF: null,
      
    tab: 0,
    eventStartDate: null,
    eventStartDatePicker: null,
    showAgenda: false,
    metaLoading: false,

    zoom:13,
    url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
    attribution:'',
      
    
  }),
  async updated(){
    //this.tab = 0
    console.log("CHECK UPDATED")
  },
  async created(){
    //this.tab = 0
    console.log("CHECK CREATED")
  },
  async mounted(){
    console.log("CHECK MOUNT")
    this.tab = 0
    this.userPage.uid = this.$route.params.pageUid
    this.mode = this.$route.params.mode
    this.stream = []
    this.updateDataProfile()
    
    //this.myPages = JSON.parse(localStorage.getItem("user_pages"))


    this.$root.$on('changeAvatar', (avatarUrl, pageUid) => { 
      console.log('changeAvatar in page', avatarUrl)
      if(pageUid == this.userPage.uid)
        this.avatarUrl = avatarUrl;
    })


    this.$root.$off('loadStream').$on('loadStream', () => { 
      console.log('loadStream in page.js')
      this.pageNumber = 1
      this.$vuetify.goTo(300)
      setTimeout(()=>{
        this.loadStream();
      }, 300)
    })
    

    if(this.mode == "editpos"){
      this.formPosOpacity = 1 
      this.showMap = false
      this.tab = 4
    }else{
      // setTimeout(()=>{ 
      //   this.showFormPosition = false 
      //   this.formPosOpacity = 1 
      //   this.showMap = false
      // }, 1000)
    }
    
    window.removeEventListener('scroll', ()=>{})
    window.addEventListener('scroll', ()=>{
      //console.log("scroll", window.scrollY, document.getElementById("streamPage").offsetHeight - 400)
      if(document.getElementById("streamPage") == null) return 
      //console.log("scroll loadstream in page.vue", window.scrollY, document.getElementById("streamPage").offsetHeight-400, this.streamLoading, this.endOfStream, this.tab )
      if(!this.endOfStream && window.scrollY > document.getElementById("streamPage").offsetHeight-400 && this.tab==0){
        if(!this.streamLoading && !this.endOfStream){
            this.pageNumber++
            console.log("scroll loadstream now")
            this.loadStream()
        }
      }
    });
    
      
  },
  methods: {
    async updateDataProfile(){
      this.pageNumber = 1
      try{
        axios.post('/page/profil', { pageUid: this.userPage.uid })
            .then( res => {
              if(res.data.error == false){
                this.stream = []
                this.user = res.data.user
                console.log("res.data.user", res.data, res.data.user)
                this.contactPrivatePost = [res.data.page]
                this.userPage = res.data.page
                this.avatarUrl = core.avatarUrl(this.userPage.uid)
                this.myPages = res.data.user.pages
                if(this.userPage.type == 'event'){
                  this.eventStartDate = moment(this.userPage.startDate).locale(this.$vuetify.lang.current).format('LLL')
                  this.eventStartDatePicker = moment(this.userPage.startDate).format('YYYY-MM-DD')
                }

                this.description= this.userPage.description

                this.tab = 0
                this.loadStream()
              }else{
                //router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    startCropper: function(){
      if(this.isMyPage == false) return
      var parentDOM = document.getElementById("inspire");
      let el = parentDOM.getElementsByClassName('btn vodal-confirm-btn')[0]
      console.log("starCropper", el)
      el.click()
    },

    saveDesc: async function(){
      try{
        console.log("userpage ?", this.userPage.uid)
        const res = await axios.post('/page/edit-description', 
                                      { pageUid: this.userPage.uid,
                                        description: this.description })
        console.log("res", res.data)
        if(res.data.error == false){
          this.userPage.description = this.description
          this.showFormDesc = false
        }
      }catch(e){
        router.push('/login');
      }
    },

    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
   


    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 500)
    },

    loadStream: async function(){
      if(this.pageNumber == 1) this.stream = []
      this.streamLoading=true
      let currentPos = JSON.parse(localStorage.getItem("currentPosition"))
      let radius = localStorage.getItem("currentRadius")
      axios.post('/page/get-stream',{ search: "", 
                                      lat: currentPos.lat, 
                                      lng: currentPos.lng, 
                                      radius: radius,
                                      pageUid: this.userPage.uid,
                                      pageNumber: this.pageNumber })
                  .then((res)=>{

                    if(this.pageNumber == 1)  this.stream = res.data.stream
                    else                      this.stream = this.stream.concat(res.data.stream)

                    this.streamLoading = false
                    this.showScopeCircle = false
                    this.$root.$emit('streamLoaded');

                    this.endOfStream = (res.data.stream.length < res.data.nbPerPage)

                    console.log("res /publication/get-stream", res)
                  })
                  .catch((e)=>{
                    console("error /page/get-stream", e)
                  })
    
    },

    selectImage : function(){
        this.showInputImage=!this.showInputImage
        console.log("this.$refs.fileInput", this.$refs.fileInput)
        if(this.showInputImage)
            document.getElementById('fileInput').click()
        else{
            this.postImage = null
        }
    },

    selectPDF: function(){
          this.showInputPdf=!this.showInputPdf
          console.log("this.$refs.pdfInput", this.$refs.pdfInput)
          if(this.showInputPdf)
              document.getElementById('pdfInput').click()
          else{
              this.postPDF = null
          }
      },

    sendPrivateMsg : async function(uid, name){
        await this.addToContact(uid, name)
        if(uid == null) router.push('/private/sendto')
        else            router.push('/private/sendto/'+uid)
    },

    addToContact : async function(uid, name){
        console.log("addToContact")
        //this.loading = true
        const res = await axios.post('/page/add-to-contacts', { 
                                        pageUid: uid,
                                        pageName: name
                                    })
                                    
        if(res.data.error == false){
            this.context.userPage.contacts.push({ uid: uid, name: name })
            this.$root.$emit('updateContext')
        }
        this.loading = false
        console.log("res /page/add-to-contact", res.data)
    },

    goToProfile : function(){
      this.userPage.uid = this.$route.params.pageUid
      this.mode = this.$route.params.mode
      this.updateDataProfile()
    },
    getUserLoggedPage: function(){
      let p = null
      this.myPages.forEach((page)=>{
        if(page.uid == localStorage.getItem('user_page_uid')) p = page
      })
      return p
    },
    sendPost: async function(){
        this.popupKey = "send2"

        console.log('/upload/image-post', this.postImage)
        let imageName = null
        if(this.postImage != null){
          const imgData = new FormData()
          imgData.append('image-post', this.postImage, this.postImage.name)
          console.log('send image', imgData)
          const resImg = await axios.post('/upload/image-post', imgData)
          imageName = resImg.data.imageName
          console.log('/upload/image-post', resImg)
        }

        console.log('/upload/pdf-post', this.postPDF)
        let pdfId = null
        if(this.postPDF != null){
          const pdfData = new FormData()

          pdfData.append('accessToken', localStorage.getItem("access_token"))
          pdfData.append('originalName', this.postPDF.name)
          pdfData.append('signedUid', this.userPage.uid)
          pdfData.append('pdf-post', this.postPDF, this.postPDF.name, "TESTXXX")

          console.log('send image', pdfData)
          const resPdf = await axios.post('/upload/pdf-post', pdfData)
          pdfId = resPdf.data.pdfId
          console.log('/upload/pdf-post', resPdf)
        }

        const res = await axios.post('/publication/send-post', 
                                      { text: this.postText, 
                                        sharable: this.postSharable,
                                        fromCity: this.userPage.city,
                                        imageName: imageName,
                                        postSignedUid: this.userPage.uid,
                                        embedMetaLinks: this.embedMetaLinks,
                                        scopeType: 'followers',
                                        pdf: pdfId
                                      })
        
        if(res.data.error == true){
          console.log("error /publication/send-post", res.data)
          this.popupKey = "send1"
          this.postTextError = "Sorry, an error occured. Check console log"
        }else{
          this.loadStream()
        }
        this.postText = ""
        this.postSharable = true
        this.embedMetaLinks = []
        this.postImage = null
        this.showInputImage = false
        this.postPDF = null
        this.showInputPdf = false
                
        console.log("res /publication/send-post", res.data)
      },

      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          this.metaLoading = true
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          console.log("request for", link, i, res)
          this.embedMetaLinks.push(res.data.embedMetaLink)
          this.metaLoading = false
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },   
    completeText: function(text){
        return core.completeText(text)
    }

  },
  computed: {
    
    avatarUrlCMPT : function(){
      console.log("avatarUrl", this.avatarUrl)
      return this.avatarUrl
    },
    iName: function(){
      return core.iName(this.userPage.uid)
    },
    updateProfile : function(){
      if(this.userPage.uid != this.$route.params.pageUid) this.goToProfile()
      return this.$route.params.pageUid
    },
    isMyPage: function(){
        let found = false
        this.myPages.forEach((page) => {
            if(page.uid == this.userPage.uid)
            found = true
        })
        return found
    },
    isFollowing: function(){
        let found = false
        if(this.userPage.followers==null) return false
        this.userPage.followers.forEach((page) => {
            console.log("followers", page, localStorage.getItem("user_page_uid"))
            if(page == localStorage.getItem("user_page_uid"))
            found = true
        })
        console.log("followers", this.userPage.followers, localStorage.getItem("user_page_uid"), found)
        return found
    },
    isMyContact: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == localStorage.getItem('user_page_uid')) loggedPage = page
        })
        let found = false
        loggedPage.contacts.forEach((page) => {
            if(page.uid == this.userPage.uid) found = true
        }); return found
    },
    isBlacklisted: function(){
        if(this.myPages.length < 1) return false
        let loggedPage = null
        this.myPages.forEach((page)=>{
          if(page.uid == localStorage.getItem('user_page_uid')) loggedPage = page
        })
        let found = false
        loggedPage.blacklist.forEach((page) => {
            if(page.uid == this.userPage.uid) found = true
        }); return found
    },
    isMyProfil: function(){
        return this.userPage.uid == localStorage.getItem("user_page_uid")
    },
    markerIconRoot: function(){
      let avatar = core.avatarUrl(this.userPage.uid)
      return L.icon({
          iconUrl: avatar, //'markers/root-marker-earth.png',
          iconSize:     [60, 60], // size of the icon
          iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
          popupAnchor:  [0, -30] // point from which the po
      });
    },
       
  }
}
</script>
