<template>
    <v-row id="profil">
        <v-col cols="12" class="pa-0">
            <v-col class="d-none d-sm-flex"></v-col>
            <v-card max-width="600" color="" class="pa-3 mx-auto">
                <v-row style="margin-top:-12px;">
                <v-app-bar>
                  <v-icon class="mr-1">mdi-cog</v-icon> 
                  <h4 v-if="!isMyProfil">Paramètres de la page</h4>
                  <h4 v-if="isMyProfil">Paramètres du compte</h4>
                  <v-spacer></v-spacer>
                  <v-btn class="mr-3" icon :to="'/page/'+page.uid"><v-icon>mdi-close</v-icon></v-btn>
                </v-app-bar>
                </v-row>
                <br>

                <v-card-subtitle><v-icon small>mdi-chevron-down</v-icon> Modifier le nom de la page</v-card-subtitle>

                <v-text-field clearable outlined
                    placeholder="Nom de la page" title="Nom de la page" style="margin:0 15px 0 15px;"
                    single-line v-model="page.name"  class="input-search" color="blue"
                ></v-text-field>

                <template v-if="page.type != 'user'">
                    <br>
                    <v-card-subtitle><v-icon small>mdi-chevron-down</v-icon> Modifier le type de la page</v-card-subtitle>
                    
                    <v-bottom-navigation :height="70" style="margin:0;border-radius:5px;"
                                        v-model="page.type" grow color="primary" @change="changedType">
                        <v-btn value="group">
                            <span>{{ $vuetify.lang.t('$vuetify.pageType.group') }}</span>
                            <v-icon>mdi-account-group-outline</v-icon>
                        </v-btn>

                        <v-btn value="event">
                            <span>{{ $vuetify.lang.t('$vuetify.pageType.event') }}</span>
                            <v-icon>mdi-calendar-clock</v-icon>
                        </v-btn>

                        <v-btn value="assembly">
                            <span>{{ $vuetify.lang.t('$vuetify.pageType.assembly') }}</span>
                            <v-icon>mdi-hexagon-multiple-outline</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                    <br><br>
                </template>

                <v-row cols="12" class="" flex v-if="page.type=='event' && page.startDate != ''">
                    <v-col cols="12" sm="6" class="pr-0 pl-5">
                        <v-date-picker v-model="page.startDate" width="100%"
                                    :locale="$vuetify.lang.current"
                                    color="primary" class="mr-5"></v-date-picker>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-time-picker :locale="$vuetify.lang.current" width="260" color="primary" 
                                        v-model="page.startTime"></v-time-picker>
                    </v-col>
                    <v-col cols="12">
                    <hr><br>
                    </v-col>
                </v-row>
                
                <v-row class="mx-auto">
                    <v-col class="pa-1">
                        <v-btn small block color="orange" :to="'/page/' + page.uid">
                            <v-icon>mdi-close</v-icon> Annuler
                        </v-btn>
                    </v-col>
                    <v-col class="pa-1">
                        <v-btn small block color="green" @click="saveChanges">
                            <v-icon>mdi-check</v-icon> Confirmer les changements
                        </v-btn>
                    </v-col>
                </v-row>

                <br><hr><br>

                <v-btn small text color="red" v-if="!isMyProfil" @click="showDeleteBlock=!showDeleteBlock">
                    <v-icon>mdi-delete</v-icon> Supprimer cette page
                </v-btn>
                <v-btn small text color="red" v-if="isMyProfil" @click="showDeleteBlock=!showDeleteBlock">
                    <v-icon>mdi-delete</v-icon> Supprimer mon compte
                </v-btn>

                <v-card class="pa-3 mt-3" v-if="showDeleteBlock">
                    <h4 class="red--text">Êtes-vous sûr ?</h4>
                    <small>Toutes les données liées seront supprimées<br>
                           <small class="grey--text">> publications, commentaires, images, fichiers, etc</small>
                           <br>
                           Toute suppression est définitive
                    </small>
                    
                    <br><br>

                    <v-row class="mx-auto">
                        <v-col class="pa-1">
                            <v-btn small outlined block color="white" @click="showDeleteBlock=!showDeleteBlock">
                                <v-icon>mdi-close</v-icon> Annuler
                            </v-btn>
                        </v-col>
                        <v-col class="pa-1">
                            <v-btn small  block color="red" @click="deletePage">
                                <v-icon>mdi-check</v-icon> Supprimer
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-card>
        </v-col>
    </v-row>
</template>


<style>
    .container{
        padding-top:0px!important;
    }
    
</style>

<script>

import axios from 'axios'
import router from '../router/router'
//import core from '../plugins/core.js'
import moment from 'moment'


export default {
  name: 'pageSettings',
  props: ['context'],
  components: {  },

  data: () => ({
    user: { name: '' },
    page: { name: '', startDate: '', startTime : '12:00' },
    showDeleteBlock: false,
    
  }),
  async mounted(){
    console.log("CHECK MOUNT")
    this.tab = 0
    this.page.uid = this.$route.params.pageUid
    this.updateDataProfile()
  },

  methods: {
    async updateDataProfile(){
        console.log("updateDataProfile")
        try{
            axios.post('/page/profil', { pageUid: this.page.uid })
                .then( res => {
                if(res.data.error == false){
                    this.user = res.data.user
                    this.page = res.data.page
                    console.log("res.data.user", res.data, res.data.user)
                }else{
                    router.push('/');
                }
                })        
        }catch(e){
            router.push('/login');
        }
    },

    async saveChanges(){
        console.log("saveChanges")
        try{
            axios.post('/page/save-settings', { pageUid: this.page.uid,
                                                pageName: this.page.name,
                                                pageType: this.page.type
                                              })
                .then( res => {
                    if(res.data.error == false){ 
                        this.$root.$emit('updateContext')
                        router.push('/page/'+this.page.uid);
                    }else{
                        router.push('/');
                    }
                })        
        }catch(e){
            router.push('/login');
        }
    },

    async deletePage(){
        console.log("deletePage")
        try{
            axios.post('/page/delete', { pageUid: this.page.uid })
                .then( res => {
                    if(res.data.error == false){ 
                        console.log("delete page success", res)
                        if(this.page.type == "user"){
                            localStorage.clear();
                            this.$root.$emit('logout');
                            router.push('/');
                        }else{
                            this.$root.$emit('updateContext');
                            router.push('/stream');
                        }
                    }else{
                       console.log("error deleting page 1", res)
                    }
                })        
        }catch(e){
            console.log("error deleting page 2", e)
            //router.push('/login');
        }
    },

    changedType(){
        console.log("changed value", this.page.type, this.page.startDate)
        if(this.page.type == 'event'){
            let date =  new Date()
            if(this.page.startDate == ''){
                this.page.startDate = moment(date).format('YYYY-MM-DD')
                this.page.startTime = "12:00"
            }else{
                 this.page.startDate = moment(this.page.startDate).format('YYYY-MM-DD')
            }
        }else{
            this.page.startDate = ''
        }
        console.log("changed value res", this.page.startDate)
    }
  },

  computed: {

    isMyProfil: function(){
        return this.page.uid == localStorage.getItem("user_page_uid")
    },

  }
}

</script>