<template>

<v-row id="profil">

  <v-col cols="12" >
    <v-card max-width="800" class="mx-auto">
      <v-list-item>


        <v-list-item-avatar height="60" width="60" @click="startCropper">
          <v-img :src="avatarUrl"></v-img>
        </v-list-item-avatar>
        
        <v-list-item-content>

         
          <v-list-item-title class="headline">
            @{{ userPage.name }}
          </v-list-item-title>
          
          <v-list-item-subtitle v-show="userPage.address==null &&  userPage.city==null">
            <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName }}</small>
            <small><v-icon x-small>mdi-map-marker</v-icon> not located</small>
          </v-list-item-subtitle>
          <v-list-item-subtitle v-show="userPage.address!=null ||  userPage.city!=null">
            <small style="margin-right:10px;"><v-icon x-small>mdi-spider-web</v-icon> {{ iName }}</small>
            <v-icon x-small style="margin-left:-5px;">mdi-map-marker</v-icon>{{ userPage.address }} {{ userPage.city }}
          </v-list-item-subtitle>
        </v-list-item-content>

      </v-list-item>
          

      <Cropper :pageUid="userPage.uid" 
                :pageName="userPage.name" 
                :defaultSrc="avatarUrlCMPT"
                class="cropper"></Cropper>

      <v-card-text v-show="userPage.description != null" v-text="nl2br(userPage.description)"></v-card-text>

      <v-card-actions>

        <v-btn small @click="startCropper"><v-icon small>mdi-image</v-icon> avatar</v-btn>
        <v-btn small @click="showFormPosition=false;showFormDesc=!showFormDesc; "><v-icon small>mdi-pencil</v-icon> description</v-btn>
        <v-btn small @click="showFormDesc=false;showFormPosition=!showFormPosition;"><v-icon small>mdi-map-marker</v-icon> addresse</v-btn>
        <v-spacer></v-spacer>
        <!-- <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-share-variant</v-icon>
        </v-btn> -->
      </v-card-actions>
    </v-card>
    
    <br>
    
    <!-- Further information -->
    <v-card max-width="800" class="mx-auto" v-show="showFormDesc && !showFormPosition">
      <v-app-bar>
          <v-icon small class="pa-1">mdi-information</v-icon> 
          <h4>Further informations</h4>
        </v-app-bar>

        <v-col cols="12"><br>
          <h5>
            <v-icon>mdi-chevron-right</v-icon> 
            Write a description to give more information about the purpose of this page...
          </h5>

          <br>
          
          <v-textarea label="Description..." outlined v-model="description"></v-textarea>

          <v-btn block color="primary" @click="saveDesc">
            <v-icon small>mdi-check</v-icon> save description
          </v-btn>
        </v-col>
    </v-card>

    <br>
    
    <!-- Your main position -->
    <v-card max-width="800" class="mx-auto" v-show="showFormPosition && !showFormDesc"
            :style="'opacity:'+formPosOpacity">
      <v-app-bar>
          <v-icon small class="pa-1">mdi-map-marker</v-icon> 
          <h4>Your main position</h4>
        </v-app-bar>

        <v-col cols="12"><br>
          <h5>
            <v-icon>mdi-chevron-right</v-icon> 
            Set your main address to always center the map on your favorite position...
          </h5>

          <br>

          <v-text-field label="Your residence city..." outlined v-model="city"></v-text-field>
          <v-text-field label="Your residence address..." outlined v-model="address"></v-text-field>


          <v-btn block color="primary" @click="searchPlace">
             <v-icon small class="pa-1">mdi-magnify</v-icon> Find on map
          </v-btn>
          
          <v-expand-transition>
            <v-list v-show="places.length > 0" dense>
              <!-- <v-subheader>PLACES</v-subheader> -->
              <v-list-item-group  color="primary" > 
                <v-list-item
                  v-for="(place, i) in places"
                  :key="i"
                  @click="setNewCenter(place.lat, place.lng, place.text)"
                >
                  <v-list-item-icon>
                    <v-icon>mdi-map-marker</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title v-text="place.text"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-expand-transition>

          <l-map ref="map"  :zoom="zoom"  :maxZoom="13" :center="mapCenter"  
               style="width:100%;height:320px; margin-bottom:15px" 
               v-if="showMap == true">
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-marker :lat-lng="mapCenter" ref="marker"
                      draggable @dragend="dragend">
              <l-popup class="text-center" open="true">
                <br><v-chip small color="primary" style="margin-top:7px;">{{ cityAddress }}</v-chip>
                <br><br>
                <h4>> Drag the marker to the position you want</h4>
                <h4>and click the button</h4><br>
                <v-btn small color="secondary" style="width:100%" @click="savePosition">
                    <v-icon small>mdi-check</v-icon> Use this position
                </v-btn>
              </l-popup>
            </l-marker>
          </l-map>

          <br>
          <v-btn block color="secondary" :disabled="city==''" @click="savePosition">
             <v-icon small class="pa-1">mdi-check</v-icon> Save position
          </v-btn>
        </v-col>
    </v-card>

    <!-- Stream page -->
    <!-- <v-btn block @click="loadStream">Refresh</v-btn> -->
    <div style="max-width:800px" class="mx-auto" v-show='!showFormDesc && !showFormPosition'>
      <div v-for="(post, i) in stream" :key="i" >
          <Post :post="post" origin="stream"></Post>
      </div>
      <v-card v-if="stream.length == 0">
          <v-list-item>
              <v-list-item-content>
                  <v-list-item-title class="text-center">
                      <v-icon>mdi-cancel</v-icon><br>
                      Aucun message 
                  </v-list-item-title>
              </v-list-item-content>
          </v-list-item>
      </v-card>
    </div>
  </v-col>

</v-row>
</template>

<style>
  @import "~leaflet/dist/leaflet.css";

  #profil .leaflet-popup-close-button{
    margin: 10px;
  }

  #profil .leaflet-popup-content .v-chip__content{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #profil .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.2;
    max-width: 250px;
  }
  #profil .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(79, 78, 78, 0.82);
    box-shadow: rgba(79, 78, 78, 0.82);
    color:white
  }

  #profil .postCard{
    margin-bottom:20px;
  }

  .btn.vodal-confirm-btn{
    display: none;
  }

  .cropper .container{
    padding:0px !important;
  }
  .cropper .vodal-dialog{
    background: #464646;
  }
  .cropper .vodal-cancel-btn, .cropper .vodal-confirm-btn{
    border: unset!important;
  }
  .cropper .vodal-confirm-btn {
      background: #0bccb1;
  }
  .cropper .vodal-cancel-btn {
      color: #000;
  }
</style>
<script>

import axios from 'axios'
import router from '../router/router'
import core from '../plugins/core.js'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'

import Cropper from '@/components/Cropper.vue'
import Post from '@/components/Post.vue'

export default {
  name: 'auth',
  components: { Cropper, Post, LMap, LTileLayer, LMarker, LPopup },
  data: () => ({
    user: { name: '' },
    userPage: { name: '' },
    avatarUrl: '',
    showFormDesc: false,
    showFormPosition: true,
    formPosOpacity: 0,
    loadPlaces: false,
    places: [],
    description: "",
    city: "paris",
    address: "",
    cityAddress: "",
    lat: null,
    lng: null,
    showMap: true,
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    popupContent: "ok",
    stream: [],
    streamLoading: false,
    showStream: true
    
    
  }),
  async mounted(){
    this.userPage.name = localStorage.getItem("user_name") != null ? 
                         localStorage.getItem("user_name") : 
                         ", you are not loggin"
    console.log("name", this.userPage.name)

    this.updateDataProfile()


    this.$root.$on('changeAvatar', (avatarUrl) => { 
      console.log('changeAvatar in profil', avatarUrl)
      this.avatarUrl = avatarUrl;
    })
    
    this.avatarUrl = localStorage.getItem('avatarUrl')

    setTimeout(()=>{ 
      this.showFormPosition = false 
      this.formPosOpacity = 1 
      this.showMap = false
    }, 1000)
    

    delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
      
  },
  methods: {
    
    async updateDataProfile(){
      try{
        axios.get('/user/profil')
            .then( res => {
              if(res.data.error == false){
                this.user = res.data.user
                this.userPage = res.data.userPage
                this.loadStream()
              }else{
                router.push('/');
              }
            })        
      }catch(e){
        router.push('/login');
      }
    },

    startCropper: function(){
      var parentDOM = document.getElementById("inspire");
      let el = parentDOM.getElementsByClassName('btn vodal-confirm-btn')[0]
      console.log("starCropper", el)
      el.click()
    },

    saveDesc: async function(){
      try{
        console.log("userpage ?", this.userPage.uid)
        const res = await axios.post('/page/edit-description', 
                                      { pageUid: this.userPage.uid,
                                        description: this.description })
        console.log("res", res.data)
        if(res.data.error == false){
          this.userPage.description = this.description
        }
      }catch(e){
        router.push('/login');
      }
    },

    savePosition: async function(){
      try{
        console.log("userpage ?", this.userPage.uid)
        const res = await axios.post('/page/edit-position', 
                                      { pageUid: this.userPage.uid,
                                        lat: this.lat,
                                        lng: this.lng,
                                        city: this.city,
                                        address: this.address })
        console.log("res", res.data)
        if(res.data.error == false){
          this.userPage.lat = this.lat
          this.userPage.lng = this.lng
          this.userPage.city = this.city
          this.userPage.address = this.address
          this.showFormPosition = false
          localStorage.setItem("mainPosition", JSON.stringify({ lat:parseFloat(this.lat), lng: parseFloat(this.lng) }))
        }
      }catch(e){
        router.push('/login');
      }
    },
    nl2br: function(str, is_xhtml){
      var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
      return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    },
   
   findOnMap: function(){

    },
    dragend(e){ 
      e.target.openPopup()
      this.lat = e.target.getLatLng().lat
      this.lng = e.target.getLatLng().lng
      
      console.log("dragend", e.target.getLatLng())
    },

    searchPlace: async function(){
        try{
         let query = this.city + " " + this.address
         this.loadPlaces = true
         axios.get('https://nominatim.openstreetmap.org/search?q=' + query + "&format=json&addressdetails=1")
              .then( res => {
                  this.places = []
                  if(res.data.length == 0) return

                  console.log("res nominatim", query, this.places)
                  this.loadPlaces = false
                  res.data.forEach(el => {
                    if(this.places.length < 4)
                    //if(el.type == "city" || el.type == "administrative" || el.type == "postcode"){
                       this.places.push({ text : el.display_name,
                                          lat: el.lat,
                                          lng: el.lon, })
                    //}
                  });
                  this.scrollBottom()
              }).catch(res =>{ console.log("error 1 nominatim", res) })
      }catch(e){
        console.log("error 2 nominatim", e)
      }
    },
  
    setNewCenter: function(lat, lng, cityAddress){
      this.mapCenter = [lat, lng]
      this.lat = lat
      this.lng = lng
      this.zoom = 11
      this.cityAddress = cityAddress
      this.showMap = true
      this.scrollBottom()
      //let marker = this.$refs.marker.mapObject
      setTimeout(() => {
        this.$refs.marker.mapObject.openPopup()          
      }, 500)
      
    },

    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 500)
    },

    loadStream: async function(pageNumber=1){
      this.stream = []
      this.streamLoading=true
      let currentPos = JSON.parse(localStorage.getItem("currentPosition"))
      let radius = localStorage.getItem("currentRadius")
      const res = await axios.post('/page/get-stream', 
                                    { search: "", 
                                      lat: currentPos.lat, 
                                      lng: currentPos.lng, 
                                      radius: radius,
                                      pageUid: this.userPage.uid,
                                      pageNumber: pageNumber })
      
      this.stream = res.data.stream
      this.updateMarkers()
      this.streamLoading = false
      this.showScopeCircle = false
      this.$root.$emit('streamLoaded');
      console.log("res /publication/get-stream", res)
    },

  },
  computed: {
    
    avatarUrlCMPT : function(){
      console.log("avatarUrl", this.avatarUrl)
      return this.avatarUrl
    },
    iName: function(){
      return core.iName(this.userPage.uid)
    }
    
    
  }
}
</script>
