<template>
<div>
  
  <Header></Header>

  <v-col cols="12" lg="4"  md="8" sm="8" class="mx-auto text-center">
   
    
    <v-card class="mx-auto pa-0" color="blue">
      <v-col cols="12" class="pa-0" v-if="!signedCharte">      
        <v-card-title class="pa-2">
          {{ $vuetify.lang.t('$vuetify.register.didNotSignedCharter') }} 
        </v-card-title> 
        <v-btn block color="blue darken-2" to="/charter">
          <v-icon class="" small>mdi-book</v-icon> 
          {{ $vuetify.lang.t('$vuetify.register.readSignedCharter') }} 
        </v-btn>
      </v-col>
      <v-col cols="12" class="pa-0" v-if="signedCharte">      
        <v-card-title class="pa-2">
          <v-btn icon class="mr-1" to="/charter"><v-icon>mdi-book</v-icon> </v-btn>
          <v-icon>mdi-check</v-icon>
          {{ $vuetify.lang.t('$vuetify.register.charterSigned') }}  
        </v-card-title> 
      </v-col>
    </v-card>

    <br>
   
    <v-card class="mx-auto pa-0" color="secondary">
      <v-col cols="12" class="pa-0">      
        <v-card-title class="pa-2">
        <v-btn icon class="mr-1" to="/select-node"><v-icon>mdi-spider-web</v-icon></v-btn> 
        <v-icon>mdi-check</v-icon> 
        {{ $vuetify.lang.t('$vuetify.main.Server') }}  
        <v-chip color="ml-3 secondary darken-2">
          {{ currentNodeName }}, <small class="ml-1"> {{ currentNodeLocation }}</small>
        </v-chip>
         </v-card-title> 
      </v-col>
    </v-card>

    <br>

    <v-card class="mx-auto main-card" style="border: 2px solid #26a69a;">
        
      <v-col cols="12">
        <v-card-title>
          <v-icon class="mr-2">mdi-account-plus</v-icon> 
          {{ $vuetify.lang.t('$vuetify.register.createYourAccount') }}  
        </v-card-title> 

        <hr>

        <v-card-subtitle>
          {{ $vuetify.lang.t('$vuetify.register.desc11') }} !
          {{ $vuetify.lang.t('$vuetify.register.desc12') }},  
          {{ $vuetify.lang.t('$vuetify.register.desc13') }} !
        </v-card-subtitle>

        <!-- <v-card-subtitle>
          {{ $vuetify.lang.t('$vuetify.register.desc12') }}.<br>
          {{ $vuetify.lang.t('$vuetify.register.desc13') }} !
        </v-card-subtitle>
        <v-card-subtitle>
          {{ $vuetify.lang.t('$vuetify.register.desc14') }}.<br>
          {{ $vuetify.lang.t('$vuetify.register.desc15') }}...
        </v-card-subtitle> -->
        <br>
        <v-form @submit.prevent="register" v-if="rules!=null">
          <v-text-field :disabled="!signedCharte" outlined v-model="name" 
                        id="name" :label="$vuetify.lang.t('$vuetify.home.pseudoFormLogin')" 
                        @keydown="removeNameSpace" @change="removeNameSpace"
                        :hint="$vuetify.lang.t('$vuetify.form.atLeast3Char')"
                        :rules="[rules.required, rules.minName, rules.noSpace]"></v-text-field>
          <!-- <v-text-field :disabled="!signedCharte" filled v-model="email" id="email" label="Email" :rules="[rules.required]"></v-text-field> -->
          <v-text-field :disabled="!signedCharte" outlined v-model="password" 
                        id="password" :label="$vuetify.lang.t('$vuetify.main.password')" 
                        :append-icon="showpwd ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="showpwd ? 'text' : 'password'"
                        :hint="$vuetify.lang.t('$vuetify.form.atLeast8Char')"
                        counter @keydown="removePwdSpace" 
                        @click:append="showpwd = !showpwd"
          ></v-text-field>
        </v-form>
        <v-alert type="error" v-if="errorRegister != ''">
          <small>{{ errorRegister }}</small>
        </v-alert>
      </v-col>

      <v-col class="pa-3 pb-0 pt-0">
        <v-btn class="mb-1" x-small text to="/confidentiality">
          <v-icon x-small>mdi-file</v-icon>
          {{ $vuetify.lang.t('$vuetify.main.Confidentiality') }}
        </v-btn>
        <v-btn class="mb-1" x-small text to="/legals">
          <v-icon x-small>mdi-file</v-icon>
          {{ $vuetify.lang.t('$vuetify.main.mentionLegal') }}
        </v-btn>
        <v-btn class="mb-1" x-small text to="/cgu">
          <v-icon x-small>mdi-file</v-icon>CGU
        </v-btn>
      </v-col>
          
      <v-card-actions>
          <v-btn class="white--text" color="secondary" @click="register" block>
            <v-icon class="mr-1">mdi-account-plus</v-icon>
          {{ $vuetify.lang.t('$vuetify.main.register') }}
          </v-btn>
      </v-card-actions>

    </v-card>


    <v-card class="mx-auto mt-10" color="#231f20" elevation="0">
      <v-col cols="12">      
        <v-card-subtitle class="text-center">
          {{ $vuetify.lang.t('$vuetify.register.alreadyHaveAccount') }} ?
        </v-card-subtitle>
        <v-btn class="white--text" color="primary" to="/login" block>
          <v-icon>mdi-login</v-icon> {{ $vuetify.lang.t('$vuetify.main.login') }}
        </v-btn> 
        <br><br><br><br><br>
      </v-col>
    </v-card>

  </v-col>
</div>

</template>
<style>
  div.v-alert__content {
    text-align: left !important;
  }
</style>
<script>

import router from '../router/router'
import axios from 'axios'
import Header from '@/components/home/Header.vue'

//const baseUrl = localStorage.getItem("baseUrl")

export default {
  name: 'register',
  components: { Header },
  data: () => ({
    name: '',
    email: '',
    password: '',
    showpwd: false,
    currentNodeName: '',
    currentNodeLocation: '',
    signedCharte: false,
    showSecurityDetails: false,
    rules: null,
    errorRegister: ''
  }),

  async mounted(){        
      if(localStorage.getItem("iname") != null){
        this.currentNodeName = localStorage.getItem("iname")
        this.currentNodeLocation = localStorage.getItem("iLocation")
      }else{
        router.push('/select-node');
      }

      this.signedCharte = localStorage.getItem("signedCharte") == 'true' ? true : false
      if(this.signedCharte != true){
        router.push('/charter');
      }
      this.rules = {
          required: value => !!value || this.$vuetify.lang.t('$vuetify.form.required'),
          min: v => v.length >= 8 || 'Min 8 ' + this.$vuetify.lang.t('$vuetify.form.characters'),
          minName: v => v.length >= 3 || 'Min 3 ' + this.$vuetify.lang.t('$vuetify.form.characters'),
          noSpace: v => v.indexOf(' ') == -1 || this.$vuetify.lang.t('$vuetify.form.noSpace'),
        }

  },
  methods: {
    async register(){
      console.log("try to register", this.name, this.password)
     
      const res = await axios.post('/auth/save', 
                                    { name: this.name,
                                      //email: this.email,
                                      password: this.password
                                    })
      console.log("res /auth/save", res)
      if(res.data.error == false){
        console.log("USER SAVED WITH SUCCES", res.data)
        localStorage.setItem("firstStep", res.data.user._id)
        router.push('/login');
      }else{
        if(res.data.registrated == true){
          this.errorRegister = "Ce nom d'utilisateur est déjà utilisé."
        }
      }
    },
    removeNameSpace(){ console.log("removeSpaceName", this.name.indexOf(" "))
      if(this.name.indexOf(" ") > -1) this.name = this.name.replace(" ", "")
    },
    removePwdSpace(){ console.log("removePwdSpace", this.password.indexOf(" "))
      if(this.password.indexOf(" ") > -1) this.password = this.password.replace(" ", "")
      //if(this.password2.indexOf(" ") > -1) this.password2 = this.password2.replace(" ", "")
    }
  }
}
</script>
