<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" lg="10"  md="8" sm="8" class="mx-auto" style="max-width:600px;">
    
    <Header></Header>

    <v-col cols="12" class="mx-auto text-center">
      
      <br>        
      <v-card class="mx-auto main-card">
        <v-col cols="12" class="text-center">
            
            <template v-if="!networkInited">

                <h4>
                    <v-icon x-large>mdi-spider-web</v-icon>
                    <br><b>Plaanet</b> 
                    {{ $vuetify.lang.t('$vuetify.selectNode.isANetwork') }}
                </h4>
                <h2>{{ $vuetify.lang.t('$vuetify.selectNode.decentralized') }}</h2>

                <v-btn text small color="secondary" to="/info-nodes">
                        {{ $vuetify.lang.t('$vuetify.main.knowMore') }}
                </v-btn>
                   
                
                <v-col cols="12" lg="10"  md="10" sm="10" class="mx-auto text-center">
                    
                    <small>
                      {{ $vuetify.lang.t('$vuetify.selectNode.desc11') }}<br>
                      {{ $vuetify.lang.t('$vuetify.selectNode.desc12') }}<br><br>
                      {{ $vuetify.lang.t('$vuetify.selectNode.desc13') }}<br>
                      {{ $vuetify.lang.t('$vuetify.selectNode.desc14') }}
                    </small>
                    <br><v-icon>mdi-chevron-down</v-icon> <br><br>


                    <v-text-field outlined style="text-align: center;" 
                                :label="$vuetify.lang.t('$vuetify.selectNode.findClosestNode')+'...'"
                                :placeholder="$vuetify.lang.t('$vuetify.selectNode.whereDYL') + '?'"
                                v-model="cityFindNode"
                                @change="searchPlace">
                    </v-text-field>

                    <v-chip small v-if="errorMsg!=''" color="red">{{ errorMsg }}</v-chip>


                    <v-expand-transition>
                        <v-list v-show="places.length > 0" dense>
                            <!-- <v-subheader>PLACES</v-subheader> -->
                            <v-list-item-group  color="primary" > 
                                <v-list-item v-for="(place, i) in places"
                                            :key="i" @click="findNode(place.lat, place.lng)">
                                    <v-list-item-icon>
                                        <v-icon>mdi-map-marker</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title v-text="place.text"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-expand-transition>

                    <br>

                    <small>
                        <!-- <v-icon>mdi-chevron-down</v-icon>  -->
                        {{ $vuetify.lang.t('$vuetify.selectNode.selectServerChoice') }}
                        <br>
                        <v-btn class="mt-1" block @click="initNetwork">
                             
                            {{ $vuetify.lang.t('$vuetify.selectNode.showServers') }}
                            <v-icon>mdi-chevron-right</v-icon>
                        </v-btn>
                    </small>
                    
                </v-col>
            </template>

        </v-col>

        <v-col cols="12" lg="10"  md="10" sm="10" 
              v-if="networkInited" class="mx-auto text-center">
            <v-btn block @click="networkInited=false" >
                <v-icon>mdi-chevron-left</v-icon> 
                {{ $vuetify.lang.t('$vuetify.main.back') }}
            </v-btn>
            <br>
            <small>
                <small style="font-weight:200;" class="">
                {{ $vuetify.lang.t('$vuetify.selectNode.optimPerf') }}<br>
                {{ $vuetify.lang.t('$vuetify.selectNode.useClosestServer') }}.
                </small>
            </small>
            <br><br>
            <small>
                <v-icon>mdi-chevron-down</v-icon> 
                {{ $vuetify.lang.t('$vuetify.selectNode.selectServer') }}
            </small>
            <br><br>


            <l-map ref="nodeMap"  :zoom="zoom"  :maxZoom="11" :center="mapCenter"  
                    style="width:100%;height:300px; border-radius:10px 10px 0 0; z-index:2" 
                    >
                <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                <l-marker v-for="(instance, i) in network" :key='i' 
                            :lat-lng="[instance.position.coordinates[1], instance.position.coordinates[0]]">
                    <l-popup class="text-center" open="true">
                    <h2>
                        <v-icon color="black">mdi-spider-web</v-icon> 
                        {{ instance.name }} - 
                        <small>{{ instance.city }} {{ instance.state }}</small>
                    </h2>

                    {{ instance.url }}:{{ instance.port }}
                    <br>
                    <v-chip color="secondary lighten-3 mt-3" text-color="secondary darken-2" light>
                      <v-icon small color="secondary darken-2">mdi-account</v-icon> 
                      <strong>{{ instance.nbUserGlobal }} {{ $vuetify.lang.t('$vuetify.main.users') }}</strong> 
                    </v-chip><br><br>

                    <v-btn color="blue" small style="width:100%" @click="saveBaseUrl(instance)">
                        <v-icon>mdi-check</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.selectNode.selectThisServer') }} 
                    </v-btn>
                    </l-popup>
                </l-marker>
            </l-map>

            <v-list class="mt-0" style="border-radius:0;">            
                <v-list-item-group clickable color="primary">
                    <v-list-item
                    v-for="(item, i) in network"
                    :key="i"
                    :value="item.uid"
                    v-model="instanceInit"
                    @click="saveBaseUrl(item)"
                    >
                        <v-list-item-icon>
                            <v-icon>mdi-spider-web</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title style="font-weight:200; font-size:18px" 
                                                v-text="item.name">
                            </v-list-item-title>
                            <small><small style="font-weight:200">
                              {{ item.url }}:{{ item.port }}
                            </small></small>
                            <small><small style="font-weight:200">
                                {{ item.nbUsers }} 
                                {{ $vuetify.lang.t('$vuetify.main.users') }} 
                                - {{ item.city }} <span v-if="item.state">-</span> {{ item.state }}
                            </small></small>
                        </v-list-item-content>

                    </v-list-item>

                </v-list-item-group>
            </v-list>
        </v-col>
          
      </v-card>

    </v-col>
  </v-col>
</v-row>
</div>
</template>

<style></style>

<script>

import axios from 'axios'
import router from '../router/router'
import Header from '@/components/home/Header.vue'

import L from 'leaflet';
import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet'
//import core from '../plugins/core.js'

export default {
  name: 'home',
  components: { Header, LMap, LTileLayer, LMarker, LPopup },
  data:() => ({
    
    showEnterNetwork: false,
    isOnNetwork: false,
    cityFindNode: '',
    loadPlaces: false,
    networkInited: false,
    instanceInit: null,
    places: [],
    zoom:5,
    mapCenter: L.latLng(47.413220, -1.219482),
    //url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
    //attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
    popupContent: "ok",
    errorMsg: ""
  }),
  async mounted(){
    if(localStorage.getItem("iname") != null){
        this.isOnNetwork = true
        this.currentNodeName = localStorage.getItem("iname")
    }
      
      delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
      })
      
  },
  methods: {
    async initNetwork(){
      try{
        this.scrollBottom()
         axios.get('/instance/get-network')
              .then( res => {
                  console.log("res /instance/get-network", res)
                  this.network = res.data.network
                  localStorage.setItem("network", JSON.stringify(this.network))
                  this.networkInited = true
        
              }).catch(res =>{
                console.log("error /instance/get-network", res)
              })
      }catch(e){
        console.log("error /user/profil", e)
        //router.push('/');
      }
    },
    searchPlace: async function(){
        try{
         let query = this.cityFindNode
         this.loadPlaces = true
         axios.get('https://nominatim.openstreetmap.org/search?q=' 
                    + query + "&format=json&addressdetails=1")
              .then( res => {
                  this.places = []
                  if(res.data.length == 0) return

                  console.log("res nominatim", query, this.places)
                  this.loadPlaces = false
                  res.data.forEach(el => {
                    if(this.places.length < 4)
                    //if(el.type == "city" || el.type == "administrative" || el.type == "postcode"){
                       this.places.push({ text : el.display_name,
                                          lat: el.lat,
                                          lng: el.lon, })
                    //}
                  });
                  this.scrollBottom()
              }).catch(res =>{ console.log("error 1 nominatim", res) })
      }catch(e){
        console.log("error 2 nominatim", e)
      }
    },
    async findNode(lat, lng){
      try{
        axios.post('/instance/find-closest-node', { lat: lat, lng: lng })
              .then( res => {
                  console.log("res /instance/find-closest-node", res.data)
                  if(res.data.node != false)
                    this.saveBaseUrl(res.data.node)
                  else
                    this.errorMsg = "Une erreur est survenue."
              }).catch(res =>{
                  console.log("error /instance/find-closest-node", res)
                  this.errorMsg = "Une erreur est survenue."
              })
      }catch(e){
        console.log("error /user/profil", e)
        //router.push('/');
      }
    },

    async saveBaseUrl(item){
      console.log("this.instanceInit", item.city, item.country)
      this.initNetwork()
      
      await localStorage.setItem("baseUrl", item.url+":"+item.port)
      await localStorage.setItem("url", item.url)
      await localStorage.setItem("port", item.port)
      await localStorage.setItem("portSocket", item.portSocket)
      await localStorage.setItem("iname", item.name)
      await localStorage.setItem("iLocation", item.city)

      axios.defaults.baseURL = item.url+":"+item.port
      this.$root.$emit('setBaseUrl', item.url+":"+item.port, item.name);
      router.push('/register');
    },
    
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight
      }, 1)
    },
    back: function(){ router.back() }
  },
}
</script>
