<template>
    <div>
        <v-row class="d-flex" id="singlePost">
            <v-col v-if="singlePost!=null">
                <Post :post="singlePost" origin="singlePost"></Post>
            </v-col>
        </v-row>
    </div>
</template>

<style>
    #singlePost{
        padding-bottom:100px;
    }
</style>

<script>

 import axios from 'axios'
// import router from '../router/router'

import Post from '@/components/Post.vue'

export default {
  name: 'home',
  components: { Post },
  data:() => ({
      postUid: null,
      singlePost: null /*{ text: "", signed: {}, 
                    comments: [], likes: [], dislikes: [], favorites: [], }*/,
  }),
  async mounted(){
      this.postUid = this.$route.params.postUid
      this.loadPost()
  },
  methods: {
      loadPost: async function(){
        this.stream = []
        this.streamLoading=true
        const res = await axios.post('/publication/get-post', 
                                      { postUid: this.postUid })
        this.singlePost = res.data.singlePost
        console.log("res /publication/get-post", this.singlePost)
      },
     
  },
}
</script>
