<template>
<div>
<v-row class="d-flex">

  <v-col cols="12" md="5" sm="8" class="mx-auto">
    <v-card class="mx-auto">
      <v-col cols="12" class="text-center">
        <img alt="UNI" src="../assets/nexxo-logo.png" height=130><br>
      <img alt="NEXXO" src="../assets/nexxo-logo-6.png" height=30>
        
        <!-- <h1>NEXXO</h1> -->
        <h5>Newsstream</h5>
       
      </v-col>
    </v-card>
  </v-col>

</v-row>
</div>
</template>

<script>

// import axios from 'axios'
// import router from '../router/router'

export default {
  name: 'home',
  components: {
  },
  data:() => ({
      
  }),
  async mounted(){
      
  },
  methods: {
      
   
  },
  computed: {
      
      
  },
}
</script>
