<template>
<div>

    <div style="position:absolute;right:20px;top:20px;">
      <v-btn icon>
        <img  @click="changeLocale('fr')" src="../../assets/flag/fr.png" height="20">
      </v-btn>
      <v-btn icon>
        <img  @click="changeLocale('en')" src="../../assets/flag/en.png" height="20">
      </v-btn>
    </div>
    
    <v-col cols="12" class="mx-auto text-center mt-5">
      
      <!-- <router-link to="/">
        <img alt="Plaanet" src="../../assets/nexxo-logo.png" height=80>
        <v-badge class="primary--text">{{ nodeName }}</v-badge>
      </router-link> -->

      <v-badge avatar bordered transition="none" class="badge-logo">
        <template v-slot:badge  v-if="nodeName!=''">
          {{ nodeName }}
        </template>

        <router-link to="/">
        <v-avatar size="120">
          <img alt="Plaanet" src="../../assets/nexxo-logo.png" height=120>
        </v-avatar>
        </router-link>
      </v-badge>


      <h2 class="font-konkretika">Plaanet</h2>
      
      <h5 v-if="$vuetify.lang.current == 'en'">
        <span style="color:grey;text-decoration: line-through;"><i>Social</i></span> 
        Rebel Network
      </h5>
      <h5 v-if="$vuetify.lang.current == 'fr'">
        Réseau 
        <span style="color:grey;text-decoration: line-through;"><i>Social</i></span> 
        Rebelle
      </h5>

      <br v-if="isHome!=true">

      <v-btn v-if="isHome!=true" color="blue" rounded small @click="back" class="pl-1">
        <v-icon>mdi-chevron-left</v-icon> 
        {{ $vuetify.lang.t('$vuetify.main.back') }}
      </v-btn> 

    </v-col>
</div>
</template>
<style>

  span.badge-logo > span.primary{
    margin-right:-15%;
    font-size:0.7em;
    opacity:0.7;
    margin-top:30px;
    background-color: #1c4367!important;
  }
</style>
<script>

import router from '../../router/router'
import config from '../../config/default'

export default {
  name: 'home-header',
  props: [ 'isHome' ],
  data:() => ({
    nodeName: ""
  }),
  async mounted(){
      this.nodeName = config.node_name
  },
  methods: {
    back: function(){ router.back() },
    
    changeLocale (lang) {
      if(lang!=null) this.local = lang
      this.$vuetify.lang.current = this.local
      localStorage.setItem("lang", this.local)
      console.log("locale", this.local)
    },
  },
}
</script>