<template>
  <div v-if="isLogin && context != null">
    <!-- MENU LEFT -->
    <v-navigation-drawer id="left-drawer" v-model="drawer" 
                         app color="grey darken-4">
          
      
      <!-- <img alt="NEXXO" src="../../assets/nexxo-logo-complet.png" height=50 style="margin:15px 0 0 10px"> -->
      <img alt="NEXXO" src="../../assets/nexxo-logo.png" 
          height=40 style="margin-bottom: -12px;" class="mt-4 ml-5">
      <span style="font-size:1.4em;" class=" font-konkretika">
         Plaanet
      </span>
      <br><br>
          
      <v-list>
        <!-- <v-btn @click="$root.$emit('updateContext')">refresh context</v-btn> -->
          <v-list-item color="primary" small link :to="'/page/'+ userPageUid" v-if="isLogin" class="px-2">
            <v-list-item-avatar width="30" height="30" class="pa-0 mr-2">
              <img v-if="avatarUrl!=''" :src="avatarUrl">
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ username }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- <v-divider></v-divider> -->
          
          <v-list-item color="primary" small link :to="'/stream'" v-if="isLogin" @click="$root.$emit('loadStream');">
            <v-list-item-action>
              <v-icon>mdi-newspaper-variant-multiple</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.Stream') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
 
          <!-- <v-divider></v-divider> -->

          <v-list-item color="primary" small link :to="'/map'" v-if="isLogin" @click="$root.$emit('loadPages');">
            <v-list-item-action>
              <v-icon>mdi-magnify</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.searchContact') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- <v-divider></v-divider> -->

          <v-list-item color="primary" small link :to="'/createPage'" v-if="isLogin">
            <v-list-item-action>
              <v-icon>mdi-card-plus-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.CreatePage') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- <v-divider></v-divider> -->

          <v-list-item color="primary" small link :to="'/list/my-pages'" v-if="isLogin" class="">
            <v-list-item-action>
              <v-icon>mdi-certificate-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <v-badge color="darkblock lighten-1">
                  {{ $vuetify.lang.t('$vuetify.menu.MyPages') }}
                  <span slot="badge" v-if="myPages.length > 1"
                  style="font-weight:800">{{ myPages.length-1 }}</span>
                </v-badge>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>


            <PageList v-if="myPages!=null && myPages.length > 1" :pageList="myPages" 
                      :userPageUid="userPageUid"></PageList>
             
          <!-- <v-divider></v-divider> -->
          
          <v-list-item color="primary" small link :to="'/list/follows'" v-if="isLogin" class="">
            <v-list-item-action>
              <v-icon>mdi-link-variant</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <v-badge color="darkblock lighten-1">
                  {{ $vuetify.lang.t('$vuetify.menu.MyFollows') }}
                  <span slot="badge" v-if="follows.length > 0"
                  style="font-weight:800">{{ follows.length }}</span>
                </v-badge>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

            <PageList v-if="follows!=null && follows.length > 0" :pageList="follows" 
                      :userPageUid="userPageUid"></PageList>
              

          <!-- <v-divider></v-divider> -->

          <v-list-item color="primary" link :to="'/list/contacts'" v-if="isLogin" class="">
            <v-list-item-action>
              <v-icon>mdi-clipboard-account</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <v-badge color="darkblock lighten-1">
                  {{ $vuetify.lang.t('$vuetify.menu.MyContacts') }}
                  <span slot="badge" v-if="contacts.length > 0"
                  style="font-weight:800">{{ contacts.length }}</span>
                </v-badge>
                </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

              <PageList v-if="contacts!=null && contacts.length > 0" :pageList="contacts" 
                      :userPageUid="userPageUid"></PageList>
          
          <!-- <v-divider></v-divider> -->

          <v-list-item color="primary" small link :to="'/list/blacklist'" v-if="isLogin" class="">
            <v-list-item-action>
              <v-icon>mdi-scissors-cutting</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                
                <v-badge color="darkblock lighten-1">
                  {{ $vuetify.lang.t('$vuetify.menu.Blacklist') }}
                  <span slot="badge" v-if="blacklist.length > 0"
                  style="font-weight:800">{{ blacklist.length }}</span>
                </v-badge>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          

              <PageList v-if="blacklist!=null && blacklist.length > 0" :pageList="blacklist" 
                      :userPageUid="userPageUid"></PageList>
          
          <v-list-item color="primary" small link :to="'/home'" v-if="!isLogin">
            <v-list-item-action>
              <v-icon>mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.HomePage') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>


          <!-- <v-list-item color="primary" small link @click="randomize" v-if="isLogin" class="">
            <v-list-item-action>
              <v-icon>mdi-account</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>                
               Randomize
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item> -->
          

          <!-- <v-divider></v-divider> -->


          <v-list-item color="primary" 
                        small link to="/status">
            <v-list-item-action>
              <v-icon>mdi-chart-line</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>État du réseau</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- <v-list-item color="primary" 
                        v-if="context.user.isAdmin == true" 
                        small link to="/admin">
            <v-list-item-action>
              <v-icon>mdi-account-cowboy-hat</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Admin</v-list-item-title>
            </v-list-item-content>
          </v-list-item> -->

          <v-list-item color="primary" small link to="/logout" @click="logout">
            <v-list-item-action>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.menu.Logout') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- <v-divider></v-divider> -->
          
          <v-select :items="['fr', 'en']" solo class="pa-3"
                    v-model="local" @change="changeLocale()">
          </v-select>

           
      </v-list>
    </v-navigation-drawer>

    <!-- TOP BAR -->
    <v-app-bar app color="grey darken-4" dark class="toolbar-slider">
        <v-btn icon @click.stop="toggleLeftDrawer" class="main-icon-top-menu">
          <img alt="NEXXO" src="../../assets/nexxo-logo.png" height=40>
        </v-btn>
        <!-- <v-btn class="main-icon-top-menu" icon><v-icon>mdi-menu</v-icon></v-btn> -->
        <v-bottom-navigation id="top-bar-nav" grow>
            <v-btn class="hover-blue" value="local" to="/map">
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.menu.Home') }}</span>
                <v-icon>mdi-home</v-icon>
            </v-btn>

            <v-btn class="hover-blue" value="local" to="/private">
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.menu.PrivateMessaging') }}</span>
                  <v-badge style=""
                    color="secondary"
                    content="0"
                  >
                  <v-icon>mdi-comment</v-icon>
                  <span slot="badge" v-if="nbPrivateMsg > 0"
                  style="font-weight:800">{{ nbPrivateMsg }}</span>
                </v-badge>
            </v-btn>

            <v-btn class="hover-yellow btn-notif" value="favorites" @click="showNotif()">
                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.menu.Notif') }}</span> 
                <v-badge style=""
                  color="secondary"
                  content="0"
                >
                  <v-icon>mdi-bell</v-icon>
                  <span slot="badge" v-if="nbNotifications > 0"
                  style="font-weight:800">{{ nbNotifications }}</span>
                </v-badge>
            </v-btn>

            <v-btn class="hover-red" value="follows" :to="'/page/'+ userPageUid">
                <span class="d-none d-sm-flex">{{ username }}</span>
                <v-img class="d-flex d-sm-none" style="margin-top:-5px;" :src="avatarUrl" circle :maxHeight="30" :maxWidth="30"></v-img>
                <v-img class="d-none d-sm-flex" :src="avatarUrl" circle :maxHeight="28" :maxWidth="28"></v-img>
            </v-btn>
        </v-bottom-navigation>
        
    </v-app-bar>
  </div>
</template>

<style>

  .v-navigation-drawer__content .v-divider{
    margin-bottom:0px;
  }
  .icon-top-menu{
    margin: 0 0px 0 0px
  }
  .main-icon-top-menu{
    margin-left:0px!important;
    margin-right:5px;
  }
  .toolbar-slider,
  .toolbar-slider .v-tabs-bar{
    background-color: transparent!important;
  }

  .toolbar-slider .v-tabs-slider-wrapper{
    min-width:unset !important;
    width:unset !important;
  }
  .toolbar-slider .v-tab{
    min-width:unset !important;
    width:unset !important;
  }
  .v-toolbar__content, .v-toolbar__extension {
      padding: 0px 0px 0px 5px!important;
  }
  #top-bar-nav{
    margin:0 55px 0 0;
    background-color:transparent;
    box-shadow: none;
  }
  #left-drawer .v-list-item{
    min-height:40px !important;
    font-size: 18px;
    border-top:1px solid #2f2f2f;
  }
  #left-drawer .v-list-item--active{
    border-top:1px solid transparent;
    color:white!important;
  }
  #left-drawer .v-list-item--link::before{
    background-color:#0097a7!important;
  }
  
  #left-drawer .v-list-item .v-list-item__action{
    margin: 0px;
    margin-right: 10px !important;
  }
  #left-drawer .v-list-item .v-list-item__title{
    font-size:0.9em;
  }
  #left-drawer .v-list-item__content{

  }
  #left-drawer .v-badge span.v-badge__badge{
    top: 0px;
    padding: 0 4px;
    height: 18px;
    width: unset;
    max-width: 45px;
    min-width: 18px;
    font-size: 13px;
    right: -30px;
  }
  #left-drawer .v-badge{
    margin-top: 0px;
  }

@media (min-width: 600px){
  .btn-notif .v-badge__badge{
    margin-top:7px;
  }
 }
@media (max-width: 600px){
  #top-bar-nav{
    margin:0;
  }
  #top-bar-nav .v-btn{
    padding: 0 8px!important;
    min-width: unset !important;
  }
  #top-bar-nav.v-item-group.v-bottom-navigation .v-btn .v-btn__content .v-icon {
    margin-bottom: 0px!important;
  }
}
</style>
<script>

import axios from 'axios'
import core from '../../plugins/core.js'
import router from '../../router/router'
import config from '../../config/default'

import PageList from '@/components/main-layout/PageList.vue'

export default {
  name: 'menu-left',
  props: ['notifications', 'context'],
  components: { PageList },
  data: () => ({
    drawer: true,
    isLogin: false,
    user: {},
    userPage: null,
    username: '',
    userPageUid: '',
    avatarUrl: '',
    isAdmin: false,
    baseUrl: null,
    local: 'fr',
    itemsDrawer: [
      //{ name: 'Stream',       to: '/map',       icon: 'mdi-newspaper-variant-multiple'    , login: true },
      { name: 'CreatePage',  to: '/createPage',icon: 'mdi-card-plus-outline'             , login: true},
      { name: 'MyPages',     to: '/myPages',   icon: 'mdi-certificate-outline'           , login: true},
      { name: 'MyFollows',   to: '/follows',   icon: 'mdi-link-variant'                  , login: true},
      { name: 'MyContacts',  to: '/contacts',  icon: 'mdi-clipboard-account'             , login: true},
      { name: 'Blacklist',   to: '/blacklist', icon: 'mdi-scissors-cutting'              , login: true },
      { name: 'HomePage',    to: '/',          icon: 'mdi-home'                          , login: false},
    ]
  }),
  
  mounted: async function(){

    this.username = localStorage.getItem("user_name")
    this.userPageUid = localStorage.getItem("user_page_uid")
    this.baseUrl = localStorage.getItem("baseUrl")
    this.baseUrl = (this.baseUrl == null || this.baseUrl == "") ? config.root_node.url + ":" + config.root_node.port : this.baseUrl
    
    axios.defaults.baseURL = this.baseUrl 
    localStorage.setItem("baseUrl", this.baseUrl)
   

    if(localStorage.getItem('access_token') != null){
      this.updateDataProfile()
    }else{
       router.push('/');
    }
    
    this.$root.$on('isLoginEvent', (bool, user) => {  
      console.log("isLoginEvent", bool)
      this.isLogin = bool;
      if(user != null) this.user = user;
      this.username = localStorage.getItem("user_name")
      this.avatarUrl = localStorage.getItem('avatarUrl')
      this.userPageUid = localStorage.getItem("user_page_uid")
      this.$root.$emit('updateContext')
    })


    this.$root.$on('changeAvatar', (avatarUrl, pageUid) => { 
      console.log('changeAvatar', avatarUrl)
      if(pageUid == this.userPageUid)
        this.avatarUrl = avatarUrl;
    })
    
  },
  
  methods: {
    logout(){
      //this.initNetwork()
      
      localStorage.removeItem('access_token')
      localStorage.removeItem('user_name')
      localStorage.removeItem('user_id')
      localStorage.removeItem('user_page_uid')
      localStorage.removeItem('avatarUrl')
      localStorage.removeItem('currentPosition')
      localStorage.removeItem('user_pages')

      this.isLogin = false
      this.user = {}
      this.isAdmin = false
      this.username = ""
      this.avatarUrl = ""

      this.$root.$emit("logout")

      router.push('/');
    },

    async initNetwork(){
      try{
        axios.get('/instance/get-network')
              .then( res => {
                  console.log("res /instance/get-network", res)
                  localStorage.setItem("network", JSON.stringify(this.network))
              }).catch(res =>{
                console.log("error /instance/get-network", res)
              })
      }catch(e){
        console.log("error /user/profil", e)
        //router.push('/');
      }
    },

    async updateDataProfile(){

      this.user = this.context.user
      this.userPage = this.context.userPage
      this.isAdmin = this.context.user.isAdmin
      this.avatarUrl = core.avatarUrl(this.context.userPage.uid) //localStorage.getItem('avatarUrl')
      this.isLogin = (localStorage.getItem('access_token') == null) ? false : true
      
    },

    async randomize(){
      try{
        await axios.post('/instance/randomize')
                        .then(res => {
                            console.log("res /instance/randomize", res)
                        }).catch( res => { console.log("error login", res)
                            
                        })
      }catch(e){
        console.log("error login", e)
        router.push('/');
      }
    },
    showFormEditPost(bool){
      console.log("showFormEditPost 1")
      this.$root.$emit('showFormEditPost', bool);
      
    },
    showMap(){
      console.log("showMap 1")
      this.$root.$emit('showMap');
    },
    showStream(){
      console.log("showStream 1")
      this.$root.$emit('showStream');
    },
    showToolbarContent(){
      console.log("showToolbarContent 1")
      this.$root.$emit('showToolbarContent', true);

    },
    showNotif(){
      this.$root.$emit('showNotifDrawer', true);
    },
    toggleLeftDrawer(){
      this.drawer = !this.drawer
      this.$root.$emit('toggleLeftDrawer', this.drawer);
    },
    changeLocale () {
      this.$vuetify.lang.current = this.local
      localStorage.setItem("lang", this.local)
    },
    iName: function(pageUid){
      return core.iName(pageUid)
    },
    avatarUrl2: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    
  },
  
  computed: {
    follows : function(){
      return this.context.userPage.follows
    },
    contacts : function(){
      return this.context.userPage.contacts
    },
    blacklist : function(){
      return this.context.userPage.blacklist
    },
    myPages : function(){
      return this.context.user.pages
    },
    nbNotifications : function(){
      let nb = 0
      this.notifications.forEach((notif)=>{
        if(notif.updated > this.context.userPage.dateReadNotif && notif.verb != 'NEW_PRIVATE_MSG') nb++
      console.log("context.dateReadNotif", notif, this.context.userPage.dateReadNotif)
      })
      return nb
    },
    nbPrivateMsg : function(){
      let nb = 0
      this.notifications.forEach((notif)=>{
        if(notif.updated > this.context.userPage.dateReadPrivate && notif.verb == 'NEW_PRIVATE_MSG') nb++
      console.log("context.dateReadPrivate", notif, this.context.userPage.dateReadPrivate)
      })
      return nb
    },
  },
  watch: {
    isLogin: {
        // the callback will be called immediately after the start of the observation
        immediate: true, 
        handler (val, oldVal) {
            console.log("watch isLogin", val, oldVal)
            this.isLogin = val
            if(val ==true){
                this.updateDataProfile()
            }
        }
    }
  },
  
};
</script>
