<template>
<!--     
  <v-col>
    <Comment :comment="notifComment" origin="post" 
              postOrigin="stream" :showAllComments="true"
              :nbTotalComments="0"></Comment>
  </v-col> -->
<div class="notif-wrapper">
  <v-col class="pa-0" v-if="notification.verb == 'COMMENT'">
    <NotifComment :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'LIKES' || notification.verb == 'DISLIKES'">
    <NotifLikePost :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'VIEWERS'">
    <NotifViewers :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'EMOJI'">
    <NotifEmoji :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'FAVORITES'">
    <NotifFavorites :notification="notification"/>
  </v-col>
  <v-col class="pa-0" v-if="notification.verb == 'NEW_PRIVATE_MSG'">
    <NotifNewMsg :notification="notification"/>
  </v-col>
</div>
</template>

<style>
  .avatar-notif{
    margin-right:7px!important;
    margin-left:7px!important;
    height:30px;
    min-width:30px!important;
    width:30px;
  }

  .notif-wrapper{
    border: 1px solid #344a55 !important;
  }
  .notif-wrapper .v-list-item:hover{
    background-color: #111517 !important;
  }

  .notif-wrapper .v-list-item__title{
    line-height:1.4;
  }
  
</style>

<script>
import NotifComment from '@/components/notifications/NotifComment.vue'
import NotifLikePost from '@/components/notifications/NotifLikePost.vue'
import NotifViewers from '@/components/notifications/NotifViewers.vue'
import NotifEmoji from '@/components/notifications/NotifEmoji.vue'
import NotifFavorites from '@/components/notifications/NotifFavorites.vue'
import NotifNewMsg from '@/components/notifications/NotifNewMsg.vue'

export default {
  name: 'menu-left',
  props: ['notification'],
  components: { NotifComment, NotifLikePost, NotifViewers, NotifEmoji, NotifFavorites, NotifNewMsg },
  data: () => ({

  }),
  
  mounted: async function(){

  },
  methods: {
    
  },
  computed: {
    
  },
  
  
};
</script>
