<template>
    <v-col class="py-0 mb-5">
        <template v-for="(page, i) in pageList">

            <div class="pb-1 menu-page" :key="i" v-if="page.uid != userPageUid && pageList.length < 5" 
                 :id="currentRoute == '/page/'+page.uid ? 'menu-page-selected' : ''">
                  <router-link  :to="'/page/'+page.uid"
                              style="color:white;text-decoration:none;line-height: 1.7;">
                    <img v-if="i < 30" :key="i" :title="page.name"
                        :src="avatarUrl2(page.uid)" width="22" 
                        class="ma-1 mr-2" style="margin-bottom:-7px!important"/>
                    <small>{{ page.name }}<br></small>
                  </router-link>
            </div>

             <div class="pb-1 d-inline page-only-avatar" :key="i"  
                  v-if="page.uid != userPageUid && pageList.length >= 5"
                  :id="currentRoute == '/page/'+page.uid ? 'menu-page-selected' : ''">
                  <router-link  :to="'/page/'+page.uid"
                                style="color:white;text-decoration:none;line-height: 1.7;">
                    <img v-if="i < 30" :title="page.name"
                        :src="avatarUrl2(page.uid)" width="22" 
                        class="ma-1 mr-1" style="margin-bottom:-7px!important"/>
                    <small v-if="pageList.length < 5">{{ page.name }}<br></small>
                  </router-link>
             </div>
          
        </template>
    </v-col>
</template>

<style>
  #menu-page-selected, .menu-page:hover, .page-only-avatar:hover{
    background-color: #193d41;
    border-radius:30px;
    margin-top:2px!important;
  }
  .menu-page{
    margin-top:2px!important;
  }

  .menu-page{
    max-width:90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .page-only-avatar{
    width: 30px;
    margin-right:1px;
    margin-top:2px!important;
  }
</style>

<script>

import core from '../../plugins/core.js'
export default {
  name: 'page-list',
  props: ['pageList', 'userPageUid'],
  
  
  methods: {
    
    avatarUrl2: function(pageUid){
      return core.avatarUrl(pageUid)
    },
  },
  computed: {
    currentRoute : function(){
      return this.$route.path
    }
  }
    
}

</script>