<template>
<div>
<v-list-item 
    style="padding-left:0px;padding-right:10px;"
    :v-model="comment"
    v-if="showAllComments == true ||  
          ((index > (nbTotalComments - 4) && postOrigin!='singlePost') ||
           (index > (nbTotalComments - 10) && postOrigin=='singlePost'))
            && commentObj != null">
    
    <v-list-item-avatar class="pa-0 avatar-comment">
        <v-img :src="avatarUrl(comment.author.uid)"></v-img>
    </v-list-item-avatar>

    <v-list-item-content :class="'lbl-comment ' + classColorComment">

        <v-list-item-title class="lbl-name-comment">
            <router-link :to="'/page/'+comment.author.uid">{{ comment.author.name }}</router-link> 
        </v-list-item-title>

        <v-list-item-title class="lbl-name-comment text-right" 
                            style="color:grey; position:absolute; right:20px; top:5px">
            <small style="margin-left:5px">
                2h ago
                <v-btn x-small icon v-if="isAuthorComment || isAuthorPost" @click="showBtnEdit=!showBtnEdit">
                    <v-icon color="grey">mdi-dots-horizontal</v-icon>
                </v-btn>
            </small>
        </v-list-item-title>

        <p class="lbl-text-comment" v-show="!showEditComment" 
                            v-html="completeText(comment.text)">
        </p> 
        

        <v-col v-show="showEditComment==true" v-if="isAuthorComment">
            <v-textarea filled dense v-model="commentObj.text" 
                        style="font-size:14px;font-weight:200"></v-textarea>
            <v-row>
                <v-col cols="6">
                    <v-btn block small color="grey" @click="showEditComment=false">
                        <v-icon small>mdi-cancel</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                    </v-btn>
                </v-col>
                <v-col cols="6">
                    <v-btn block small color="secondary" @click="saveEditComment()">
                    <v-icon small>mdi-content-save-move-outline</v-icon> 
                    {{ $vuetify.lang.t('$vuetify.main.save') }}
                </v-btn>
                </v-col>
            </v-row>
        </v-col>

        <v-col v-show="showDeleteComment==true" v-if="isAuthorComment || isAuthorPost">
            <v-card>
                <v-col>
                    <v-row>
                        <v-col>{{ $vuetify.lang.t('$vuetify.comment.dyw_delete_comment') }} ?</v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="deleteComment()">
                                <v-icon small>mdi-delete</v-icon> 
                                {{ $vuetify.lang.t('$vuetify.main.delete') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="grey" @click="showDeleteComment=false">
                                <v-icon small>mdi-cancel</v-icon> 
                                {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>


        <p class="lbl-text-comment" style="margin-top:5px;">
                <v-btn text rounded small class="btn-emojis" v-show="emo.users.length > 0"
                        @click="sendEmoji(emo.name)" :color="iAmEmo(emo.users)"
                        style="margin-right:0px;background:transparent;padding:1px 3px 1px 3px; min-width: 45px;" 
                        v-for="(emo, i) in commentObj.emojis" :key="i">
                    {{ emo.users.length }} 
                    <v-icon small style="margin-left:3px">
                        mdi-{{ emo.name }}
                    </v-icon>
                </v-btn>
        </p>

        <v-btn text x-small color="grey" class="pa-0"
            style="margin-top:5px; text-transform:none; justify-content:left;"
            v-show="commentObj.answers[0] != null"
            @click="showAllAnswers=!showAllAnswers">
                <v-icon x-small v-show="showAllAnswers==false">mdi-chevron-down</v-icon> 
                <v-icon x-small v-show="showAllAnswers==true">mdi-chevron-up</v-icon> 
                {{ commentObj.answers.length }} {{ $vuetify.lang.t('$vuetify.comment.answers') }}...
        </v-btn>

        <v-list three-line style="width: 100%;" 
                v-if="commentObj.answers[0] != null && showAllAnswers==true">
            
            <template v-for="(com, i) in commentObj.answers">
                <Comment :comment="com" origin="comment" 
                         :key="i"  :index="i" :parentPostUid="parentPostUid"
                         :parentCommentId="comment._id"
                         :nbTotalComments="commentObj.answers.length"
                         :showAllComments="showAllAnswers"></Comment>
            </template>

            <v-skeleton-loader ref="skeleton"
                :boilerplate="false"
                type="list-item-avatar-three-line"
                :tile="false"
                class="mx-auto"
                v-show="newCommentLoading"
            ></v-skeleton-loader>
        </v-list>


        <div style="right:15px; bottom:5px; position:absolute;" class="tools-comments">
            
            <!-- <v-expand-transition> -->
                <v-btn color="red" icon small @click="showDeleteComment=!showDeleteComment"
                    style="margin-right:5px" v-if="(isAuthorComment || isAuthorPost) && showBtnEdit">
                        <v-icon small>mdi-delete</v-icon>
                </v-btn>
            <!-- </v-expand-transition> -->
            <!-- <v-expand-transition> -->
                <v-btn color="blue" icon small 
                        style="margin-right:5px" v-if="isAuthorComment && showBtnEdit"
                        @click="showEditComment=!showEditComment"
                    >
                        <v-icon small>mdi-pencil</v-icon>
                </v-btn>
            <!-- </v-expand-transition> -->

            <v-btn color="grey" icon small @click="showEmojis=!showEmojis"
                style="margin-right:5px">
                    <v-icon small>mdi-sticker-emoji</v-icon>
            </v-btn>
            <v-btn color="grey" v-if="origin=='post'" icon small 
                    @click="showInputAnswer=!showInputAnswer"
                >
                    <v-icon small>mdi-comment</v-icon>
            </v-btn>
        </div>

        <!-- <v-expand-transition> -->
            <v-row id="input-comment" style="margin: 15px 0 0 0px;" v-show="showInputAnswer">
                <v-textarea :class="'input-comment ' + (commentOpen?'focus':'')" @click="commentOpen=true"
                        :counter="answerStr.length > 450" auto-grow outlined clearable :rules="rulesTxtareaEditComment"
                        :label="$vuetify.lang.t('$vuetify.comment.yourAnswer') + '...'" v-model="answerStr" @change="cleanClearComment">
                </v-textarea>
                <v-btn icon style="margin:2px 5px 0 5px;" @click="sendAnswer" :disabled="answerStr==''">
                    <v-icon large>mdi-send-circle</v-icon>
                </v-btn>
            </v-row>
        <!-- </v-expand-transition> -->

        <!-- <v-expand-transition> -->
            <v-row v-show="showEmojis" class="toolbar-emojis" style="margin: 15px 0 0 0px;">
                <v-col class="text-center pa-0">
                <v-btn icon small v-for="(emo, i) in emojis" :key="i" @click="sendEmoji(emo.icon)">
                    <v-icon>mdi-{{ emo.icon }}</v-icon>
                </v-btn>
                </v-col>
            </v-row>
        <!-- </v-expand-transition> -->

    </v-list-item-content>
</v-list-item>   

<v-snackbar v-model="snackbar">
    {{ snackbarText }}
    <v-btn color="red" text @click="snackbar = false">Close</v-btn>
</v-snackbar>

</div>


</template>

<style>
</style>

<script>

import axios from 'axios'
import core from '../plugins/core.js'
//import router from '../router/router'
//import Comment from '@/components/Comment.vue'

export default {
  name: 'Comment',
  components: { Comment },
  props: ['comment', 'origin', 'index', 'nbTotalComments', 
          'showAllComments', 'postOrigin', 'parentPostSignedUid', 'parentPostUid',
          'parentCommentId'],
  data:() => ({
      commentOpen: false,
      answerStr: '',
      commentObj: { 'emojis':[], 'answers':[] },
      showInputAnswer: false,
      newCommentLoading: false,
      rulesTxtareaEditComment: [v => v.length <= 500 || 'Max 500 characters'],
      showAnswers: false,
      showEmojis: false,
      showAllAnswers: false,
      showBtnEdit: false,
      showEditComment: false,
      showDeleteComment: false,
      snackbarText: '',
      snackbar: false,
      classColorComment: '',
      emojis: [
          { icon: 'thumb-up' },
          { icon: 'emoticon-lol' },
          { icon: 'emoticon-kiss' },
          { icon: 'emoticon-cool' },
          { icon: 'emoticon-tongue' },
          { icon: 'emoticon-excited' },
          { icon: 'emoticon-cry' },
          { icon: 'emoticon-devil' },
          { icon: 'thumb-down' },
          
      ]
  }),
  mounted: function(){
     this.commentObj = this.comment
     this.commentObj.emojis = this.comment.emojis

     if(this.commentObj.new == true){
         this.classColorComment = "new-com"
         setTimeout(()=>{
             this.classColorComment = ""
             this.commentObj.new = false
         },4000)
     }
  },
  methods: {
      cleanClearComment: function(){
          if(this.answerStr==null) this.answerStr=''
      },
      nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
      sendEmoji: async function(emoji){
          console.log("sendEmoji", this.comment._id, this.parentCommentId)
          this.newCommentLoading = true
          const res = await axios.post('/comment/send-emoji', 
                                    {   emoji: emoji, 
                                        postUid: this.parentPostUid, 
                                        parentCommentId: this.parentCommentId,
                                        commentId: this.comment._id })

          console.log("res /comment/send-emoji", res.data)
          if(res.data.error == false){
              this.newCommentLoading = false
              this.commentStr = ""
              this.commentObj.emojis = res.data.comment.emojis
          }
            
      },
      sendAnswer: async function(){
          console.log("sendAnswer", this.comment._id)
          if(this.answerStr.trim() == ""){
              this.snackbarText = "Hey, your message is empty !"
              this.snackbar = true
              return
          }

          this.newCommentLoading = true
          const res = await axios.post('/comment/send-comment', 
                                    {   commentStr: this.answerStr, 
                                        postUid: this.parentPostUid, 
                                        parentCommentId: this.comment._id })

          console.log("res /comment/send-comment1", res.data.newComment)
          console.log("res /comment/send-comment2", this.comment.answers)
          if(res.data.error == false){
              this.newCommentLoading = false
              this.answerStr = ""
              this.commentObj.answers.push(res.data.newComment)
              this.showAllAnswers = true
          }else{
              this.snackbarText = "Sorry, an error occured."
              this.snackbar = true
          }
      },
      saveEditComment: async function(){
        console.log("saveEditComment", this.comment._id, this.commentObj.text)
        const res = await axios.post('/comment/edit-comment', { 
                                        commentId: this.comment._id,
                                        text: this.commentObj.text
                                    })
                                    
        if(res.data.error == false){
            this.commentObj.text = res.data.commentText
            this.showEditComment = false
        }
        console.log("res /publication/edit-comment", res.data)
      },
      deleteComment: async function(){
        console.log("deleteComment")
        const res = await axios.post('/comment/delete-comment', { 
                                        commentId: this.comment._id
                                    })
                                    
        if(res.data.error == false){
            this.commentObj = null
            this.showDeleteComment = false
        }
        console.log("res /publication/delete-comment", res.data)
      },
      avatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iAmEmo: function(users){
          return users.indexOf(localStorage.getItem("user_page_uid"))  > -1 ? 'white' : 'grey'
      },
      completeText: function(){
          return core.completeText(this.commentObj.text)
      }
      
  },
  computed: {
      isAuthorComment: function(){
          //console.log("isAuthorComment", this.comment, localStorage.getItem("user_page_uid"))
          return this.comment.author.uid == localStorage.getItem("user_page_uid")
      },
      isAuthorPost: function(){
          //console.log("isAuthorComment", this.comment, localStorage.getItem("user_page_uid"))
          return this.parentPostSignedUid == localStorage.getItem("user_page_uid")
      },
  },
  
}
</script>