<template>
  <div>
    
    <VueImageUploadCroppie :defaultImage.sync="defaultImage" 
                           :height="100" :width="100" :circle="true" 
                           :trans="trans"></VueImageUploadCroppie>
  </div>
</template>

<style>
    .vodal-confirm-btn:hover {
        box-shadow:none!important;
    }
    .vodal-dialog{
        width: 100%!important;
        max-width: 400px!important;
    }
    div.vodal-footer{
        text-align:center!important;
    }
</style>

<script>

import axios from 'axios'
import VueImageUploadCroppie from 'vue-image-upload-croppie'
import core from '../plugins/core.js'

export default {
  name: 'app',
  props: ['pageUid', 'defaultSrc'],
  data() {
    return {
      'defaultImage': '',
      'liveImage': '',
      'trans': { 
          'cropImage': 'Modifier votre image de profil', 
          'chooseImage': 'Selectionner une image', 
          'confirmCutting': 'Valider'
      }
    }
  },
  async mounted(){
     //this.liveImage = core.avatarUrl(this.pageUid)

      //console.log("this.defaultImage", this.liveImage)
  },
  computed: {
      
  },
  watch: {
      'defaultImage': async function(value) {
          if (value) {
              
              if(value != null){
                //const imgData = new FormData()
                //imgData.append('avatar', base64Image, 'avatar')
                //console.log('send image', imgData)
                await axios.post('/upload/avatar', 
                                  { avatar: value,
                                    pageUid: this.pageUid })
                let newImageUrl = core.avatarUrl(this.pageUid) + "?" + Math.random(1000)
                //localStorage.setItem('avatarUrl', this.liveImage)
                this.$root.$emit('changeAvatar', newImageUrl, this.pageUid);
                //let imageName = resImg.data.imageName
                console.log('res /upload/avatar', newImageUrl)
            }
            // do whatever you want with image value,(upload ..)
          }
      }
  },
  components: {
    VueImageUploadCroppie
  }
}
</script>