<template>
    <v-list double-line class="metaLinkItem" v-if="embedMetaLinks.length > 0">
      <v-list-item color='red' style="padding: 0 10px 0 10px;"
        v-for="(metaLink, i) in embedMetaLinks"
        :key="metaLink.title"
      >
        <!-- <v-list-item-avatar style="margin:10px 5px 0 0;">
          <v-img :src="metaLink.image" max-height="150"></v-img>
        </v-list-item-avatar> -->
        <a :href="metaLink.url" :title="metaLink.title">
          <v-img :src="metaLink.image" max-height="80px" max-width="80px"></v-img>
        </a>
        
        <v-list-item-content style="padding: 0 10px 0 10px;">
          <a :href="metaLink.url">
            <v-list-item-title style="font-size:0.9em;" v-text="metaLink.title" :title="metaLink.title"></v-list-item-title>
            <v-list-item-subtitle style="font-size:0.7em;"  v-text="metaLink.description"></v-list-item-subtitle>
            <v-list-item-subtitle style="font-size:0.6em;color:white;" v-text="metaLink.site_name"></v-list-item-subtitle>
          </a>
        </v-list-item-content>

        <v-list-item-icon style="margin:5px 0 0 5px;" v-if="clearable">
          <v-btn icon small @click="removeMetaLink(i)"><v-icon small>mdi-close</v-icon></v-btn>
        </v-list-item-icon>
      </v-list-item>
    </v-list>
</template>

<style>
  .metaLinkItem a{
    text-decoration: none;
  }
</style>

<script>

//import axios from 'axios'
//import router from '../../router/router'
//import config from '../../config/default' 

export default { 
  name: 'metaLinks',
  props: ['embedMetaLinks', 'clearable'],
  components: {  },
  data: () => ({
  }),
  
  mounted: async function(){
    
  },
  methods: {
    nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
    
  },
  computed: {
    
  },
  
  
};
</script>
