<template>
<div :class="((origin=='singlePost') ? ' singlePost' : '') + ' postCard'">
    <v-card style="" 
        :class="'post-card post'+post._id + (msgNotRead ? ' notread' : '')" 
        :id="'post'+post._id"
        v-if="postObj != null">
                
        <v-list-item class="pr-1">

            <router-link class="white--text" :to="'/page/'+post.signed.uid">
                <v-list-item-avatar class="pa-0 avatar-comment">
                    <img :src="avatarUrl(post.signed.uid)"/>
                </v-list-item-avatar>
            </router-link>

            <v-list-item-content style="padding: 12px 0 0 0;">

                <v-list-item-title style="line-height:1.3em;">
                    <router-link class="white--text" :to="'/page/'+post.signed.uid">
                        {{ post.signed.name }}
                    </router-link>

                    <template v-if="post.scopeType == 'private'">
                        <small v-if="post.receivers.length > 2"> 
                            et 
                            <span class="pr-3" >
                                  {{ post.receivers.length-1 }} personnes
                            </span>
                            
                        </small> <br>
                        <template v-for="(receiver, i) in post.receivers">
                            <v-chip small style="font-size:0.8em;height:26px;" 
                                    v-show="receiver.uid != post.signed.uid" 
                                    color="dark" class="ma-1 ml-0 mt-2 pl-0 pr-2" 
                                    v-if="post.receivers.length == 2" :key="i" 
                                    :title="'on node :'+iName(receiver.uid)" :to="'/page/'+receiver.uid">
                                    <img :src="avatarUrl(receiver.uid)" width="20" class="ma-1"/>
                                @{{ receiver.name }}
                            </v-chip> 
                        </template>
                    </template>
                    
                    <small v-if="post.scopeType!='private'">
                        <small v-if="!post.postShared"> {{ $vuetify.lang.t('$vuetify.post.publishedAMessage') }}</small>
                        <small v-if="post.postShared"> {{ $vuetify.lang.t('$vuetify.post.sharedAMessage') }}</small>
                    </small>
                </v-list-item-title>

                <v-list-item-subtitle v-if="post.scopeType!='private'">
                    <small>
                        <v-icon small>mdi-map-marker</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.post.from') }} 
                        {{ post.fromCity }}  
                        <v-icon x-small class="ml-2" color="#5D586C">mdi-clock</v-icon>
                        <time-ago :datetime="post.created" :refresh="60" long :locale="$vuetify.lang.current"></time-ago> <!-- 2h ago -->
                    </small>
                </v-list-item-subtitle>


                <!-- <v-list-item-title 
                    style="line-height:1.3em;font-weight:800"
                    v-if="post.scopeType=='private' && post.title != ''">
                    <v-btn text style="padding: 5px; line-height:1.3em;font-weight:800; text-transform:none;"
                            @click="openPost(post.uid)" >
                            <v-icon small class="mr-1">mdi-comment</v-icon> {{ post.title }}
                    </v-btn>
                    
                </v-list-item-title> -->
                

            </v-list-item-content> 

            <!-- <v-spacer></v-spacer>  -->

            <v-btn class="popup-action-post-top" 
                    v-if="!isAuthorPost && post.postShared == null && post.sharable && post.scopeType == 'localised'" 
                    icon  @click="showShareForm = true" small>
                <v-icon :color="colorActions('follows', postObj.follows)" small>mdi-transition-masked</v-icon>
            </v-btn>
            <v-btn class="popup-action-post-top" icon @click="getMyContacts"
                    v-if="post.sharable && post.scopeType == 'private'" 
                    title="add receiver(s)">
                <v-icon small>mdi-account-plus-outline</v-icon>
            </v-btn>

            <v-menu class="popup-action-post-top" bottom left
                    v-if="isAuthorPost || (post.scopeType=='private' && !isAuthorPost)">
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" class="popup-action-post-top" small>
                        <v-icon small>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list dense>
                    <v-list-item v-if="isAuthorPost">
                        <v-list-item-title>
                            <v-btn text small color="blue" @click="showEditPost = true">
                                <v-icon small>mdi-pencil</v-icon> 
                                {{ $vuetify.lang.t('$vuetify.post.edit') }} 
                            </v-btn>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="isAuthorPost">
                        <v-list-item-title>
                            <v-btn text small color="red" @click="showDeletePost = true">
                                <v-icon small>mdi-delete</v-icon>
                                {{ $vuetify.lang.t('$vuetify.post.delete') }} 
                            </v-btn>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item v-if="post.scopeType=='private' && !isAuthorPost">
                        <v-list-item-title>
                            <v-btn text small color="red" @click="showLeavePost = true">
                                <v-icon small>mdi-cancel</v-icon>
                                Quitter cette conversation
                            </v-btn>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-list-item>

        <v-col class="pt-0" v-if="post.receivers.length > 2">
            <template v-for="(receiver, i) in post.receivers">
                <v-chip small style="font-size:0.8em;height:26px;" 
                        v-show="receiver.uid != post.signed.uid" 
                        color="dark" class="ma-1 pl-0 pr-2" 
                        v-if="i < 5 || showAllReceiver == true" :key="i" 
                        :title="'on node :'+iName(receiver.uid)" :to="'/page/'+receiver.uid">
                        <img :src="avatarUrl(receiver.uid)" width="20" class="ma-1"/>
                    @{{ receiver.name }}
                </v-chip> 
            </template>

            <v-chip small style="font-size:0.8em;height:26px;" 
                    color="dark" class="ma-1 pl-2 pr-2" 
                    v-if="post.receivers.length > 5"
                    title="qsdqsd" @click="showAllReceiver=!showAllReceiver">
                    + tous
            </v-chip> 
        </v-col>

        <v-col v-show="showAddReceivers==true" class="share-box">
            <v-card>
                <v-row>
                    <v-col class="pt-0">
                        <v-overflow-btn
                            multiple chips :deletable-chips="true"
                            label="Inviter vos contacts..."
                            class="my-2" 
                            v-model="addReceivers"
                            :items="myContacts"
                            item-value="uid"
                            item-text="name"
                            hide-details
                            flat
                            target="#dropdown-example-1"
                        ></v-overflow-btn>
                    </v-col>
                </v-row>
                <v-col class="pt-0">
                    <v-row>
                        <v-col cols="6" class="pt-0">
                            <v-btn small block color="grey" @click="showAddReceivers=false">
                                <v-icon small>mdi-cancel</v-icon> Annuler
                            </v-btn>
                        </v-col>
                        <v-col cols="6" class="pt-0">
                            <v-btn small block color="secondary" @click="addContactToReceivers">
                                <v-icon small>mdi-check-circle</v-icon> Inviter
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col class="pt-0 pb-0" v-if="post.scopeType=='private'">
            <h5 v-if="post.title != null && post.title != ''"
                style="padding: 6px 5px;">
                <small v-if="post.scopeType=='private'">
                    <small>
                        <v-icon x-small class="ml-2" color="#5D586C">mdi-clock</v-icon> 
                        <time-ago :datetime="post.created" :refresh="60" long :locale="$vuetify.lang.current"></time-ago> <!-- 2h ago -->
                    </small>
                </small>
                    
                <v-icon x-small>mdi-chevron-right</v-icon> {{ post.title }}
            </h5>
            <!-- <br v-if="post.title != null && post.title != ''"> -->
            <small v-if="origin=='private'" class="ml-2 mb-3" 
                    style="display:flex;padding-top:5px;color:rgb(179, 179, 179)">
                {{ sub(post.text, 150) + post.text.length > 150 ? "..." : "" }}
            </small>
        </v-col>


        <v-col v-show="showShareForm==true" class="share-box">
            <v-card color="cyan darken-4">
                <v-col class="pt-0">
                    <v-row>
                        <v-col class="pb-0">
                            <v-icon small>mdi-transition-masked</v-icon> 
                            Relayer cette publication
                            <v-col cols="12" class="pt-0 pb-1" style="line-height:0.8em;">
                                <small><small>
                                    Partagez la publication de 
                                    <img :src="avatarUrl(post.signed.uid)" height="15" 
                                            style="margin: 0 0 -4px 3px;"/> 
                                    <span style="font-weight:800!important;font-size: 1.2em;"> 
                                        {{ post.signed.name }}
                                    </span> 
                                    autour de vous, et participez à la diffusion de son message
                                </small></small>
                            </v-col>
                            <v-textarea filled dense auto-grow v-model="shareText" hide-details
                                        class="mt-1" placeholder="Quelque chose à ajouter ?"
                                        style="font-size:14px;font-weight:200;" 
                                        :height="shareText==''?50:''"></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="pa-0 pb-1">
                            <v-row>
                            <v-col cols="4" class="pa-0">
                            </v-col>
                            <v-col cols="8" class="pa-0 mt-2 text-center">
                                <small><small>Sélectionner la zone sur la carte</small></small>
                            </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="4" class="pt-0">
                            <v-btn block small color="grey" @click="showShareForm=false">
                                <v-icon small>mdi-cancel</v-icon> 
                                <span class="d-none d-sm-flex">{{ $vuetify.lang.t('$vuetify.main.cancel') }} </span>
                            </v-btn>
                        </v-col>
                        <v-col cols="8" class="pt-0">
                            <v-btn block small color="cyan darken-2" @click="initSharePost">
                                <v-icon small>mdi-map-marker-radius-outline</v-icon> Relayer
                            </v-btn>

                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showFollow==true">
            <v-card>
                <v-col>
                    <v-row>
                        <v-col>
                            <small>
                                {{ $vuetify.lang.t('$vuetify.post.dyw_follow') }} 
                                <router-link :to="'/page/'+postObj.signed.uid">
                                    {{ postObj.signed.name }}
                                </router-link> ?<br>
                                <small>{{ $vuetify.lang.t('$vuetify.post.dyw_follow_sub') }}</small>
                            </small>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey" @click="showFollow=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }} 
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="purple lighten-2" @click="addToFollows()">
                                <v-icon small>mdi-link-variant</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesFollow') }}
                            </v-btn>

                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showLeavePost==true" v-if="post.scopeType=='private'">
            <v-card>
                <v-col>
                    <v-row>
                        <v-col>Do you realy want to leave this conversation ?</v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey" @click="showLeavePost=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="leavePost()">
                                <v-icon small>mdi-delete</v-icon> Yes, quit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-col v-show="showDeletePost==true" v-if="isAuthorPost">
            <v-card>
                <v-col>
                    <v-row>
                        <v-col>{{ $vuetify.lang.t('$vuetify.post.dyw_delete_post') }} ?</v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey" @click="showDeletePost=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="deletePost()">
                                <v-icon small>mdi-delete</v-icon> {{ $vuetify.lang.t('$vuetify.main.delete') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <a v-if="postObj.embedMetaLinks && postObj.embedMetaLinks[0] != null && !postObj.imageName && embedPlayerUrl == null" 
           :href="!linkIsVideo(postObj.embedMetaLinks[0].url) ? postObj.embedMetaLinks[0].url : 'javascript:'" 
           :target="!linkIsVideo(postObj.embedMetaLinks[0].url) ? '_blank' : ''">
            <v-img 
                class="white--text align-end" contain
                style="margin-top:25px;"
                :src="postObj.embedMetaLinks[0].image"
                ><v-btn v-if="linkIsVideo(postObj.embedMetaLinks[0].url)" fab color="transparent" 
                        @click="loadEmbedPlayer(postObj.embedMetaLinks[0].url)"
                        style="top:47%; left:45%; position:absolute;">
                    <v-icon large>mdi-play-circle-outline</v-icon> 
                </v-btn>
            </v-img>
            <!-- <v-card-sub class="main-link-title pa-2">{{ postObj.embedMetaLinks[0].site_name }}</v-card-sub> -->
            <v-card-title class="main-link-title">
                <v-list-item-title class="main-link-site-name">
                    {{ postObj.embedMetaLinks[0].site_name }}
                </v-list-item-title>

                {{ postObj.embedMetaLinks[0].title }}
            </v-card-title>
        </a>

        <iframe v-if="embedPlayerUrl != null" width="100%" height="315" :src="embedPlayerUrl" style="margin-top:25px;"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
        
        <v-img v-if="post.imageName && !showEditPost"
            class="white--text align-end ownImage" contain
            style="margin-bottom:15px;margin-top:25px;max-height:400px;"
            :src="postImageUrl(post.uid)+post.imageName"
            >
        </v-img>


        <v-col class="pl-0 pr-0 pt-2 pb-3 post-shared" v-if="post.postShared != null">
            <Post :post="post.postShared" origin="stream" :shared="true"></Post>
        </v-col>

        <div class="mt-3" v-if="origin=='stream'"></div>

        <!-- POST TEXT -->
        <v-card-text class="white--text  pb-0 post-text-stream maptxt" v-show="showEditPost==false"
                    style="padding-top:0px" 
                    v-html="completeText">
        </v-card-text>
        <v-card-text class="white--text  pb-0 post-text-stream subtxt" v-show="showEditPost==false"
                    style="padding-top:0px" 
                    v-html="completeText">
        </v-card-text>
        <v-card-text class="white--text  pb-0 post-text-stream alltxt" v-show="showEditPost==false"
                    style="padding-top:0px" v-html="completeText">
        </v-card-text>
        <!-- POST TEXT -->
        <v-col class="white--text pt-0 mt-0" v-show="showEditPost==false && postObj.hashtags!=null"
                    style="padding-top:0px">
            <template v-for="(tag, i) in postObj.hashtags">
                <v-chip small text-color="blue lighten-2" color="blue-grey darken-3" @click="openTag(tag)"
                        :key="i" class="mr-2 mt-2">
                    {{ tag }}
                </v-chip>
            </template>
        </v-col>



        <a v-if="postObj.pdf != null" 
           :href="postPdfUrl(postObj.signed.uid, postObj.pdf.name)" 
           target="_blank">
            <v-card-title class="main-link-title" v-if="postObj.pdf.name != '**deleted**'">
                <v-icon small color="primary" class="mr-1">mdi-file</v-icon> 
                {{ postObj.pdf.name }}
            </v-card-title>
            <v-card-title class="main-link-title red--text" v-else>
                <v-icon small color="red" class="mr-1">mdi-file</v-icon> 
                {{ $vuetify.lang.t('$vuetify.post.documentDeleted') }}
            </v-card-title>
        </a>


        <a v-if="postObj.pdfName != null" 
           :href="postPdfUrl(postObj.signed.uid, postObj.pdfName)" 
           target="_blank">
            <v-card-title class="main-link-title" v-if="postObj.pdfName != '**deleted**'">
                <v-icon small color="primary" class="mr-1">mdi-file</v-icon> 
                {{ postObj.pdfName }}
            </v-card-title>
            <v-card-title class="main-link-title red--text" v-else>
                <v-icon small color="red" class="mr-1">mdi-file</v-icon> 
                {{ $vuetify.lang.t('$vuetify.post.documentDeleted') }}
            </v-card-title>
        </a>


        <v-col flex class="ma-0" v-if="postObj.embedMetaLinks && postObj.embedMetaLinks.length > 1">
            <MetaLinks :embedMetaLinks="postObj.embedMetaLinks" :clearable="false"></MetaLinks>          
        </v-col>

        <v-col v-show="showEditPost==true" v-if="isAuthorPost">
            <v-textarea filled dense v-model="postObj.text"
                        style="font-size:14px;font-weight:200"></v-textarea>
                <v-row>
                    <v-col cols="6">
                        <v-btn block small color="grey" @click="showEditPost=false">
                            <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                        </v-btn>
                    </v-col>
                    <v-col cols="6">
                        <v-btn block small color="secondary" @click="saveEditPost()">
                        <v-icon small>mdi-content-save-move-outline</v-icon>  {{ $vuetify.lang.t('$vuetify.main.save') }}
                    </v-btn>
                    </v-col>
                </v-row>
        </v-col>

        <v-col v-show="showCutValidation==true" v-if="!isAuthorPost">
            <v-card>
                <v-col>
                    <v-row>
                        <v-col>
                            <small>
                                {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist1') }}
                                <router-link :to="'/page/'+postObj.signed.uid">
                                    {{ postObj.signed.name }}
                                </router-link> 
                                {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist2') }} ?<br>
                                <small>
                                {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist_sub') }}.</small>
                            </small>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="6">
                            <v-btn block small color="grey" @click="showCutValidation=false">
                                <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.cancel') }}
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn block small color="red" @click="addToBlacklist()">
                                <v-icon small>mdi-scissors-cutting</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesBlackL') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-card>
        </v-col>

        <v-card-actions class="popup-action-post">
            
            <v-btn text style="min-width: unset;" 
                    @click="actionPost('favorites', post.uid)"
                    :color="colorActions('favorites', postObj.favorites)">
                {{ postObj.favorites.length }} <v-icon small>mdi-star</v-icon>
            </v-btn>

            <v-btn text small style="min-width: unset;" v-if="!isAuthorPost" @click="showCutValidation=true">
                <v-icon small color="grey">mdi-scissors-cutting</v-icon>
            </v-btn>
            <v-btn color="grey darken-3" style="min-width: unset;text-transform:none; min-width:100px;" 
                    title="Afficher l'intégralité du message, et suivre en direct tous les commentaires" 
                    @click="openPost(post.uid)"
                    v-if="origin!='singlePost'">
                <template v-if="postObj.viewers && postObj.viewers.length>0">
                    {{ postObj.viewers.length }} 
                </template> 
                <v-icon small class="ml-1 mr-1">mdi-eye</v-icon>
            </v-btn>


            <v-spacer></v-spacer>

            <v-btn  text @click="actionPost('likes', post.uid)"
                    :color="colorActions('likes', postObj.likes)">
                    {{ postObj.likes.length }} <v-icon small>mdi-thumb-up-outline</v-icon>
            </v-btn>
            
            <v-btn text @click="actionPost('dislikes', post.uid)"
                    :color="colorActions('dislikes', postObj.dislikes)">
                    {{ postObj.dislikes.length }} <v-icon small>mdi-thumb-down-outline</v-icon>
            </v-btn>

            <v-btn text color="blue" v-if="post.scopeType != 'private'" @click="showAllComments=true">
                {{ postObj.comments.length }} <v-icon class="ml-1" small>mdi-comment</v-icon>
            </v-btn>
            <v-btn text color="blue" v-if="post.scopeType == 'private'" @click="openPost(post.uid)">
                {{ postObj.comments.length }} <v-icon class="ml-1" small>mdi-comment</v-icon>
            </v-btn>
        </v-card-actions>

        <v-col class="btn-read-onmap">
            <v-btn  v-if="origin=='stream'" :id="'post' + post._id" :class="'btn-post' + post._id"
                    block small color="primary"   @click="openPost(post.uid)"
                    >
                <v-icon small>mdi-eye</v-icon> Lire le message
            </v-btn>
        </v-col>


        <v-row class="row-comment" v-if="origin!='private' && shared!=true">
            
            <v-list three-line style="width: 100%;">
                
                <v-btn text x-small color="grey" class="pa-1"
                    style="margin-bottom:5px; text-transform:none; justify-content:left;"
                    v-if="post.comments[0] != null"
                    @click="showAllComments=!showAllComments">
                        <v-icon x-small v-show="showAllComments==false">mdi-chevron-down</v-icon> 
                        <v-icon x-small v-show="showAllComments==true">mdi-chevron-up</v-icon> 
                        {{ post.comments.length }} comments...
                </v-btn>
                
                <template v-for="(comment, i) in post.comments">
                    <Comment :comment="comment" origin="post"
                            :parentPostUid="post.uid" :parentPostSignedUid="post.signed.uid" :postOrigin="origin"
                            :key="i" :index="i" :showAllComments="showAllComments"
                            :nbTotalComments="post.comments.length"></Comment>
                </template>

                <v-skeleton-loader ref="skeleton"
                    :boilerplate="false"
                    type="list-item-avatar-three-line"
                    :tile="false"
                    class="mx-auto"
                    v-show="newCommentLoading"
                ></v-skeleton-loader>
            </v-list>

            <v-textarea :class="'input-comment ' + (commentOpen?'focus':'')" @click="commentOpen=true"
                    :counter="commentStr.length > 450" auto-grow outlined 
                    @change="cleanClearComment"
                    clearable :rules="rulesTxtareaEditComment" 
                    :label="$vuetify.lang.t('$vuetify.post.yourComment') + '...'" v-model="commentStr" :id="post.uid">
            </v-textarea>

            <v-btn icon style="margin:2px 5px 0 5px;" @click="sendComment" :disabled="commentStr==''">
                <v-icon large>mdi-send-circle</v-icon>
            </v-btn>
            
        </v-row>
    </v-card>
</div>
</template>

<style>
</style>

<script>

import Comment from '@/components/Comment.vue'
//import Post from '@/components/Post.vue'

import axios from 'axios'
import MetaLinks from '@/components/MetaLinks.vue'
import core from '../plugins/core.js'

import TimeAgo from 'vue2-timeago'

//import core from '../plugins/core.js'
//import router from '../router/router'

export default {
  name: 'Post',
  components: { Comment, MetaLinks, TimeAgo },
  props: ['post', 'origin', 'shared', 'notread'],
  data:() => ({
      postObj : {   text: "", signed: {}, comments: [], 
                    likes: [], dislikes: [], favorites: [], },
      actionsParams : [],
      commentStr: '',
      commentOpen: false,
      showInputComment: false,
      comments: [],
      newCommentLoading: false,
      rulesTxtareaEditComment: [v => (v != null && v.length <= 500) || 'Max 500 caractères'],
      showEmojis: false,
      showAllComments: false,
      showDeletePost: false,
      showEditPost: false,
      showFollow: false,
      showCutValidation: false,
      showFollowValidation: false,
      showLeavePost: false,
      showAllReceiver:false,
      showShareForm: false,
      showAddReceivers: false,
      shareText: "",
      myContacts: [],
      addReceivers: [],
      embedPlayerUrl: null,
      msgNotRead: false,
      emojis: [
          { icon: 'thumb-up' },
          { icon: 'emoticon-lol' },
          { icon: 'emoticon-kiss' },
          { icon: 'emoticon-cool' },
          { icon: 'emoticon-tongue' },
          { icon: 'emoticon-excited' },
          { icon: 'emoticon-cry' },
          { icon: 'emoticon-devil' },
          { icon: 'thumb-down' },
          
      ]
  }),
  mounted: function(){
     this.postObj = this.post
     this.actionsParams["likes"] = { color: "green" }
     this.actionsParams["dislikes"] = { color: "red" }
     this.actionsParams["favorites"] = { color: "yellow" }
     this.actionsParams["follows"] = { color: "purple lighten-2" }
     this.msgNotRead = this.notread

    //console.log("POST ?", this.post.uid)
    /* document.getElementById("post"+this.post._id).addEventListener("focusin", ()=>{
         console.log("focus IN")
        this.commentOpen = true
    })
     document.getElementById("post"+this.post._id).addEventListener("focusout", ()=>{
         console.log("focus OUT")
        this.commentOpen = false
    })*/

    this.$root.$on('updatePostObj', (uid) => { 
        console.log('updatePostObj 2')
        if(this.post.uid == uid)
            this.postObj = this.post
    })

    /*
    let tags = this.$el.getElementsByClassName("span-hashtag")
    console.log("it works ?", tags)
    tags.forEach((el) =>{
        console.log("el", el)
        el.addEventListener("click", (elt)=>{
            let tag = elt.getAttribute("data-tag")
            console.log("click on tag", tag)
            this.$root.$emit('loadStream', 'stream');
        })
    })
    */
  },
  methods: {
      getMyContacts: async function(){
          axios.post('/page/profil', { pageUid: localStorage.getItem("user_page_uid") })
            .then( res => {
              console.log('/page/profil', res.data)
              if(res.data.error == false){
                this.myContacts = res.data.page.contacts
                this.showAddReceivers=true
              }else{
                //router.push('/');
                this.showAddReceivers=false
                console.log('error /page/profil', res.data)
              }
            })        
      },
      addContactToReceivers : async function(){
          console.log("addReceivers", this.addReceivers)
          let receivers = []
          this.myContacts.forEach((c)=>{
            this.addReceivers.forEach((r)=>{
              if(c.uid == r) receivers.push(c)
            })
          })
          
          const res = await axios.post('/publication/add-receivers', {  postUid: this.post.uid, 
                                                                        receivers: receivers })
          console.log("res /publication/add-receivers", this.post.uid, res)
          if(res.data.error == false)
            this.post.receivers = res.data.newReceivers
        
          this.showAddReceivers = false
      },
      initSharePost : function(){
          console.log("initSharePost", this.origin)
          if(this.origin != "stream") return
          this.$root.$emit('sharePost', this.post.uid, this.shareText);
      },
      cleanClearComment: function(){
          if(this.commentStr==null) this.commentStr=''
      },
      openPost: function(postUid) {
          console.log("open post", postUid)
          this.$root.$emit('openPost', this.postObj);
          //router.push('/post/'+postUid);
      },
      actionPost: async function(actionType, postUid){
          const res = await axios.post('/publication/action', { type: actionType, postUid: postUid })
          console.log("res /publication/action", actionType, postUid, res)
          if(res.data.error == false)
            this.postObj = res.data.postObj
      },
      colorActions: function(action, arrayAct){ 
        let userPageUid = localStorage.getItem("user_page_uid")
        //console.log("action", action, arrayAct, userPageUid, arrayAct.indexOf(userPageUid))
        if(typeof arrayAct != "undefined" && arrayAct.indexOf(userPageUid) > -1) 
            return this.actionsParams[action].color
        else return ""
      },
      nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
      sendComment: async function(){
          console.log("sendComment")
          this.newCommentLoading = true
          const res = await axios.post('/comment/send-comment', 
                                    {   commentStr: this.commentStr, 
                                        postUid: this.post.uid })

          console.log("res /comment/send-comment", res)
          if(res.data.error == false){
              this.newCommentLoading = false
              this.commentStr = ""
              this.post.comments.push(res.data.newComment)
              //this.showAllComments = true
          }
            
      },
      saveEditPost: async function(){
        console.log("saveEditPost")
        const res = await axios.post('/publication/edit-post', { 
                                        postUid: this.post.uid, 
                                        text: this.postObj.text
                                    })
                                    
        if(res.data.error == false){
            this.postObj.text = res.data.postText
            this.postObj.hashtags = res.data.postTags
            this.showEditPost = false
        }
        console.log("res /publication/edit-post", res.data)
      },
      deletePost: async function(){
        console.log("deletePost", this.post.uid)
        const res = await axios.post('/publication/delete-post', { 
                                        postUid: this.post.uid
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            this.postObj = null
            this.showDeletePost = false
        }
        console.log("res /publication/delete-post", res.data)
      },
      leavePost: async function(){
        console.log("leavePost")
        const res = await axios.post('/publication/leave-post', { 
                                        postUid: this.post.uid
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            this.postObj = null
            this.showLeavePost = false
        }
        console.log("res /publication/delete-post", res.data)
      },

      
      updatePostObj: function(post){
          console.log("updatePostObj")
          this.postObj = post
          this.setInViewers(true)
      },
      addToBlacklist: async function(){
        console.log("addToBlacklist")
        const res = await axios.post('/page/add-to-blacklist', { 
                                        pageUid: this.post.signed.uid,
                                        pageName: this.post.signed.name
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            this.postObj = null
            this.showCutValidation = false
        }
        //console.log("res /page/add-to-blacklist", res.data)
      },
      addToFollows: async function(){
        console.log("addToFollows")
        const res = await axios.post('/page/add-to-follows', { 
                                        pageUid: this.post.signed.uid,
                                        pageName: this.post.signed.name
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            //this.postObj = null
            this.showFollowValidation = false
        }
        //console.log("res /page/add-to-blacklist", res.data)
      },
      openTag : function(tag){
          this.$root.$emit('openTag', tag);
      },
      postImageUrl: function(postUid){
          return core.postImageUrl(postUid)
      },
      postPdfUrl: function(pageUid, pdfName){
          return core.postPdfUrl(pageUid, pdfName)
      },
      avatarUrl: function(pageUid){
        return core.avatarUrl(pageUid)
      },
      iName: function(pageUid){
        return core.iName(pageUid)
      },
      sub : function(text, len){
          let t = text.substr(0, len)
          //console.log("SUB", text, t, text.length)
          if(text.length > len) t += '...'
          return t
      },
      linkIsVideo : function(link){
          if(link.indexOf("https://www.youtube.com") > -1) return true
          return false
      },
      loadEmbedPlayer : function(link){
          this.embedPlayerUrl = ""
          let pos = link.indexOf("?v=")+3
          this.embedPlayerUrl = "https://www.youtube.com/embed/" + link.substr(pos, 11)
      }
      
  },
  computed: {
      isAuthorPost: function(){
          //console.log("isAuthorPost", this.post.author.uid , localStorage.getItem("user_page_uid"))
          return this.post.author.uid == localStorage.getItem("user_page_uid")
      },
      completeText: function(){
          return core.completeText(this.postObj.text, this.post.hashtags)
      }
      
      
  },
  
  
}
</script>