<template>
  <v-card id="stream" class="mx-auto">
      <v-col class="card-container">

        <v-col class="pa-0">
            
            <v-col class="pa-0 text-center font-konkretika">
                <v-chip class="mt-3 pl-3" primary--text color="rgba(29, 59, 70, 0.5)" text-color="primary">
                    <v-icon small class="mr-1">mdi-home</v-icon> <h3>Accueil</h3>
                </v-chip>
            </v-col>

            <template v-if="!isPrivate">
                <v-bottom-navigation :height="70" 
                    style="margin-bottom:15px; border-radius:5px; "
                    grow class="hover-blue mt-5" v-model="mainMenu"
                >

                    <v-btn :color="mapMode=='stream' ? 'primary darken-3' : ''" to="/stream" @click="$root.$emit('loadStream');">
                        <span>{{ $vuetify.lang.t('$vuetify.menu.Stream') }}</span>
                        <v-icon>mdi-newspaper-variant-multiple</v-icon>
                    </v-btn>

                    <v-btn :color="mapMode=='page' ? 'primary darken-3' : ''" to="/map" @click="searchPages()">
                        <span>{{ $vuetify.lang.t('$vuetify.stream.searchUser') }}</span>
                        <v-icon>mdi-cloud-search-outline</v-icon>
                    </v-btn>

                    <v-btn @click="$root.$emit('showMap');">
                        <span>{{ $vuetify.lang.t('$vuetify.stream.showMap') }}</span>
                        <v-icon>mdi-map-marker-circle</v-icon>
                    </v-btn>

                    <v-btn @click="$root.$emit('showFormEditPost', true);">
                        <span>{{ $vuetify.lang.t('$vuetify.stream.sendPost') }}</span>
                        <v-icon>mdi-tooltip-edit</v-icon>
                    </v-btn>

                </v-bottom-navigation>

                <v-btn block small @click="showStreamOptions=!showStreamOptions">
                    <v-icon small>mdi-dots-horizontal-circle-outline</v-icon> options
                </v-btn>

                <template v-if="showStreamOptions && mapMode=='stream'">
                    <h5 class="ma-2" style="color: #aaa;">
                        <v-icon small style="color: #aaa;">mdi-chevron-double-down</v-icon> 
                        {{ $vuetify.lang.t('$vuetify.stream.selectSourceStream') }}
                        
                    </h5>

                    <v-bottom-navigation :height="70" v-show="showOrigineOptions" 
                                        style="margin:0;border-radius:5px;"
                                        v-model="streamOrigin" grow>
                        <v-btn class="hover-blue" value="local" @click="loadstreamOrigin('local')">
                            <span>{{ $vuetify.lang.t('$vuetify.stream.localStream') }}</span>
                            <v-icon>mdi-map-marker-radius-outline</v-icon>
                        </v-btn>

                        <v-btn class="hover-yellow" value="favorites" @click="loadstreamOrigin('favorites')">
                            <span>{{ $vuetify.lang.t('$vuetify.stream.favoritePosts') }}</span> 
                            <v-icon>mdi-star</v-icon>
                        </v-btn>

                        <v-btn class="hover-red" value="follows" @click="loadstreamOrigin('follows')">
                            <span>{{ $vuetify.lang.t('$vuetify.stream.myFollows') }}</span>
                            <v-icon>mdi-link-variant</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                </template>

                <template v-if="showStreamOptions && mapMode=='page'">
                    <h5 class="ma-2" style="color: #aaa;">
                        <v-icon small style="color: #aaa;">mdi-chevron-double-down</v-icon> 
                        Quel type de pages recherchez-vous ?                        
                    </h5>

                    <v-bottom-navigation :height="70" v-show="showOrigineOptions" 
                                        style="margin:0;border-radius:5px;"
                                        v-model="pageType" grow>
                        <v-btn class="hover-blue px-2" value="user" @click="searchPages('user')">
                            <span>Utilisateurs</span>
                            <v-icon>mdi-account</v-icon>
                        </v-btn>

                        <v-btn class="hover-yellow px-2" value="group" @click="searchPages('group')">
                            <span>Groupes</span> 
                            <v-icon>mdi-account-group-outline</v-icon>
                        </v-btn>

                        <v-btn class="hover-red px-2" value="assembly" @click="searchPages('assembly')">
                            <span>Assemblées</span>
                            <v-icon>mdi-hexagon-multiple-outline</v-icon>
                        </v-btn>

                        <v-btn class="hover-red" value="event" @click="searchPages('event')">
                            <span>Évenements</span>
                            <v-icon>mdi-calendar-clock</v-icon>
                        </v-btn>
                    </v-bottom-navigation>
                </template>

            </template>

            <template v-if="showStreamOptions">
                <v-toolbar id="toolbar-contentt" dense  color="darkblock" v-if="mapMode=='stream'"
                    style="margin:15px 0 15px 0; border-radius:5px;">
                    <v-btn icon color="grey" style="margin-left:0px">
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>

                    <v-text-field clearable :loading="loadingContent" @change="searchContent" id="searchInPost"
                        hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchInStream')" 
                        style="margin-right:15px;" single-line v-model="searchContentStr"  
                        class="input-search" color="blue"
                    ></v-text-field>

                    <v-btn icon color="grey" style="margin-right:0px" @click="showTags=!showTags">
                        <v-icon>mdi-pound-box</v-icon>
                    </v-btn>
                </v-toolbar>


                <v-toolbar id="toolbar-contentt" dense  color="darkblock"
                        style="margin:15px 0 15px 0; border-radius:5px;" v-if="mapMode=='page'">
                    <v-btn icon color="grey" style="margin-left:0px">
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>

                    <v-text-field clearable :loading="loadingContent" @change="searchContent" id="searchInPost"
                        hide-details :placeholder="$vuetify.lang.t('$vuetify.stream.searchInPages')" style="margin-right:15px;"
                        single-line v-model="searchContentStr"  class="input-search" color="blue"
                    ></v-text-field>

                    <v-btn icon color="grey" style="margin-right:0px" @click="showTags=!showTags">
                        <v-icon>mdi-pound-box</v-icon>
                    </v-btn>
                </v-toolbar>


                <v-col class="mt-0 mb-4 pa-0" v-if="showTags"> 
                    <v-card color="blue-grey darken-4">
                        <v-col class="">
                            <!-- <h4>#hashtags</h4> -->
                            <h5>{{ $vuetify.lang.t('$vuetify.stream.hashtagSuggestions') }}</h5>
                            <v-col class="pa-0 mt-2">
                                <template v-for="(tag, i) in hashtagList">
                                <v-chip @click="addTagNewPost(tag.tag)" small 
                                        style="padding-right:10px;"
                                        :color="searchContentStr!=null && searchContentStr.indexOf(tag.tag) > -1 ? 'blue' : 'blue-grey darken-2'"
                                        :key="i" class="mr-2 mt-2">
                                        {{ tag.tag }} 
                                        <!-- <v-avatar small right class="grey darken-1" >{{ tag.count }}</v-avatar> -->
                                </v-chip>
                                </template>
                                <template v-for="(tag, j) in hashtagSuggest">
                                <v-chip @click="addTagNewPost(tag.tag)" small 
                                        style="padding-right:6px;"
                                        :color="searchContentStr!=null && searchContentStr.indexOf(tag.tag) > -1 ? 'blue' : 'blue-grey darken-2'"
                                        :key="j+hashtagList.length" class="mr-2 mt-2">
                                        {{ tag.tag }} 
                                        <v-avatar small right class="blue-grey darken-3" >{{ tag.count }}</v-avatar>
                                </v-chip>
                                </template>
                            </v-col>
                            <v-col class="pa-0 mt-4">
                                <v-btn small block color="blue" @click="searchContent" :loading="streamLoading">
                                    <v-icon small>mdi-refresh</v-icon> {{ $vuetify.lang.t('$vuetify.stream.update') }}
                                </v-btn>
                            </v-col>
                        </v-col>

                        
                    </v-card>
                </v-col>
            </template>

        </v-col>

        <v-col class="pa-0 xs-8" style="margin-top:30px;">
            
            <div>
                <v-slider v-model="rootRadius" @change="$root.$emit('updateRadius', rootRadius)"
                         color="primary"  :label="rootRadius+' km'" 
                        inverse-label :max='kmCurrentMax'
                >
                <template v-slot:prepend>
                    <v-icon @click="decrement">mdi-minus</v-icon>
                </template>

                <template v-slot:append>
                    <v-icon @click="increment">mdi-plus</v-icon>
                </template>
                </v-slider>
            </div>
            
        </v-col>


        <v-col class="text-center pb-0">
            <v-btn class="mr-3 mt-0" outlined fab dark small color="white" v-if="mapMode=='page'" @click="$root.$emit('loadStream');">
                    <v-icon  dark title="retour au fil d'actu" small>mdi-newspaper-variant-multiple</v-icon>
                </v-btn>
            <v-btn class="mx-2 mt-0" outlined fab dark small color="white" @click="searchContent" :loading="streamLoading">
                <v-icon  dark title="actualiser">mdi-refresh</v-icon>
            </v-btn>
            <v-btn class="mx-2 mt-0" outlined fab dark small color="white" @click="$root.$emit('showMap')">
                <v-icon  dark :title="$vuetify.lang.t('$vuetify.stream.showResultOnMap')">mdi-map-marker</v-icon>
            </v-btn>
            <br><br>

            <template v-if="streamLoading"><small>chargement en cours</small></template>
            <template v-if="!streamLoading">
                <small v-if="mapMode=='stream'">
                    <v-icon small>mdi-chevron-down</v-icon>
                    Fil d'actualités 
                    <!-- {{ stream.length }} {{ $vuetify.lang.t('$vuetify.stream.results') }} -->
                </small>
                <small v-if="mapMode=='page'">
                    {{ mapPages.length }} {{ $vuetify.lang.t('$vuetify.stream.results') }} 
                    <template v-if="totalUserPages > 100"> / {{ totalUserPages }}</template>
                    <br>
                    <v-btn x-small text @click="showMoreResults"><v-icon x-small>mdi-chevron-right</v-icon> afficher plus de résultats </v-btn>
                </small>
            </template>
            
        </v-col>

        <template v-if="mapMode=='stream'">
            <template v-for="(post, i) in stream">
                <Post :post="post" origin="stream" :key="i" ></Post>
            </template>
        </template>
       
        <template v-if="mapMode=='page'">
            <template v-for="(page, j) in mapPages">
                <PageCard :page="page" :key="j" :context="context"></PageCard>
            </template>
        </template>

        <EndOfStream :endOfStream="endOfStream" :mapMode="mapMode" :pageNumber="pageNumber" 
                     :mapPages="mapPages" :searchContentStr="searchContentStr"
                     :streamLoading="streamLoading" :streamLength="stream.length"></EndOfStream>
        
        
    
    </v-col>
    </v-card>
</template>

<style>
#stream .input-search .v-input__slot::before{
    border-color: transparent!important
}
#stream .theme--dark.v-bottom-navigation .v-btn:not(.v-btn--active){
    color:white!important;
}
#stream .hover-blue,
#stream .v-btn.hover-blue:hover{
    color:#2eb6e6
}
#stream .hover-yellow{
    color:#dfc953
}
#stream .hover-red{
    color:#b580d2
}
#stream .v-bottom-navigation{
    background-color: #212121;
}
#stream{
    padding-bottom:200px;
}

</style>

<script>
import Post from '@/components/Post.vue'
import PageCard from '@/components/page/PageCard.vue'
import EndOfStream from '@/components/page/EndOfStream.vue'

export default {
  name: 'home',
  components: { Post, PageCard, EndOfStream },
  data:() => ({
      loadingContent: false,
      searchContentStr: '',
      showOrigineOptions: true,
      showStreamOptions: false,
      streamOrigin: 'local',
      showTags: false,
      pageType: null,
      mainMenu: "stream",

      kmCurrentMax: 600,
      rootRadius: 100,

      hashtagSuggest: [],
      hashtagList: [],
      hashtagListOrigin: [
        { tag: '#info' },
        { tag: '#annonce' },
        { tag: '#question' },
        { tag: '#sondage' },
        { tag: '#proposition' },
        { tag: '#action' },
        { tag: '#manifestation' },
        { tag: '#mobilisation' },
        { tag: '#assemblée' },
      ]
  }),
  props: ['stream', 'streamLoading', 'isPrivate', 'mapMode', 'mapPages', 
          'context', 'endOfStream', 'pageNumber', 'totalUserPages'],
  mounted: function(){
      this.hashtagList = this.hashtagListOrigin

      this.$root.$on('streamLoaded', () => { 
        this.loadingContent = false
        this.updateTags()
      })

      this.$root.$off('openTag').$on('openTag', (tag) => { 
        console.log('openTag in Stream.vue', tag)
        this.searchContentStr = tag
        this.loadStream();
      })

      this.$root.$off('changeRadius').$on('changeRadius', (radius) => { 
        console.log('changeRadius in Stream.vue', radius)
        this.rootRadius = radius
      })
      
       window.removeEventListener('scroll', ()=>{})
       window.addEventListener('scroll', ()=>{
            if(document.getElementById("stream") == null) return 
            if(window.scrollY > document.getElementById("stream").offsetHeight - window.innerHeight - 400){
                console.log("scroll in Stream", this.mapMode)
                if(!this.streamLoading && !this.endOfStream){
                    if(this.mapMode == "stream")
                    this.$root.$emit('loadNextStream', this.streamOrigin, this.searchContentStr);

                    if(this.mapMode == "page")
                    this.$root.$emit('loadNextPages', this.pageType, this.searchContentStr);
                }
            }
       });
  },
  methods: {
      loadStream: function(){
        this.$root.$emit('loadStream', this.streamOrigin, this.searchContentStr);
      },
      loadstreamOrigin: function(streamOrigin){
        this.$root.$emit('loadStream', streamOrigin);
      },
      searchContent: function(){
          if(this.searchContentStr != "" && this.searchContentStr != null) 
            this.loadingContent = true

          console.log("mapMode", this.mapMode)
          if(this.mapMode == "stream")
          this.$root.$emit('loadStream', this.streamOrigin, this.searchContentStr);
          else 
          this.$root.$emit('loadPages', this.pageType, this.searchContentStr);

      },
      searchPages: function(type){
          this.pageType = type
          this.$root.$emit('loadPages', this.pageType, this.searchContentStr)
      },
      showMoreResults : function(){
          if(this.mapMode == "page")
            this.$root.$emit('loadNextPages', this.pageType, this.searchContentStr);
      },
      addTagNewPost : function(tag){
        let pos = -1
        if(this.searchContentStr != "" && this.searchContentStr != null) 
            pos = this.searchContentStr.indexOf(tag)

        if(pos > -1){ //tag exist in text
            this.searchContentStr = this.searchContentStr.replace(tag, '').trim()
        }else{ //tag not exist in text
            this.searchContentStr += ' ' + tag
        }
      },
      updateTags : function(){
        //console.log("1 updateTags ? hashtags", this.hashtagSuggest, this.stream.length)
        this.hashtagSuggest = []
        this.stream.forEach((post)=>{
          //console.log("2 hashtags ?", post.hashtags)
          if(post.hashtags != null && post.hashtags.length > 0){
            post.hashtags.forEach((tag)=>{
              let found = false
              this.hashtagSuggest.forEach((tagL)=>{
                if(tag == tagL.tag) found = true
              })
              //console.log("3 hashtags found?", found)
              if(!found) this.hashtagSuggest.push({ tag: tag, count: 1})
              else{
                this.hashtagSuggest.forEach((tagL)=>{
                  if(tag == tagL.tag) tagL.count++
                })
              }
            })
            
          }
        })
        this.hashtagSuggest.sort((a, b) => (a.count < b.count) ? 1 : -1)

        let tmp = []
        this.hashtagListOrigin.forEach((t)=>{
            tmp.push(t)
        })
        //console.log("4 hashtagSuggest ??", this.hashtagSuggest, this.hashtagList.length, this.hashtagListOrigin.length)

        //let tmp = []
        this.hashtagSuggest.forEach((h)=>{
            let found = false
            //console.log("5 hashtags double ?", h.tag, found, tmp.length)
            tmp.forEach((t, i)=>{
                if(h.tag==t.tag) found = i
            })
            //console.log("5 hashtag double ???", h.tag, found, 'length', tmp.length)
            if(found !== false)  tmp.splice(found, 1)
        })

        this.hashtagList = tmp

      },
      decrement: function(){
        this.rootRadius--
        this.$root.$emit('updateRadius', this.rootRadius)
      },
      increment: function(){
        this.rootRadius++
        this.$root.$emit('updateRadius', this.rootRadius)
      },

  },
  computed : {
      scrollStream : function(){
          return window.scrollX
      }
  }
  
  
}
</script>