<template>
    <div>
        <v-list-item class="pa-0" @click="openLoadPost">
            <v-list-item-avatar class="pa-0 avatar-notif">
                <v-img :src="avatarUrl(notifAutor.uid)"></v-img>
            </v-list-item-avatar>
            
            <v-list-item-content>

                <v-list-item-title>
                    <v-icon small color="purple lighten-2">mdi-eye</v-icon> 
                    {{ notifAutor.name }}
                    <small>
                         <!-- and {{ notification.authors.length }} other people -->
                        <small>est en train de lire</small> 
                        <span v-if="!isAuthor && !isOwner"> une publication de {{ notification.whatObj.signedName }}</span>
                        <span v-if="!isAuthor && isOwner"> sa publication</span>
                        <span v-if="isAuthor"> votre publication</span>
                    </small>
                </v-list-item-title>
                <v-list-item-subtitle>
                <small>
                    <v-icon small>mdi-newspaper-variant-multiple</v-icon> 
                    {{ notification.whatObj.text }}
                </small>

                
                </v-list-item-subtitle>
                <span>
                  <v-icon x-small color="#5D586C">mdi-clock</v-icon>
                  <time-ago :datetime="notification.updated" 
                            :refresh="60" long :locale="$vuetify.lang.current">
                            
                  </time-ago>
                </span>
            </v-list-item-content> 
        </v-list-item>
        
        <!-- <v-card-text style="font-size:130%; background:rgba(0,0,0,0.1)" @click="nl2br('test')">
            <v-icon small style="margin-right:5px">mdi-comment</v-icon> 
            <span style="font-size:50%; font-weight:200; line-height: 0.9rem;" 
                    v-text="nl2br(notification.whatObj.text)">
                </span> 
                <span v-if="notification.whatObj.text.length==200">[...]</span>
        </v-card-text> -->
  </div>
</template>

<style>
  .avatar-notif{
    margin-right:7px!important;
    margin-left:7px!important;
    height:30px;
    min-width:30px!important;
    width:30px;
  }
</style>

<script>

import axios from 'axios'
import core from '../../plugins/core.js'
import TimeAgo from 'vue2-timeago'
//import router from '../../router/router'
//import config from '../../config/default'

export default {
  name: 'menu-left',
  props: ['notification'],
  components: { TimeAgo },
  data: () => ({
  }),
  
  mounted: async function(){
    console.log("this notification", this.notification)
  },
  methods: {
    nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
      },
    openLoadPost: async function(){
        console.log("openLoadPost")
        const res = await axios.post('/publication/get-post', { 
                                    postUid: this.notification.whatObj.uid, 
                                    })           
        if(res.data.error == false){
          this.$root.$emit('openPost', res.data.singlePost);
        }
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    }
  },
  computed: {
    notifAutor : function(){
      return this.notification.authors[this.notification.authors.length-1]
    },
    isAuthor : function(){
        return this.notification.whatObj.signedUid == localStorage.getItem("user_page_uid")
    },
    isOwner : function(){
        console.log("verif", this.notification.whatObj, this.notifAutor.uid)
        return this.notification.whatObj.signedUid == this.notifAutor.uid
    }
  },
  
  
};
</script>
