<template>
<div>

  <v-row class="d-flex">
    <v-col cols="12" sm="12" md="10" lg="10" class="mx-auto" v-if="context==false">
      <Header></Header>
      <br><hr><br>
      <h1 class="text-center font-konkretika">
        <v-icon x-large>mdi-chart-line</v-icon> État du réseau
      </h1><br>
      <Dashboard :context="context"></Dashboard>
    </v-col>
    <template v-else>
      <v-col cols="12" class="py-0">
      <Dashboard :context="context"></Dashboard>
      </v-col>
    </template>
  </v-row>

</div>
</template>

<script>

import Dashboard from '@/components/admin/Dashboard.vue'
import Header from '@/components/home/Header.vue'

export default { 
  name: 'admin-dashboard',
  props: ['context'],
  components: {
    Dashboard, Header
  },
  data: () => ({
    
  }),
  async mounted(){

     
      
  },
  methods: {
  } ,
  computed: {
      contextIsAdmin : function(){
        return this.context !=null && this.context.user != null && this.context.user.isAdmin
      }

  },
}
</script>
