<template>
<v-row>

  <v-col cols="12" >
    <v-card max-width="600" class="mx-auto" color="transparent" flat>
        Ils sont connectés en ce moment sur le serveur <span class="primary--text">{{ iName }}</span>
        <template v-for="(p, i) in connectedList">
            <PageCard :page="p" :key="i" :context="context"></PageCard>
        </template>
        <br>
        <v-btn block @click="loadList">RELOAD</v-btn>
    </v-card>
  </v-col>
</v-row>
</template>

<style></style>

<script>

//import axios from 'axios'
//import router from '../router/router'
import core from '../../plugins/core.js'

//import Post from '@/components/Post.vue'
import PageCard from '@/components/page/PageCard.vue'

import io from 'socket.io-client';

var socket = null
if(localStorage.getItem("url") != null) 
  socket = io(localStorage.getItem("url") + ":" + localStorage.getItem("portSocket")) //8080");

export default {
  name: 'socket',
  components: { PageCard },
  props: [ 'context' ],
  data: () => ({
    
    connectedList: []
  }),
  async mounted(){

    socket.emit('get-connected')
    
    socket.on('send-connected', (data) => {
        console.log("send-connected", data)
        if(data != null) this.connectedList = data.clients
    })
  },
  methods: {
      loadList: function(){
          socket.emit('get-connected')
      }
  },
  computed: {
    
    
    iName: function(){ return core.iName(this.context.userPage.uid) }
    
  }
}
</script>
