<template>
    <!-- CONTACTS -->
    <v-card>
        <v-col>
            <v-row>
                <v-col>
                    <v-icon small>mdi-clipboard-account</v-icon>
                    <small v-if="!isMyContact">
                        {{ $vuetify.lang.t('$vuetify.post.dyw_addto_blacklist1') }} 
                        
                        <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link> 
                        {{ $vuetify.lang.t('$vuetify.post.dyw_addto_addToContact') }} ?<br>
                        <small>
                        {{ $vuetify.lang.t('$vuetify.post.dyw_addto_addToContact_sub') }}</small>
                    </small>
                    <small v-if="isMyContact">
                        <router-link :to="'/page/'+page.uid">
                            {{ page.name }}
                        </router-link> 
                        {{ $vuetify.lang.t('$vuetify.post.uAllreadyAre_contact') }}<br>
                        <small>{{ $vuetify.lang.t('$vuetify.post.dyw_contact_cancel') }} ?</small>
                    </small>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <v-btn block outlined small color="grey" @click="$root.$emit('closeBlock', page.uid)">
                        <v-icon small>mdi-cancel</v-icon> {{ $vuetify.lang.t('$vuetify.main.Cancel') }}
                    </v-btn>
                </v-col>
                <v-col>
                    <v-btn :loading="loading" block v-if="!isMyContact" small color="primary"  @click="addToContact">
                        <v-icon small>mdi-clipboard-account</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesAddToContact') }}
                    </v-btn>
                    <v-btn :loading="loading" block outlined v-if="isMyContact" small color="orange darken-2"  @click="removeFromContacts">
                        <v-icon small class="mr-1">mdi-account-remove-outline</v-icon> {{ $vuetify.lang.t('$vuetify.post.yesRemoveFromContact') }}
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-card>
    <!-- CONTACTS -->
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }
</style>

<script>
//import Post from '@/components/Post.vue'
import core from '../../plugins/core.js'
import axios from 'axios'

export default {
  name: 'blockContact',
  components: {  },
  data:() => ({
      loading: false,
  }),
  props: ['page', 'context' ],
  mounted: function(){
     
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },

    
    addToContact : async function(){
        console.log("addToContact")
        this.loading = true
        const res = await axios.post('/page/add-to-contacts', { 
                                        pageUid: this.page.uid,
                                        pageName: this.page.name
                                    })
                                    
        if(res.data.error == false){
            //this.postObj.text = res.data.postText
            //this.postObj = null
            this.showSnackbar = true
            this.snackText = this.page.name + " a été ajouté à votre liste de contact"
            this.snackColor = "success"            
            this.context.userPage.contacts.push({ uid: this.page.uid, name: this.page.name })
            this.$root.$emit('updateContext')
        }
        this.loading = false
        console.log("res /page/add-to-contact", res.data)
    },
    removeFromContacts: async function(){
        console.log("removeFromContacts")
        this.loading = true
        const res = await axios.post('/page/remove-from-contacts', { 
                                        pageUid: this.page.uid
                                    })
                                    
        if(res.data.error == false){
            let pos = -1
            this.context.userPage.contacts.forEach((p, i)=>{
                if(p.uid == this.page.uid) pos = i
            })
            if(pos > -1) this.context.userPage.contacts.splice(pos, 1)

            this.showSnackbar = true
            this.snackText = this.page.name + " a été retiré de votre liste de contacts"
            this.snackColor = "orange darken-3"

            this.$root.$emit('updateContext')
        }
        
        this.loading = false
        console.log("res /publication/delete-post", res.data)
    },


  },

  computed: {
    isFollowing: function(){
        return core.isFollowing(this.context, this.page.uid)
    },
    isMyContact: function(){
        return core.isMyContact(this.context, this.page.uid)
    },
    isBlacklisted: function(){
        return core.isBlacklisted(this.context, this.page.uid)
    },
  }
  
  
}
</script>