<template>
<v-col cols="12" id="formPosition">
    
   
    <small>
        <v-chip v-if="enableSetPos" small color="green">
            <v-icon small>mdi-check</v-icon> 
            Changement de position autorisé
        </v-chip>

        <v-chip small v-if="!enableSetPos" color="error">
            <v-icon small>mdi-cancel</v-icon> 
            Vous ne pouvez pas modifier votre position
        </v-chip>

        <v-chip small color="transparent" text-color="blue">
            dernier changement : {{ dateLastPos }}
        </v-chip>
    </small>
    

    <br><br>

    <v-text-field :disabled="!enableSetPos" hide-details 
                :placeholder="userPage.type=='user' ? 'Où habitez-vous ?' : 'Ville / commune'"
                label="Ville / commune" @change="searchPlace"
                outlined v-model="city"></v-text-field><br>

    <v-text-field :disabled="!enableSetPos" hide-details placeholder="rue, avenue..."
                label="Addresse" @change="searchPlace"
                outlined v-model="address"></v-text-field><br>


    <v-btn :disabled="!enableSetPos" block color="primary" @click="searchPlace">
        <v-icon small class="pa-1">mdi-magnify</v-icon> Rechercher
    </v-btn>
    
    <v-expand-transition v-if="enableSetPos">
    <v-list v-show="places.length > 0" dense id="list-places">
        <v-list-item-group  color="primary" > 
        <v-list-item color="primary"
            v-for="(place, i) in places"
            :key="i"
            @click="setNewCenter(place.lat, place.lng, place.text)"
        >
            <v-list-item-content>
              <v-list-item-title>
                <v-icon>mdi-map-marker</v-icon> 
                {{ place.text }}
              </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
        </v-list-item-group>
    </v-list>
    </v-expand-transition>
    <br>
    <l-map ref="map" id="form-map-container" :zoom="zoom"  :maxZoom="maxZoom" :minZoom="minZoom" :center="mapCenter"  
        style="width:100%;height:320px; margin-bottom:15px" v-show="showMap && enableSetPos">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <l-marker :lat-lng="[lat, lng]" ref="marker" :icon="markerIconRoot"
                    draggable @dragend="dragend">
            <l-popup class="text-center" :open="true">
            <br>
            <v-chip color="primary" style="margin-top:7px;">
              <v-icon small>mdi-map-marker</v-icon> {{ cityAddressPopup }}
            </v-chip>
            <br><br>
            <h4><v-icon small>mdi-drag-variantr</v-icon> Déplacez l'îcone<br>pour un positionement plus précis</h4><br>
            <v-btn small color="secondary" style="width:100%" @click="savePosition">
                <v-icon small>mdi-check</v-icon> Enregistrer cette position
            </v-btn>
            </l-popup>
        </l-marker>
        <v-marker-cluster ref="markerCluster" :options="clusterOptions"></v-marker-cluster>
    </l-map>

    <v-btn block color="secondary" :disabled="!enableSetPos" @click="savePosition">
        <v-icon small class="pa-1">mdi-check</v-icon> Enregistrer cette position
    </v-btn>

    <br>
    <hr>
    <br>

    <h5>
        <v-icon small>mdi-chevron-right</v-icon> 
        Pour fonctionner, le réseau Plaanet a besoin d'associer une position géographique à chacun de ses utilisateurs

        <v-btn outlined class="ml-2 my-2"
               x-small @click="showModalPosition=!showModalPosition">
              en savoir <v-icon small>mdi-plus</v-icon> 
        </v-btn>
    </h5>
        
    <br>
    <v-alert dense v-if="enableSetPos"
            outlined
            type="error" color="error">
      <small>1 changement autorisé par jour</small>
    </v-alert>


    <modalPosition :show="showModalPosition"></modalPosition>


</v-col>
</template>

<style >

  @import "~leaflet/dist/leaflet.css";
  #formPosition .leaflet-popup-close-button{
    margin: 10px;
  }

  #formPosition .leaflet-popup-content .v-chip__content{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #formPosition .leaflet-popup-content {
    margin: 10px 10px;
    line-height: 1.2;
    max-width: 250px;
    width: 250px!important;
  }
  #formPosition .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba(45, 44, 44, 0.95);
    box-shadow: rgba(45, 44, 44, 0.95);
    color:white
  }
  div.v-alert__content {
    text-align: left !important;
}
  #form-map-container{
    z-index:0;
    background-color: #1b2f35;
  }

</style>

<script>

import axios from 'axios'
import router from '../../router/router'
import core from '../../plugins/core.js'

//import Post from '@/components/Post.vue'

import L from 'leaflet';
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet'
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'

import ModalPosition from '@/components/main-layout/modals/ModalPosition.vue'

export default {
  name: 'empty',
  components: { LMap, LTileLayer, LMarker, LPopup, ModalPosition, 
                'v-marker-cluster' : Vue2LeafletMarkerCluster  },
  props : [ 'userPage', 'showMapParent'],
  data: () => ({
    showMap: true,
    city: "",
    address: "",
    cityAddress: "",
    cityAddressPopup: "",
    lat: null,
    lng: null,
    zoom:13,
    maxZoom: 15,
    minZoom: 2,
    mapCenter: L.latLng(47.413220, -1.219482),
    url : '//stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
    attribution:'&copy; <a href="http://osm.org/copyright">OSM</a>',
    popupContent: "ok",
    loadPlaces: false,
    places: [],

    showModalPosition: false,
    
    clusterOptions: { showCoverageOnHover: false, maxClusterRadius: 30 },
    streamLoading: false,
    mapPages: [],
    totalUserPages: 0,
  }),
  async created(){
    this.city = this.userPage.city
    this.cityAddressPopup = (this.userPage.city != null) ? this.userPage.city : '' 
                            + " " + 
                            (this.userPage.cityAddress != null) ? this.userPage.cityAddress : ''

    if(this.userPage.coordinates != null){
      this.lat = this.userPage.coordinates[1]
      this.lng = this.userPage.coordinates[0]
      this.mapCenter = L.latLng(this.lat, this.lng)
    }


    delete L.Icon.Default.prototype._getIconUrl  
      L.Icon.Default.mergeOptions({  
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),  
        iconUrl: require('leaflet/dist/images/marker-icon.png'),  
        shadowUrl: require('leaflet/dist/images/marker-shadow.png')  
    })

      setTimeout(()=>{ 
        this.$refs.map.mapObject.invalidateSize();
        //this.showMap = false
      }, 1000)
    
    this.$root.$off('invalidateSize').$on('invalidateSize', () => { 
      this.refreshMap()
    })

  },
  methods: {
    
    searchPlace: async function(){
        try{
         let query = this.city + " " + this.address
         this.loadPlaces = true
         axios.get('https://nominatim.openstreetmap.org/search?q=' + query + "&format=json&addressdetails=1")
              .then( res => {
                  this.places = []
                  if(res.data.length == 0) return

                  console.log("res nominatim", query, this.places)
                  this.loadPlaces = false
                  res.data.forEach(el => {
                    if(this.places.length < 4)
                    //if(el.type == "city" || el.type == "administrative" || el.type == "postcode"){
                       this.places.push({ text : el.display_name,
                                          lat: el.lat,
                                          lng: el.lon, })
                    //}
                  });
                  this.scrollToId('list-places')
              }).catch(res =>{ console.log("error 1 nominatim", res) })
      }catch(e){
        console.log("error 2 nominatim", e)
      }
    },
    
    setNewCenter: function(lat, lng, cityAddress){
        
      this.$refs.map.mapObject.invalidateSize();

      lat = parseFloat(lat)
      lng = parseFloat(lng)
      this.mapCenter = [lat, lng]
      this.lat = lat
      this.lng = lng
      console.log("coordinates ", this.lat, this.lng, this.mapCenter, this.userPage.coordinates)
      this.cityAddressPopup = cityAddress
      this.showMap = true
      this.zoom = 13
      this.scrollToId('form-map-container')
      //let marker = this.$refs.marker.mapObject
      setTimeout(() => {
        this.$refs.marker.mapObject.openPopup()    
        this.$refs.map.mapObject.invalidateSize();
      }, 500)
      
    },
    scrollBottom: function(){
      setTimeout(() => {
        document.getElementsByTagName('html')[0].scrollTop = 
          document.getElementsByTagName('html')[0].offsetHeight+200
          console.log("offsetHeihgt", document.getElementById('form-map-container').offsetTop)
      }, 500)
    },
    scrollToId: function(id){
      setTimeout(() => {
        this.$vuetify.goTo('#' + id)
      }, 500)
    },

    dragend(e){ 
      e.target.openPopup()
      this.lat = e.target.getLatLng().lat
      this.lng = e.target.getLatLng().lng
      this.loadPages()
      
      console.log("dragend", e.target.getLatLng())
    },

    savePosition: async function(){
      try{
        console.log("userpage ?", this.userPage.uid)
        const res = await axios.post('/page/edit-position', 
                                      { pageUid: this.userPage.uid,
                                        lat: this.lat,
                                        lng: this.lng,
                                        city: this.city,
                                        address: this.address })
        console.log("res", res.data)
        if(res.data.error == false){
          this.userPage.lat = this.lat
          this.userPage.lng = this.lng
          this.userPage.city = this.city
          this.userPage.address = this.address
          this.userPage.dateLastPosition = this.dateLastPosition
          this.showFormPosition = false
          this.$root.$emit('nextFirstStep')
          //localStorage.setItem("mainPosition", JSON.stringify({ lat:parseFloat(this.lat), lng: parseFloat(this.lng) }))
        }
      }catch(e){
        router.push('/login');
      }
    },

     loadPages : async function(){

        this.mapPages = []
        
        let params = {  lat: this.lat, 
                        lng: this.lng, 
                        radius: 5000,
                        streamOrigin: 'stream' }

        this.streamLoading=true
        const res = await axios.post('/page/get-map-pages', params)
        this.streamLoading=false
        console.log("res /page/get-map", res.data)
        this.mapPages = res.data.mapPages
        this.updateMarkersPages()
        this.streamLoading = false
        console.log("res /page/get-map", this.mapPages)

        this.streamLoading=true
        axios.post('/page/get-count-pages', params).then((resCount)=>{
          this.streamLoading=false
          console.log("/page/get-count-pages", resCount)
          if(resCount.data.error == false){
            this.totalUserPages = resCount.data.count
          }
        })        
      },

      updateMarkersPages: function(){ 
          this.showScopeCircle = false
          let mks = this.$refs.markerCluster.mapObject
          if(mks != null) mks.clearLayers()
          //let cnt = 0
          this.mapPages.forEach((page) => {
            if(page.uid != localStorage.getItem("user_page_uid") && page.coordinates != null){
              //cnt++
              let icon = this.markerIconPage(page.uid)
              console.log("show page on map", page.name, icon)
              let marker = L.marker([page.coordinates[1], page.coordinates[0]], { icon: icon })
              mks.addLayer(marker)
            }
          })
          //this.totalUserPages = cnt
      },

      markerIconPage: function(uid){
        let avatar = core.avatarUrl(uid) //'markers/icon-popup.png'
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [30, 30], // size of the icon
            iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -15] // point from which the po
        });
      },


      refreshMap: function(){
        setTimeout(()=>{ 
          this.$refs.map.mapObject.invalidateSize();
          //this.showMap = false
        }, 1000)
      }

  },
  computed: {
    
    enableSetPos: function(){ 
      if(this.userPage.dateLastPosition == null) return false

      let today = new Date()
      today.setHours(0,0,0,0)
      let last = new Date(this.userPage.dateLastPosition)
      console.log("enableSetPos", last, today, this.userPage.created, this.userPage.dateLastPosition)
      if(last > today 
      && this.userPage.dateLastPosition != this.userPage.created)
      return false
      else return true
    },
    dateLastPos: function(){
      let date = this.userPage.dateLastPosition
      const options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };
      date = new Date(date)
      return date.toLocaleDateString('fr', options)
    },
    markerIconRoot: function(){
        let avatar = core.avatarUrl(this.userPage.uid)
        return L.icon({
            iconUrl: avatar, //'markers/root-marker-earth.png',
            iconSize:     [60, 60], // size of the icon
            iconAnchor:   [30, 30], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -30] // point from which the po
        });
      },
  }
}
</script>
