<template>
    <v-col cols="12" class="mt-2">
        <h5>
            <v-icon>mdi-chevron-right</v-icon> 
            Ce qui fait la richesse d'un réseau comme Plaanet, ce sont vos messages !
                   
            <br>

        </h5><br>
        <h5>
            <v-icon>mdi-chevron-right</v-icon> 
            Qu'avez-vous à dire aux rebels qui peuple notre Plaanet ?<br>
            Qu'est-ce qui vous a motivé à vous inscrire ici ?
            Que pensez-vous de la situation politique actuelle ? Selon-vous, que doit-on faire pour s'en sortir ? 
            <br><br>
            Autant de question qui permettront de briser la glace, et commencer à discuter de
            ce que nous vivons en ce moment, et de ce que nous pouvons faire collectivement pour y remédier...  
        </h5>
        <br>

        <v-textarea
          auto-grow solo
          label="Votre message..."     
          :counter="postText.length > 1980"    
          :rules="rulesTxtareaEditPost"
          v-model="postText"
          @change="extractMeta"
        ></v-textarea>
        <v-chip color="red" class="mb-2" v-if="postTextError!=''">{{ postTextError }}</v-chip>
        <v-col cols="12" class="pa-0 text-right">
            <v-btn block color="secondary" @click="sendPost">
              <v-icon small>mdi-check</v-icon> Envoyer le message
            </v-btn>
        </v-col>
    </v-col>
</template>



<script>

import axios from 'axios'
import CTP from 'circle-to-polygon';
//import router from '../../router/router'
//import core from '../../plugins/core.js'

export default {
  name: 'formTags',
  props: [ 'page' ],
  data: () => ({
    rulesTxtareaEditPost: [v => v.length <= 2000 || 'Max 2000 characters'],
    postText: "",
    postTextError: '',
    postTagText: "",
    postSignedUid: "",
    postMentions: [],
    postSharable: true,
    postRadius: 500000
    
  }),
  async mounted(){
      
  },
  methods: {
      sendPost: async function(){
        
        let fromCity = await this.getFromCity()
        const res = await axios.post('/publication/send-first-post', 
                                      { text: this.postText, 
                                        fromCity: fromCity,
                                        scopeGeo: this.getPolygonCircle(),
                                        embedMetaLinks: this.embedMetaLinks
                                      })
        
        if(res.data.error == true){
          console.log("error /publication/send-first-post", res.data)
          this.postTextError = "Sorry, an error occured."
        }else{
          //localStorage.removeItem("firstStep")
          this.$root.$emit('nextFirstStep')
          //router.push('/stream')
        }
        
        console.log("res /publication/send-post", res.data)

      },

      extractMeta: async function(){
        //let links = GetUrls(this.postText)
        var matches = this.postText.match(/\bhttps?:\/\/\S+/gi);
        this.embedMetaLinks = []
        if(matches != null)
        matches.forEach(async (link, i) => {
          const res = await axios.post('/publication/extract-meta', 
                                      { link: link })
          console.log("request for", link, i, res)
          this.embedMetaLinks.push(res.data.embedMetaLink)
        })
        
      },
      removeMetaLink: function(i){
        this.embedMetaLinks.splice(i, 1)
      },


      getPolygonCircle: function(){
        return CTP([this.page.coordinates[0], this.page.coordinates[1]], this.postRadius, 30)
      },
      getFromCity: async function(){
        //https://nominatim.openstreetmap.org/reverse?
        console.log("this.page.coordinates", this.page.coordinates)
        var query = "lat="+this.page.coordinates[1]+"&lon="+this.page.coordinates[0]+"&format=json"
        const res = await axios.get('https://nominatim.openstreetmap.org/reverse?'+query)
        
        var attr = ["city", "state", "country"]
        var city = ""
        attr.forEach(function(att){
          console.log("c", res.data)
          let c = res.data.address[att]
          console.log("reverse nominatim1", c)
          if(city == "" && c != "" && c != null) city = c
        })
        console.log("reverse nominatim2", city)
        return city
        
      },

  }
}

</script>