<template>
    <v-col cols="12" class="mt-2">
        <h5>
        <v-icon>mdi-chevron-right</v-icon> 
        Les tags permettent aux autres utilisateurs de vous trouver plus facilement lors de leurs recherches...
        <br> 
        <!-- <br> -->
        <!-- <small>
            <v-icon small>mdi-chevron-double-right</v-icon> 
            Choisissez parmis les suggestions, ou saisissez vos propres tags
        </small>
        <br> -->
        <!-- <small> -->
            <v-icon>mdi-chevron-right</v-icon> 
            Commencez chaque tag par # et séparez-les par un espace
            : #tag #jag #zag
        <!-- </small> -->
        </h5>

        <br>
        
        <p class="pa-2 ma-0">
            <v-icon small>mdi-chevron-down</v-icon> 
            Si vous deviez vous définir en tant que rebel, vous seriez plutôt...<br>
            <small class="d-none d-md-flex">
                <v-icon small class="ml-4">mdi-chevron-double-right</v-icon> 
                Choisissez parmis les suggestions, ou saisissez vos propres tags
            </small>
        </p>
        <v-toolbar id="toolbar-contentt" dense 
            style="margin:0;" color="grey darken-4">
            
            <v-text-field clearable
                hide-details placeholder="#général" style="margin:0 15px 0 15px;"
                single-line v-model="tagsG"  class="input-search" color="blue"
            ></v-text-field>

            <v-btn icon color="grey" style="margin-right:0px" 
                    title="afficher les suggestions" @click="showTagsSuggestG=!showTagsSuggestG">
                <v-icon>mdi-palette-outline</v-icon>
            </v-btn>
        </v-toolbar>

        <v-card color="grey darken-4" v-show="showTagsSuggestG" style="border-radius:0px;">
            <v-col class="pt-1">
                <!-- <h4>#hashtags</h4> -->
                    <v-col class="pa-0">
                    <template v-for="(tag, i) in tagsSuggestG">
                    <v-chip @click="addTagG(tag.tag)" small 
                            :color="tagsG!=null && tagsG.indexOf(tag.tag) > -1 ? 'blue' : ''"
                            :key="i" class="mr-2 mt-2">
                            {{ tag.tag }} 
                    </v-chip>
                    </template> ...
                </v-col>
            </v-col>                
        </v-card>
        
        <p class="pa-2 ma-0 mt-5">
            <v-icon small>mdi-chevron-down</v-icon> 
            Quels #tags qui correspondent le mieux à vos compétences ?<br>
            <small class="d-none d-md-flex">
                <v-icon small class="ml-4">mdi-chevron-double-right</v-icon> 
                Choisissez parmis les suggestions, ou saisissez vos propres tags
            </small>
        </p>
        <v-toolbar id="toolbar-contentt" dense 
            style="margin:0;" color="grey darken-4">
            
            <v-text-field clearable
                hide-details placeholder="#compétences" style="margin:0 15px 0 15px;"
                single-line v-model="tagsC"  class="input-search" color="blue"
            ></v-text-field>

            <v-btn icon color="grey" style="margin-right:0px" 
                    title="afficher les suggestions" @click="showTagsSuggestC=!showTagsSuggestC">
                <v-icon>mdi-palette-outline</v-icon>
            </v-btn>
        </v-toolbar>
        <v-card color="grey darken-4" v-show="showTagsSuggestC" style="border-radius:0px;">
            <v-col class="pt-1">
                <!-- <h4>#hashtags</h4> -->
                    <v-col class="pa-0">
                    <template v-for="(tag, i) in tagsSuggestC">
                    <v-chip @click="addTagC(tag.tag)" small 
                            :color="tagsC!=null && tagsC.indexOf(tag.tag) > -1 ? 'blue' : ''"
                            :key="i" class="mr-2 mt-2">
                            {{ tag.tag }} 
                    </v-chip>
                    </template> ...
                </v-col>
            </v-col>                
        </v-card>

        
        <p class="pa-2 ma-0 mt-5">
            <v-icon small>mdi-chevron-down</v-icon> 
            Quels sont les mouvements sociaux que vous soutenez ?<br>
            <small class="d-none d-md-flex">
                <v-icon small class="ml-4">mdi-chevron-double-right</v-icon> 
                Choisissez parmis les suggestions, ou saisissez vos propres tags
            </small>
        </p>
        <v-toolbar id="toolbar-contentt" dense  color="grey darken-4"
            style="margin:0; border-radius:5px;">
            
            <v-text-field clearable
                hide-details placeholder="#mouvements" style="margin:0 15px 0 15px;"
                single-line v-model="tagsM"  class="input-search" color="blue"
            ></v-text-field>

            <v-btn icon color="grey" style="margin-right:0px" 
                    title="afficher les suggestions" @click="showTagsSuggestM=!showTagsSuggestM">
                <v-icon>mdi-palette-outline</v-icon>
            </v-btn>
        </v-toolbar>
        <v-card v-show="showTagsSuggestM"  color="grey darken-4" class="mb-5" style="border-radius:0px;">
            <v-col class="pt-1">
                <!-- <h4>#hashtags</h4> -->
                    <v-col class="pa-0">
                    <template v-for="(tag, i) in tagsSuggestM">
                    <v-chip @click="addTagM(tag.tag)" small 
                            :color="tagsM!=null && tagsM.indexOf(tag.tag) > -1 ? 'blue' : ''"
                            :key="i" class="mr-2 mt-2">
                            {{ tag.tag }} 
                    </v-chip>
                    </template> ...
                </v-col>
            </v-col>                
        </v-card>


        <v-btn block color="secondary" @click="saveTags">
        <v-icon small>mdi-check</v-icon> Enregistrer les tags
        </v-btn>
    </v-col>
</template>



<script>

import axios from 'axios'
//import router from '../router/router'
import core from '../../plugins/core.js'

export default {
  name: 'formTags',
  props: [ 'page' ],
  data: () => ({
    tagsG: "",
    tagsC: "",
    tagsM: "",
    showTagsSuggestG: true,
    showTagsSuggestC: true,
    showTagsSuggestM: true,
    tagsSuggestG: [
            { tag: '#bénévoleAsso' },
            { tag: '#médiaIndependant' },
            { tag: '#décroissant' },
            { tag: '#enColère' },
            { tag: '#pacifiste' },
            { tag: '#autonomiste' },
            { tag: '#désobéissant' },
            { tag: '#constituant' },
    ],
    tagsSuggestC: [
            { tag: '#soignant' },
            { tag: '#permaculteur' },
            { tag: '#boulanger' },
            { tag: '#artisan' },
            { tag: '#avocat' },
            { tag: '#scientifique' },
            { tag: '#informaticien' },
            { tag: '#bricoleur' },
            { tag: '#chercheur' },
    ],
    tagsSuggestM: [
            { tag: '#GiletsJaunes' },
            { tag: '#GrèveGénérale' },
            { tag: '#RIC' },
            { tag: '#XR' },
            { tag: '#Colibris' },
    ]
    
  }),
  watch: {
    page: {
        // the callback will be called immediately after the start of the observation
        immediate: true, 
        handler (val, oldVal) {
            console.log("watch page", val, oldVal)
            if(val != null && val.hashtags != null){
                console.log("this.page", val, val.hashtags)
                this.tagsG = this.strTags(val.hashtagsG)
                this.tagsC = this.strTags(val.hashtagsC)
                this.tagsM = this.strTags(val.hashtagsM)
            }
        }
    }
  },
  async mounted(){
      
  },
  methods: {
      strTags: function(tagArray){
          if(tagArray==null) return ""
          let str = ""
          tagArray.forEach(tag=>{
              str+=(str=="" ? "" : " ") + tag
          })
          return str
      },
      saveTags: async function(){
        let G = core.extractTags(this.tagsG)
        let C = core.extractTags(this.tagsC)
        let M = core.extractTags(this.tagsM)
        let all = []
        if(G != null) all = all.concat(G)
        if(C != null) all = all.concat(C)
        if(M != null) all = all.concat(M)

        let check = []
        all.forEach(tag => {
            if(check.indexOf(tag) == -1) check.push(tag)
        });
        all = check
        //all = all.concat(M)
        console.log("saveTags", G, C, M, all)

        const res = await axios.post('/page/edit-tags', { tagsG: G,
                                                          tagsC: C,
                                                          tagsM: M,
                                                          tags: all, })

        if(res.data.error == false){
            this.$root.$emit('nextFirstStep')
            console.log("success /page/edit-tags", res.data)
        }else{
            console.log("error /page/edit-tags", res.data)
        }
        
      },
      addTagG: function(tag){ let pos = this.tagsG.indexOf(tag)
        if(pos > -1) this.tagsG = this.tagsG.replace(tag, '').trim()
        else         this.tagsG += ' ' + tag
      },
      addTagC: function(tag){ let pos = this.tagsC.indexOf(tag)
        if(pos > -1) this.tagsC = this.tagsC.replace(tag, '').trim()
        else         this.tagsC += ' ' + tag
      },
      addTagM: function(tag){ let pos = this.tagsM.indexOf(tag)
        if(pos > -1) this.tagsM = this.tagsM.replace(tag, '').trim()
        else         this.tagsM += ' ' + tag
      }
  }
}

</script>