<template>
<v-card max-width="800" class="mx-auto mt-3" color="rgb(38, 37, 40)">
      
    <v-list three-line color="transparent">
    
        <v-list-item>
            <router-link style="color:white; text-decoration:none;"  :to="'/page/'+page.uid">
                <!-- <v-list-item-avatar class="mt-6 mr-2"> -->
                    <img :src="avatarUrl(page.uid)" height="45" class="mr-3">
                <!-- </v-list-item-avatar>  -->
            </router-link>

            <v-list-item-content>
                <router-link style="color:white; text-decoration:none;" 
                            :to="'/page/'+page.uid" v-text="page.name"></router-link>

                <small v-if="page.city!=null"><small>
                    <v-icon x-small>mdi-map-marker</v-icon> {{ page.city }}
                </small></small>

                <router-link v-if="page.description!=null" style="color:white; text-decoration:none;"  :to="'/page/'+page.uid">
                    <v-card-text class="pa-0" style="font-size:0.8em;max-width:550px;"
                                v-html="completeText(page.description.substr(0,130) + ((page.description.length > 130) ? '...' : ''))" >   
                    </v-card-text>
                </router-link>
                
                <v-col class="pa-0">
                    <v-chip v-if="page.followers != null" small text-color="primary" color="rgba(29, 59, 70, 0.5)" class="mt-2 pl-2">
                        <v-icon class="mr-1" x-small>mdi-link-variant</v-icon> {{ page.followers.length }} 
                        {{ $vuetify.lang.t('$vuetify.main.follower'+(page.followers.length > 1 ? 's' : '')) }}
                    </v-chip>
                    <div class="d-none d-sm-inline pa-0"  v-if="page.hashtags != null && page.hashtags.length > 0">
                        <template v-for="(tag, i) in page.hashtags">
                            <v-chip small v-if="i<3" :key="i" 
                                    class="mr-2 mt-2 pa-1" color="transparent" text-color="blue">
                                    {{ tag }} 
                            </v-chip>
                        </template>
                            <small class="blue--text" v-if="page.hashtags.length>3">...</small>
                    </div>
                </v-col>
            </v-list-item-content>
            <v-list-item-content style="max-width:30px; margin-left:5px; padding:0px;">
                <!-- FOLLOW -->
                <v-btn small icon color="primary" @click="toolKey = 'remove-follow'" v-if="isFollowing"
                        title="Se désabonner de cette page">
                    <v-icon small>mdi-link-variant-off</v-icon> 
                </v-btn>
                <v-btn small icon @click="toolKey = 'add-follow'" v-else
                        title="S'abonner à cette page">
                    <v-icon small>mdi-link-variant</v-icon>
                </v-btn>
                <!-- CONTACTS -->
                <v-btn small icon color="primary" @click="toolKey = 'remove-contact'" v-if="isMyContact"
                        title="Effacer de vos contacts">
                    <v-icon small>mdi-account-remove-outline</v-icon>
                </v-btn>
                <v-btn small icon @click="toolKey = 'add-contact'" v-else
                        title="Ajouter à vos contacts">
                    <v-icon small>mdi-clipboard-account</v-icon>
                </v-btn>
                <!-- BLACKLIST -->
                <v-btn small icon color="primary" @click="toolKey = 'remove-blacklist'" v-if="isBlacklisted"
                        title="Ajouter à votre liste noire">
                    <v-icon small>mdi-eye-check-outline</v-icon>
                </v-btn>
                <v-btn small icon @click="toolKey = 'add-blacklist'" v-else
                        title="Supprimer de votre liste noire">
                    <v-icon small>mdi-scissors-cutting</v-icon>
                </v-btn>
            </v-list-item-content>

        </v-list-item>
    </v-list>

    <BlockFollows   :page="page" :context="context" 
                    v-if="toolKey.indexOf('follow') > -1">
    </BlockFollows>
    <BlockContact   :page="page" :context="context" 
                    v-if="toolKey.indexOf('contact') > -1">
    </BlockContact>
    <BlockBlacklist :page="page" :context="context" 
                    v-if="toolKey.indexOf('blacklist') > -1">
    </BlockBlacklist>


</v-card>
</template>


<style>
    p small{
        font-weight: 200;
        font-size:0.7em;
    }
</style>

<script>
import BlockFollows from '@/components/page/BlockFollows.vue'
import BlockContact from '@/components/page/BlockContact.vue'
import BlockBlacklist from '@/components/page/BlockBlacklist.vue'
import core from '../../plugins/core.js'

export default {
  name: 'pageCard',
  components: { BlockFollows, BlockContact, BlockBlacklist },
  data:() => ({
      toolKey: ''
  }),
  props: ['page', 'context' ],
  mounted: function(){
      this.$root.$on('closeBlock', (uid) => { 
        if(this.page.uid == uid) this.toolKey = ''
      })
  },
  methods: {
     
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    nl2br: function(str, is_xhtml){
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }, 
    completeText: function(text){
        return core.completeText(text, null, false)
    }

  },

  computed: {
      isFollowing: function(){
        return core.isFollowing(this.context, this.page.uid)
    },
    isMyContact: function(){
        return core.isMyContact(this.context, this.page.uid)
    },
    isBlacklisted: function(){
        return core.isBlacklisted(this.context, this.page.uid)
    },
    
  }
  
  
}
</script>