<template>
  <v-app id="inspire">
    
    <MenuLeftTopBar v-if="isLogin && context != null && context != false"
                    :context="context" :notifications="notifications"/>

    <div id="notif">
      <v-navigation-drawer
        v-model="showNotifDrawer"
        v-show="showNotifDrawer"
        absolute
        temporary
        right
        class="drawer-notifications"
        id="drawer-notifications"
      >
      
        <v-app-bar 
            absolute
            color="#212121"
            dark
            hide-on-scroll
            scroll-target="#notif .v-navigation-drawer__content"
            style="left:1px; height:unset;"
            
          >
            
            <v-toolbar-title class="pa-3" style="font-size:1em;">
              
              <v-icon>mdi-bell</v-icon> {{ notifications.length }} 
              notification<span v-show="notifications.length>1">s</span>
            
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn fab x-small class="ma-3" color="primary" @click="showNotifDrawer=false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-app-bar>


        <v-card v-for="(notification, i) in notifications" :key="i" class="ma-2" >
          <Notification :notification="notification"/>
        </v-card>
      </v-navigation-drawer>
    </div>
    

    <v-content :class="!isLogin ? 'disconected' : ''">
      <v-container :class="showPostSelected ? 'notif-open' : ''">

        <router-view v-if="!isLogin || (isLogin && context!=null && context!=false)" 
                    :context="context" :countConnected="countConnected"/>
        
        <template v-else>
          <v-col class="mx-auto" style="max-width:400px; margin-top:100px;">
            <v-card class="pa-5 text-center">
              <img alt="Plaanet" src="./assets/nexxo-logo.png" height=80 style="position: absolute;margin-left: -13px;margin-top: -12px;">
              <v-btn style="border-width:3px;" :loading="true" fab outlined color="white"><v-icon>mdi-close</v-icon></v-btn><br><br>
              <h3 class="font-konkretika">Merci de patienter pendant le chargement de l'application</h3>
            </v-card>
          </v-col>
        </template>
      </v-container>
    </v-content>


    <div v-show="false">{{ drawerPostStatus }}</div>


    <v-navigation-drawer  @close="closePostSelected"
      v-model="showPostSelected"
      v-show="showPostSelected"
      absolute
      hide-overlay
      right
      class="drawer-single-post"
      id="drawer-post-selected"
    >
    
      <div style="">
      <v-row flex class="ma-3 mb-1">
          
          <v-app-bar v-if="postSelected!=null"
            absolute
            color="#212121"
            dark
            height="100"
            hide-on-scroll
            scroll-target="#drawer-post-selected .v-navigation-drawer__content"
            style="left:1px; height:unset;"
            
          >
            
            <v-toolbar-title class="pa-3" style="font-size:0.8em;">
              
                <v-icon>mdi-eye</v-icon> 
                Discussion en direct<br>
                <small>Recevez tous les commentaires dès qu'ils sont publiés...</small>
                <br>
                
                <v-icon small>mdi-account</v-icon> 
                {{ postSelected.viewers.length }} 

                <small v-if="postSelected.viewers.length <= 1">personne connectée</small>
                <small v-if="postSelected.viewers.length > 1">personnes connectées</small>
                
                <template v-for="(viewer, i) in postSelected.viewers">
                    <img v-if="i < 10" :key="i" :title="'on node :'+iName(viewer)" :to="'/page/'+viewer"
                        :src="avatarUrl(viewer)" width="20" class="ma-1" style="margin-bottom:-6px!important"/>
                </template>
            

            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn fab x-small class="ma-3" color="primary" @click="closePostSelected">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-app-bar>
          
      </v-row>
      </div>

      <v-col class="pb-0" style="padding-top:80px;" v-if="postSelected!=null"
      >
        <v-col class="text-left pa-0" >
          
          <p class="mb-2" style="max-width:600px;">

          </p>
        </v-col>
        <Post :post="postSelected" origin="singlePost" ref="postDrawer"></Post>
      </v-col>


      <v-col v-if="postSelected==null">
        <v-card style="min-width: 300px; margin:auto; margin-bottom:10px; padding-top:15px;" >
          <v-skeleton-loader ref="skeleton"
              :boilerplate="false"
              type="list-item-avatar-three-line"
              :tile="false"
              class="mx-auto"
          ></v-skeleton-loader> 
        </v-card>
      </v-col>
      
      <!-- <v-col style="padding-bottom:20px;">
        <v-btn block @click="closePostSelected">
          <v-icon>mdi-close</v-icon> fermer
        </v-btn>
      </v-col> -->


    </v-navigation-drawer>
   

    <v-snackbar :timeout="5000" v-model="snackbarNotif" bottom right :color="snackbarColor" class="snackbar">
      {{ snackbarNotifText }}
      
      <Notification v-if="snackNotif != null" :notification="snackNotif"/>
      
      <v-btn class="ma-1" darken @click="snackbarNotif = false" :color="snackbarColor + ' darken-3'">
        <v-icon>mdi-check</v-icon>
      </v-btn>
    </v-snackbar>


    <audio :src="soundNotifValidated" preload="auto" id="soundNotifValidated">
      <p>Your browser does not support the <code>audio</code> element.</p>
    </audio>
    <audio :src="soundNotifPending" preload="auto" id="soundNotifPending">
      <p>Your browser does not support the <code>audio</code> element.</p>
    </audio>

  </v-app>
</template>

<style>

  .disconected .v-content__wrap{
    background-size: cover;
    background: fixed url('./assets/crysys/bg-crysys-empty.png') top center !important;
    background-color: black;
  }

  @font-face{
      font-family: Konkretika;
      src: url('./assets/fonts/Konkretika.ttf');
  }.font-konkretika{font-family:"Konkretika"!important;font-weight:200!important;}

  .app-footer a{
    text-transform: none!important;
  }
  
  a{
    text-decoration: none!important;
  }
  
  .container.notif-open #private .main-container{
    margin-right: 50%!important;
  }
  .container.notif-open .card-container{
    margin-right: 50%!important;
  }

    .v-application, .v-btn{
      font-family: 'Raleway', sans-serif;
      font-weight: 800 !important;
      letter-spacing: unset !important;
    }
    .drawer-notifications{
      width:100%!important;
      max-width:500px!important;
      /* top:55px!important; */
      /* padding-top:15px; */
      /* z-index:4!important; */
      bottom: 0px;
      position: fixed;
      /* width:400px!important; */
    }
    #notif .v-navigation-drawer__content{
      padding-top:80px;
    }
    .theme--dark.v-navigation-drawer {
      background-color: #313131;
    }
    .container div {
        text-align: left !important;
    }
    div.v-alert__content{
      text-align: center !important;
    }
    #notif .v-overlay{
      display:none!important;
    }
    .snackbar{
      bottom: 0px !important;
    }
    .snackbar .v-snack__wrapper{
      background-color: #232828!important;
      border-radius: 5px 0 0 0 !important;
    }
    .snackbar .v-snack__wrapper .notif-wrapper{
      border:none!important;
    }
    .snackbar .v-snack__wrapper .col{
      padding:0px!important;
    }
    .snackbar .v-snack__content{
      padding:4px!important;
    }
    .snackbar .v-snack__wrapper .notif-wrapper{
      max-width:84%!important;
    }

    .snackbar .v-card__text{
      display: none!important;
    }
    .drawer-single-post{
      position:fixed;
      width:unset!important;
      background-color: #212121!important;
      z-index:11;
      will-change: unset;
    }
  .leaflet-popup-close-button{
    margin: -10px!important;
    background:#393939!important;
    height: 27px!important;
    width: 27px!important;
    padding: 4px!important;
    border-radius: 20px!important;
    border: 2px solid#dfdfdf!important;
  }
  .leaflet-container{
    z-index:1;
  }

  .v-bottom-navigation .v-btn:not(.v-btn--round).v-size--default{
    height:unset;
  }

  .theme--dark.v-application {
    background: #2b2a2d!important;
  }

   .theme--dark .drawer-notifications,
  .theme--dark .v-bottom-navigation,
  .theme--dark.v-sheet,
  .theme--dark .v-card{
      background-color: #212121;
      color:white;
  }

   .v-dialog, .v-dialog:not(.v-dialog--fullscreen){
    max-height:100%!important;
    margin:0px!important;
  }

  </style>
<script>

import MenuLeftTopBar from '@/components/main-layout/MenuLeftTopBar.vue'
import Notification from '@/components/main-layout/Notification.vue'


//import router from './router/router'
import axios from 'axios'
import config from './config/default'

import io from 'socket.io-client';
import Post from '@/components/Post.vue'
import core from './plugins/core.js'


import '@/assets/css/post.css';


console.log("url socket ?", localStorage.getItem("url"))
var socket = null
if(localStorage.getItem("url") != null) 
  socket = io(localStorage.getItem("url") + ":" + localStorage.getItem("portSocket")) //8080");

//import openSocket from 'socket.io-client';
//const socket = openSocket("localhost:3000");

export default {
  name: 'App',
  
  components: {
    MenuLeftTopBar, Notification, Post
  },

  data: () => ({
    baseUrl: "",
    name: "",
    snackbarNotif: false,
    snackbarNotifText: "",
    snackbarColor: 'green',
    snackNotif: null,
    soundNotifPending: 'sounds/sound-notification.wav',
    soundNotifValidated: 'sounds/sound-message.mp3',
    notifications: [],
    showNotifDrawer: false,
    notifLoading: false,
    isLogin: false,
    isOnNetwork: false,
    currentNodeName: '',
    currentUserName: '',
    postSelected: null,
    showPostSelected: false,
    context: null,
    countConnected: 0,
  }),

  mounted: function(){
    this.name = localStorage.getItem("name")
    this.baseUrl = localStorage.getItem("baseUrl")
    this.baseUrl = (this.baseUrl == null || this.baseUrl == "") ? config.root_node.url + ":" + config.root_node.port : this.baseUrl
    
    if(localStorage.getItem("lang")) 
      this.$vuetify.lang.current = localStorage.getItem("lang")
    else
      localStorage.setItem("lang", 'fr')

    axios.defaults.baseURL = this.baseUrl 
    localStorage.setItem("baseUrl", this.baseUrl)

    this.isLogin = (localStorage.getItem('access_token') == null) ? false : true
    if(this.isLogin){
      localStorage.getItem("user_name")
      this.currentUserName = localStorage.getItem("user_name")
    }
    if(localStorage.getItem("iname") != null){
        this.isOnNetwork = true
        this.currentNodeName = localStorage.getItem("iname")
      }

    this.$root.$on('setBaseUrl', (baseUrl, name) => { 
      console.log('setBaseUrl', baseUrl)
      this.baseUrl = baseUrl;
      this.name = name;
    })


    this.$root.$on('logout', () => { 
      console.log('$root.$on logout')
      this.isLogin = false
      this.context = null
    })
    this.$root.$on('login', () => { 
      console.log('$root.$on login')
      this.loadContext()
      this.isLogin = true
    })


    this.$root.$off('openPost').$on('openPost', (post) => { 
      this.$nextTick(async () => {
        await this.closePostSelected()
        this.showPostSelected = true
        this.postSelected = null
        this.$root.$emit('showNotifDrawer', false);
        console.log('openPost', typeof this.$refs.postDrawer, post)
        setTimeout(()=>{
          this.postSelected = post
          this.scrollBottomDrawerPost()
          this.setInViewers(post.uid, true)
        }, 300)
        
        
        //this.$root.$emit('updatePostObj');
      });
    })

    this.$root.$on('showNotifDrawer', (bool) => { 
      console.log('showNotifDrawer', bool)
      //if(bool) this.loadNotifications()
      this.showNotifDrawer = bool;
      if(bool) this.updateDateNotif()
    })


    this.$root.$on('updateContext', () => { 
      console.log('updateContext')
      this.loadContext()
    })
    
    this.$root.$on('updateDateNotif', () => { 
      console.log('updateDateNotif')
      this.updateDateNotif()
    })
    this.$root.$on('updateDatePrivate', () => { 
      console.log('updateDatePrivate')
      this.updateDatePrivate()
    })


    if(this.isLogin) this.loadNotifications()

    if(localStorage.getItem("user_page_uid") != null)
      this.loadContext()
    else{
      this.context = false
    }

  },
  created: function(){
    console.log("url socket ?", localStorage.getItem("url"))
    if(localStorage.getItem("url") == null) return

    window.onbeforeunload = function(){
        //var userId = localStorage.getItem("user_page_uid")
        let UID = localStorage.getItem("user_page_uid")
        socket.emit('leave', { UID: UID });
    }

    socket.on('conf-connexion', (data) => {
        console.log("you are connected to the socket server", data)
        //var userId = let UID = localStorage.getItem("user_page_uid")
        let UID = localStorage.getItem("user_page_uid")
        console.log("UID ?", UID)
        if(UID != null) socket.emit('join', { UID: UID })

    });

    socket.on('count-connected', (data) => {
        console.log("your receive count connected", data)
        this.countConnected = data.count
    });

    this.$root.$on('get-count', () => { 
      console.log('get-count')
      socket.emit('get-count')
    })

    socket.emit('get-count')

    socket.on('receive-notif', (data) => {
        console.log("your receive a notification !", data)
        
        //this.snackbarNotifText = "@" + data.authors[data.authors.length-1].name + " : ''" + data.whatObj.text.substr(0,50) +"''"
        this.snackbarColor = "dark"

        if(data.verb != "EMOJI"){ //Emoji are not listed in notifications
          //replace notif if the same exists yet
          let found=-1
          this.notifications.forEach((notif, i) => {
          // console.log("check exists", notif.verb, data.verb
          //         , notif.whatObj.uid, data.whatObj.uid, notif.aboutObj.uid, data.aboutObj.uid)
              if(notif.aboutObj != null)
              if(notif.verb == data.verb && 
                (notif.aboutObj.uid == data.aboutObj.uid)
                ) found = i
              
              if(notif.aboutObj == null)
              if(notif.verb == data.verb && 
                (notif.whatObj.uid == data.whatObj.uid)
                ) found = i
          })
          console.log("check found", found)
          if(found > -1) this.notifications.splice(found, 1)
          this.notifications.unshift(data)

          //show snackbar notification
          if(this.showSnackbar(data) == true) {
            this.snackbarNotif = true
            this.snackNotif = data
          }
        }

        if(data.verb == "COMMENT"){
          //console.log("receive comment WWW", this.postSelected.uid, data.aboutObj.uid)
          if(this.postSelected != null && this.postSelected.uid == data.aboutObj.uid){
              data.whatObj.author = data.authors[0]
              data.whatObj.answers = []
              this.postSelected.comments.push(data.whatObj)
              this.scrollBottomDrawerPost()
          }else{
            this.$root.$emit('receiveNotifComment', data);
          }
        }
        if(data.verb == "LIKES" || data.verb == "DISLIKES"){
          this.$root.$emit('receiveLike', data);
        }
        if(data.verb == "EMOJI"){
          this.$root.$emit('receiveEmoji', data);
        }
        if(data.verb == "VIEWERS"){
          this.$root.$emit('newViewer', data);
          //console.log("notif viewer", data.whatObj.uid, this.postSelected)
          let p = data.whatObj.posAdded
          console.log("newViewer posAdded", p)
          if(this.postSelected != null && data.whatObj.uid == this.postSelected.uid){
            if(p > -1){
              let uidNewR = data.authors[data.authors.length-1]
              this.postSelected.viewers = this.removeUid(this.postSelected.viewers, uidNewR.uid)
            }else{
              let uidNewR = data.authors[data.authors.length-1]
              this.postSelected.viewers.push(uidNewR.uid)
              console.log("notif viewer", uidNewR.uid, this.postSelected.viewers)
            }
          }
          
        }
        console.log("your receive a notification !!!", data.verb)
    });

  
    
  },


  methods: {
    loadContext : async function(){
      try{
          console.log("try to contact /user/context")
          const res = await axios.get('/user/context')
          //console.log("res context 1", res.data)
          this.context = res.data.context

          //console.log("res context 2", this.context)
          //this.goToMainPosition()
        }
        catch(e){
          console.log("error /user/profil", e)
          //router.push("/logout")
        }
    },
    updateDateNotif : async function(){
      const res = await axios.post('/page/update-date-read-notif')

      if(res.data.error == false){
          this.context.userPage.dateReadNotif = res.data.date
      }
    },


    updateDatePrivate : async function(){
      const res = await axios.post('/page/update-date-read-private')

      if(res.data.error == false){
        console.log("dateReadPrivate", this.context.userPage.dateReadPrivate)
          this.context.userPage.dateReadPrivate = res.data.date
        console.log("dateReadPrivate", this.context.userPage.dateReadPrivate)
      }
    },

    removeUid : function(arr, uid){
      console.log("removeUid", arr, uid)
      let pos = arr.indexOf(uid)
      arr.splice(pos, 1)
      return arr
    },
    drawerTransEnd: function(){
      //alert("end")
    },
    showSnackbar: function(data){ console.log("showSnackbar ?", data)
        if((data.verb == "LIKES"   || data.verb == "DISLIKES" 
        ||  data.verb == "VIEWERS" || data.verb == "FAVORITES") 
            && data.whatObj.posAdded > -1) return false

        if(data.verb == "COMMENT" && (this.postSelected != null && data.aboutObj.uid == this.postSelected.uid)) return false
        return true
    },
    playSound: function(soundId){ 
      console.log("playSound", this.soundNotif)
      let audio = document.getElementById(soundId)
      audio.volume = 0.2
      audio.play()
    },
    loadNotifications : async function(){
      this.notifLoading = true
      console.log("loadNotifications")
        const res = await axios.post('/notification/get-my-notifications', {})

      console.log("res /notification/get-my-notifications", res.data.notifications)
      if(res.data.error == false){
          this.notifications = res.data.notifications
      }
      this.notifLoading = false
    },
    closePostSelected: async function(){
      console.log("closePostSelected")
      if(this.postSelected != null)
        this.setInViewers(this.postSelected.uid, false)
      console.log("clear postSelected")
      this.showPostSelected=false
      this.postSelected = null
      
    },
    setInViewers: async function(postUid, bool){
        console.log("setInViewers", bool)
        const res = await axios.post('/publication/action', { 
                                        type : 'viewers',
                                        postUid: postUid,
                                        bool: bool //add or remove from viewers
                                    })

        if(res.data.error == false){
          //if(bool){
            this.postSelected.viewers = res.data.postObj.viewers
            this.postSelected.comments = res.data.postObj.comments
          //}else{
            //let uidNewR = res.data.postObj.authors[res.data.postObj.authors.length-1]
            //this.postSelected.viewers = this.removeUid(this.postSelected.viewers, uidNewR.uid)
          //}
        }
        console.log("res /publication/set-in-viewers", bool, res.data)
    },
    iName: function(pageUid){
      return core.iName(pageUid)
    },
    avatarUrl: function(pageUid){
      return core.avatarUrl(pageUid)
    },
    scrollBottomDrawerPost: function(){
      let id1 = '#drawer-post-selected .v-navigation-drawer__content'
      let id2 = '#drawer-post-selected .v-navigation-drawer__content .singlePost'
      setTimeout(() => {
        document.querySelectorAll(id1)[0].scrollTop = 
          document.querySelectorAll(id2)[0].offsetHeight+250
      }, 500)
    },
  },
  computed: {
    drawerPostStatus: function(){
      console.log("drawerPostStatus change", this.showPostSelected)
      if(this.showPostSelected == false) this.closePostSelected()
      return this.showPostSelected
    }
  }
  
};
</script>
      